extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style

block script


block content

    include module/header
    .abnormal
        .sub-container
            .abnormal-code 404
            .abnormal-txt 很抱歉，页面找不到了！
            .abnormal-link
                a(href="index.html") 返回首页
                a(href="javascript:history.go(-1);") 返回上一页


    include module/footer
