extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style

block script
    script(type='text/javascript',src='static/js/list-after-sales.js')

block content

    include module/header

    .m-news-crumbs.pl-100.pr-100
        ul.clear
            li
                a(href="index.html") 首页
            li
                a(href="javascript:;") 售后服务
    .order
        .sub-container.clear
            .infor-l-nav
                .infor-nav-item
                    dl
                        dt 会员
                        dd
                            a(href="information.html") 个人中心
                        dd
                            a(href="huiyuan-register.html") 会员等级及权益
                        dd
                            a(href="myPoints.html") 我的积分
                        dd
                            a(href="huiyuan-order.html") 积分商城订单
                        dd
                            a(href="huiyuan-take.html") 地址管理
                .infor-nav-item
                    dl
                        dt 产品
                        dd
                            a(href="infor-Collection.html") 我的收藏
                        dd.active
                            a(href="afterSales.html") 售后服务
            .infor-r-con
                .afterSales
                    .u-bd-tit 售后服务
                    .afterSales-btn
                        a(href="https://www.colmo.com.cn/index/service/appointment.html") 预约安装
                        a(href="https://www.colmo.com.cn/index/service/appointment.html") 预约维修
                        a(href="https://www.colmo.com.cn/index/service/appointment.html") 预约保修
                    .u-loading#loading
                        .loading-con
                            img(src="static/img/loading.gif")
                    .loading-header
                        .J-afterSales-table.afterSales-table
                            table#J-list
                                thead
                                    tr
                                        th(style="width:15%") 服务类型
                                        th(style="width:25%") 申请时间与类型
                                        th(style="width:15%") 服务状态
                                        th(style="width:25%") 服务政策参考
                                        th(style="width:20%") 联系工程师
                                tbody
                            .none-sales
                                img(src="static/img/index-font.png")
                                p 您暂时没有服务状态信息，请添加相关产品，获取相关服务
                            include module/page-number

    .J-afterSales-popup.afterSales-popup
        .after-popup-wrap
            a.J-closeSales.closeSales(href="javascript:;")
            .ap-tit 欢迎致电您的专属工程师
            .ap-name 工程师：李工
            .ap-tel 电话：
                a(href="tel:18812346666") 18812346666
            a.J-cancelSales.cancelSales(href="javascript:;") 取消


    include module/footer
