extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style


block script

block content
    include module/header
    .agreement
        #agreement.agreement-content
            h1 COLMO会员注册协议
            p
                | COLMO会员注册协议（以下简称“本协议”）是您与美的旗下的COLMO官方线上平台（包括但不限于COLMO官网（网址：http://www.colmo.com.cn/）、COLMO微信公众号（微信号：COLMO_OFFICIAL）、COLMO天猫旗舰店，以下简称“本平台”）所有者（以下简称"COLMO"）之间就本平台服务等相关事宜所订立的契约。
                strong
                    u
                        | 请您务必审慎阅读、充分理解本协议各条款内容，特别是以粗体下划线标识的免除或者限制责任的条款、法律适用和争议解决等条款，您应重点阅读。您照注册页面提示填写信息、阅读并且同意本协议全部内容，且完成全部注册程序，即表示您已充分阅读、理解并接受本协议的全部内容，并与COLMO达成一致，此时本协议即构成对双方有约束力的法律文件。阅读本协议的过程中，如果您不同意本协议或其中任何条款约定，您应立即停止注册程序。
            p
                strong 第一条 本平台服务条款的确认和接纳
            p 1.1 本平台的各项电子服务的所有权和运作权归COLMO所有，用户同意本协议所有条款并完成注册程序的，即成为本平台的正式会员。
            p
                | 1.2 用户确认： 
                strong
                    u
                        | 在您使用本平台服务前，您应当具备中华人民共和国法律规定的与您行为相适应的民事行为能力并且可以独立承担法律责任，若您不具备前述与您行为相适应的民事行为能力，则您及您的监护人应依照法律规定承担因此而导致的一切后果；同时，您需确保您不是任何国家、国际组织或者地域实施的贸易限制、制裁或其他法律、规则限制的对象，否则您可能无法正常注册并使用本平台服务。
            p 1.3 COLMO通过互联网依法为用户提供各种会员服务。用户必须自行准备如下设备和承担如下开支：
            p (1) 上网设备，包括并不限于电脑或者其他上网终端、调制解调器及其他必备的上网装置；
            p (2) 上网开支，包括并不限于网络接入费、上网设备租用费、手机流量费等。
            p
                | 1.4 
                strong
                    u
                        | 根据国家法律法规及政策变化，或者本平台服务运营的需要，COLMO有权对本协议条款及相关规则不时地进行修改，COLMO将会通过适当方式向您提示修改内容，修改后的内容一旦以任何形式公布在本平台上即生效，并取代此前相关内容，您应不时关注本平台公告、提示信息及协议等相关内容的变动。您知悉并确认，如您不同意更新后的内容，应立即停止使用本平台服务；如您继续使用本平台服务，即视为知悉更新的内容并且同意和接受。
            p
                | 1.5 
                strong
                    u
                        | 本协议条款是处理双方权利义务的契约，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定，COLMO保留在中华人民共和国大陆地区法施行之法律允许的范围内独自决定拒绝服务、关闭用户账户、清除或编辑内容或取消订单的权利。
            p
                strong 第二条 用户信息
            p
                | 2.1 用户应本着诚信原则向本平台提供注册资料，用户承诺其提供的注册资料真实、准确、合法有效，用户注册资料如有变动的，应及时更新其注册资料。
                strong
                    u 如果用户提供的注册资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，并且COLMO保留终止用户使用COLMO各项服务的权利。
            p
                | 2.2 用户在本平台进行注册、浏览、下单购物、预约服务等操作时，涉及用户真实姓名/名称、通信地址、联系电话、电子邮箱等隐私信息的，本平台将予以严格保密，除非得到用户的授权或法律另有规定，本平台不会向外界披露用户隐私信息。
            p
                | 2.3 用户注册成功后，将产生用户名和密码等账户信息，您可以根据本平台规定改变您的密码。用户应谨慎合理地保存、使用其用户名和密码。
                strong
                    u 用户若发现任何非法使用用户账号或存在安全漏洞的情况，请立即通知本平台。
            p
                | 2.4 
                strong
                    u
                        | 用户同意，COLMO拥有通过邮件、短信电话等形式，向在本平台注册、购物用户、收货人发送订单信息、促销活动等告知信息的权利。为改善我们的产品或服务、向您提供个性化的信息搜索及交易服务，我们会根据您的浏览及搜索记录、设备信息、位置信息、订单信息，提取您的浏览、搜索偏好、行为习惯、位置信息等特征，基于特征标签进行间接人群画像并展示、推送信息。如果您不想接受COLMO向您推送的促销活动等商业广告信息，您可以根据退订指示取消信息接收。
            p
                | 2.5 为向您提供更契合您需求的页面展示和搜索结果、了解产品适配性、识别账号异常状态，
                strong
                    u
                        | 我们会收集关于您使用的服务以及使用方式的信息并将这些信息进行关联，这些信息包括：设备信息：我们会根据您在软件安装及使用中授予的具体权限，接收并记录您所使用的设备相关信息（例如设备型号、操作系统版本、设备设置、唯一设备标识符等软硬件特征信息）、设备所在位置相关信息（例如IP 地址、GPS位置以及能够提供相关信息的Wi-Fi接入点、蓝牙和基站等传感器信息）；日志信息：当您使用我们的网站或客户端提供的产品或服务时，我们会自动收集您对我们服务的详细使用情况，作为有关网络日志保存，
                | 例如您的搜索查询内容、IP地址、浏览器的类型、电信运营商、使用的语言、访问日期和时间及您访问的网页记录等。
            p
                | 2.6 
                strong
                    u
                        | 由于您的COLMO账户关联您的个人信息及COLMO平台商业信息，您的COLMO账户仅限您本人使用。未经COLMO同意，用户不得将在本站注册获得的账户借给他人使用，否则用户应承担由此产生的全部责任，并与实际使用人承担连带责任。 如COLMO判断您在本站注册获得的账户的使用可能危及您的账户安全及/或COLMO信息安全的，COLMO可拒绝提供相应服务或终止本协议。
            p
                | 2.7 
                strong
                    u 用户同意，COLMO有权在必要时使用用户的注册信息、用户名、密码等信息，登录进入用户的注册账户，采取证据保全等法律手段，包括但不限于公证、见证等。
            p
                | 2.8 
                strong
                    u
                        | COLMO作为美的旗下平台之一，将与美的平台实现信息共享。COLMO非常重视用户个人信息（即能够独立或与其他信息结合后识别用户身份的信息）的保护，在您使用COLMO提供的服务时，COLMO将按照本协议及隐私政策收集、存储、使用、披露和保护您的个人信息， COLMO希望通过《隐私政策》向您清楚地介绍美的及COLMO对您个人信息的处理方式，因此COLMO建议您完整地阅读《隐私政策》，以帮助您更好地保护您的隐私权。
            p
                strong 第三条 用户依法言行义务
            p 3.1 本协议依据国家相关法律法规规章制定，用户须对自己在网上的言论和行为承担法律责任，用户同意严格遵守以下义务：
            p
                | （1）不得传输或发表：煽动抗拒、破坏宪法和法律、行政法规实施的言论，煽动颠覆国家政权，推翻社会主义制度的言论，煽动分裂国家、破坏国家统一的的言论，煽动民族仇恨、民族歧视、破坏民族团结的言论；
            p （2）从中国大陆向境外传输资料信息时必须符合中国有关法规；
            p （3）不得利用本平台从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动；
            p （4）不得干扰本平台的正常运转，不得侵入本站及国家计算机信息系统；
            p （5）不得传输或发表任何违法犯罪的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的，淫秽的、不文明的等信息资料；
            p （6）不得传输或发表损害国家社会公共利益和涉及国家安全的信息资料或言论；
            p （7）不得教唆他人从事本协议所禁止的行为；
            p （8）不得利用在本平台注册的账户进行牟利性经营活动；
            p （9）不得发布任何侵犯他人著作权、商标权等知识产权或合法权利的内容；
            p
                | 3.2 
                strong
                    u 本平台保有删除平台内各类不符合法律政策或不真实的信息内容而无须通知用户的权利。
            p
                | 3.3 
                strong
                    u
                        | 若用户未遵守以上规定的，本平台有权作出独立判断并采取暂停或关闭用户帐号等措施，并继续保存您留存于本平台的各类信息。对于您过往的违约行为，COLMO仍可依据本协议向您追究违约责任。
            p
                strong 第四条 所有权及知识产权条款
            p
                | 4.1 
                strong
                    u
                        | COLMO是本平台的制作者,拥有本平台内容及资源的著作权等合法权利,受国家法律保护,有权不时地对本协议及本站的内容进行修改，并在本平台张贴，无须另行通知用户。在法律允许的最大限度范围内，COLMO对本协议及本站内容拥有解释权。
            p
                | 4.2 除非本平台另行声明，本平台内的所有产品、技术、软件、程序、数据及其他信息（包括文字、图标、图片、照片、音频、视频、图表、色彩组合、版面设计等）的所有权利（包括版权、商标权、专利权、商业秘密及其他相关权利）均归本平台服务提供者及/或其关联公司所有。未经本平台服务提供者及/或其关联公司许可，
                strong
                    u
                        | 除法律另有强制性规定外，未经COLMO明确的特别书面许可,任何单位或个人不得以包括通过机器人、蜘蛛等程序或设备监视、复制、传播、展示、镜像、上载、下载、转载、引用、链接、抓取或以其他方式非法地使用本站的信息内容，否则，COLMO有权追究其法律责任。
            p
                | 4.3 COLMO反对侵权盗版行为。知识产权权利人认为COLMO平台内容（包括但不限于COLMO平台用户发布的信息）可能涉嫌侵犯其合法权益，可以通过COLMO客服提出书面通知，COLMO收到后将及时处理。
            p
                | 4.4 COLMO尊重用户在本平台产生、发布的知识产权，鉴于本平台的社交服务特性，为了给您提供更加优质的服务和体验，您同意COLMO有权在本平台免费展示、使用您在本平台公开发表的评论、图片、各类话题文章等信息内容。
            p
                strong 第五条 责任限制及不承诺担保
            p
                | 5.1 除非另有明确的书面说明,本平台及其所包含的或以其它方式通过本平台提供给您的全部信息、内容、材料、产品（包括软件）和服务，均是在"按现状"和"按现有"的基础上提供的。
            p
                | 5.2 除非另有明确的书面说明,COLMO不对本平台的运营及其包含在本平台上的信息、内容、材料、产品（包括软件）或服务作任何形式的、明示或默示的声明或担保（根据中华人民共和国法律另有规定的以外）。
            p
                | 5.3COLMO不担保本平台所包含的或以其它方式通过本平台提供给您的全部信息、内容、材料、产品（包括软件）和服务、其服务器或从本平台发出的电子信件、信息没有病毒或其他有害成分。
            p 5.4本平台转载的作品（包括论坛内容）出于传递更多信息之目的，并不意味我们赞同其观点或已经证实其内容的真实性。
            p 5.5 COLMO依照法律规定履行基础保障义务，但对于下述原因导致的合同履行障碍、履行瑕疵、履行延后或履行内容变更等情形，COLMO并不承担相应的违约责任：
            p （1）因自然灾害、罢工、暴乱、战争、政府行为、司法行政命令等不可抗力因素；
            p （2）因电力供应故障、通讯网络故障等公共服务因素或第三人因素；
            p （3）在COLMO已尽善意管理的情况下，因常规或紧急的设备与系统维护、设备与系统故障、网络信息与数据安全等因素；
            p （4）用户因第三方如通讯线路故障、技术问题、网络、移动终端设备故障、系统不稳定性及其他各种不可抗力原因而遭受的一切损失。
            p
                | 本平台同大多数互联网平台一样，受包括但不限于用户原因、网络服务质量、社会环境等因素的差异影响，可能受到各种安全问题的侵扰，如他人利用用户的资料，造成现实生活中的骚扰；用户下载安装的其它软件或访问的其他网站中含有“特洛伊木马”等病毒，威胁到用户的终端设备信息和数据的安全，继而影响本软件的正常使用等等。用户应加强信息安全及使用者资料的保护意识，要注意加强密码保护，以免遭致损失和骚扰。
            p
                strong 第六条 法律管辖和适用
            p
                strong
                    u
                        | 本协议的订立、生效、解释、执行、修订、终止、及争议解决均适用中华人民共和国大陆地区法律（但不包括其冲突法规则）。如发生本协议与适用法律相抵触时，则这些条款将完全按法律规定重新解释，而其它有效条款继续有效。 如缔约方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向本平台下直接与您发生业务表明的主体所在地有管辖权的中华人民共和国大陆地区法院提起诉讼。
            p
                strong 第七条 商品信息
                | （本协议第七至九条在用户与本平台产生线上商品交易时适用）
            p
                strong
                    u 本平台上的商品价格、数量、是否有货等商品信息随时都有可能发生变动，本平台不作特别通知。
                | 由于平台上商品信息的数量极其庞大，虽然本平台会尽最大努力保证您所浏览商品信息的准确性，但由于众所周知的互联网技术因素等客观原因存在，本平台显示的信息可能会有一定的滞后性或差错，对此情形您知悉并理解。
            p
                strong 第八条 订单
            p
                | 8.1 在您下订单时，请您仔细确认所购商品或服务的名称、价格、数量、型号、规格、尺寸、联系地址、电话、收货人等信息准确无误。
                strong
                    u
                        | 如果我们委托第三方向您交付时，我们会在征得您同意后将上述信息共享给第三方。如果您拒绝提供此类信息，我们将无法完成相关交付服务。为完成交易，您可能需要提供支付宝账号、微信账号、银行卡号、京东支付账号等完成支付所必要的信息并选择付款方式，以便我们了解您的支付状态。您可以通过本平台为其他人订购商品或服务，您需要提供该实际订购人的前述个人信息。向本平台提供该实际订购人的前述个人信息之前，您需确保您已经取得其授权同意。收货人与用户本人不一致的，收货人的行为和意思表示视为用户的行为和意思表示，用户同意对收货人的行为及意思表示的法律后果承担连带责任。
            p
                | 8.2 除法律另有强制性规定外，双方约定如下： 
                strong
                    u
                        | 本平台上展示的商品和服务的价格等信息仅仅是要约邀请，您下单时须填写您希望购买的商品数量、价款及支付方式、收货人、联系方式、收货地址（合同履行地点）、合同履行方式等内容；系统生成的订单信息是计算机信息系统根据您填写的内容自动生成的数据，仅是您向本平台发出的合同要约；本平台收到您的订单信息后，只有在本平台将您在订单中订购的商品从仓库实际直接向您发出时（以商品出库为标志）方视为您与本平台之间就实际直接向您发出的商品建立了合同关系；如果您在一份订单里订购了多种商品并且本平台只给您发出了部分商品，您与本平台之间仅就实际直接向您发出的商品建立了合同关系；只有在本平台实际直接向您发出了订单中订购的其他商品时，您和本平台之间就订单中该其他已实际直接向您发出的商品才成立合同关系。您可以随时登录您在本平台注册的账户，查询您的订单状态。
            p
                | 8.3 
                strong
                    u 由于市场变化及各种以合理商业努力难以控制的因素的影响，本平台无法保证您提交的订单信息中希望购买的商品都会有货；如您拟购买的商品，发生缺货，您有权取消订单。
            p
                strong 第九条 配送
            p
                | 9.1 本平台将会把商品送到您所指定的收货地址，所有在本平台上列出的送货时间为参考时间，参考时间的计算是根据库存状况、正常的处理过程和送货时间、送货地点的基础上估计得出的。
            p 9.2 因如下情况造成订单延迟或无法配送等情况的，本平台不承担延迟配送的责任：
            p （1）用户提供的信息错误、地址不详细等原因导致的；
            p （2）货物送达后无人签收，导致无法配送或延迟配送的；
            p （3）情势变更因素导致的；
            p （4）不可抗力因素导致的，例如：自然灾害、交通戒严、突发战争等。
            p
                strong 第十条 用户的违约及处理
            p 10.1 发生如下情形之一的，视为您违约：
            p （1）使用本平台服务时违反有关法律法规规定的；
            p （2）违反本协议或本协议补充协议（即本协议第10.2条）约定的。
            p
                | 为适应电子商务发展和满足海量用户对高效优质服务的需求，您理解并同意， COLMO可在COLMO平台规则中约定违约认定的程序和标准。如：COLMO可依据您的用户数据与海量用户数据的关系来认定您是否构成违约；您有义务对您的数据异常现象进行充分举证和合理解释，否则将被认定为违约。
            p
                | 10.2 您在COLMO平台上实施的行为，或虽未在COLMO平台上实施但对COLMO平台及其用户产生影响的行为构成违约的， COLMO可依据相应规则中止向您提供部分或全部服务等处理措施。如您的行为构成根本违约的，COLMO可查封您的账户，终止向您提供服务。
            p
                | 当您违约的同时存在欺诈、售假、盗用他人账户等特定情形或您存在危及他人交易安全或账户安全风险时， COLMO会依照您行为的风险程度对您的账户采取取消收款、资金止付等强制措施。 COLMO可将对您上述违约行为处理措施信息以及其他经国家行政或司法机关生效法律文书确认的违法信息在COLMO平台上予以公示。
            p
                | 10.3 如您的行为使COLMO及/或其关联公司遭受损失（包括自身的直接经济损失、商誉损失及对外支付的赔偿金、和解款、律师费、诉讼费等间接经济损失），您应赔偿COLMO及/或其关联公司的上述全部损失。
            p 如您的行为使COLMO及/或其关联公司遭受第三人主张权利，COLMO及/或其关联公司可在对第三人承担金钱给付等义务后就全部损失向您追偿。
            p
                | 如因您的行为使得第三人遭受损失或您怠于履行调处决定、COLMO及/或其关联公司出于社会公共利益保护或消费者权益保护目的，可指示支付宝公司自您的支付宝账户中划扣相应款项进行支付。如您的支付宝余额或保证金不足以支付相应款项的，您同意委托COLMO使用自有资金代您支付上述款项，您应当返还该部分费用并赔偿因此造成COLMO的全部损失。
            p
                | 您同意COLMO指示支付宝公司自您的支付宝账户中划扣相应款项支付上述赔偿款项。如您支付宝账户中的款项不足以支付上述赔偿款项的，COLMO及/或关联公司可直接抵减您在COLMO及/或其关联公司其它协议项下的权益，并可继续追偿。
            p
                strong 第十一条 其他
            p
                | 11.1 COLMO尊重用户和消费者的合法权利，本协议及本平台上发布的各类规则、声明等其他内容，均是为了更好的、更加便利的为用户和消费者提供服务。本平台欢迎用户和社会各界提出意见和建议，COLMO将虚心接受并适时修改本协议及本平台上的各类规则。
            p
                | 11.2 由于互联网高速发展，您与COLMO签署的本协议列明的条款并不能完整罗列并覆盖您与COLMO所有权利与义务，现有的约定也不能保证完全符合未来发展的需求。因此，COLMO平台隐私权政策、COLMO平台规则均为本协议的补充协议，与本协议不可分割且具有同等法律效力，如您继续使用COLMO平台服务，视为您同意上述补充协议。
        #policy.agreement-content
            h5
                strong 法律声明（Legal Statement）
            h5
                strong 提示条款
            p
                | 美的提醒您：在使用美的平台各项服务前，请您务必仔细阅读并透彻理解本声明。如对本声明内容有任何疑问，您可向美的平台客服咨询。阅读本声明的过程中，如果您不同意本声明或其中任何内容，您应立即停止使用美的平台服务。如果您使用美的平台服务的，即意味着您认可本声明全部内容。定义
            p
                | 美的平台：指包括但不限于美的商城（域名为 midea.com）、小天鹅商城（域名：littleswan.com）、安得物流（annto.com）、COLMO（域名为colmo.com.cn）、小天鹅i智能app、美居app、直通宝app等网站及客户端。
            p
                | 美的：美的平台经营者的单称或合称，包括但不限于美的商城经营者美的电子商务有限公司、小天鹅商城经营者无锡小天鹅股份有限公司、COLMO经营者上海科慕电器有限公司、美居app经营者美的智慧家居科技有限公司、直通宝app经营者安得物流，以及其他与本协议有关的美的集团、美的集团旗下子公司、分公司及关联公司。
            h5
                strong 权利声明
            h5
                strong 一、权利归属
            p
                | 除非美的另有声明，美的平台内的所有产品、软件、程序、技术、数据及其他信息（包括但不限于文字、图像、照片、图片、视频、音频、图表、版面设计、电子文档）的所有权利（包括但不限于版权、商标权、专利权、商业秘密等知识产权及其他所有相关权利）均归美的或其关联公司所有。未经美的书面许可，任何人不得擅自使用（包括但不限于通过任何机器人、爬虫等程序或设备复制、传播、展示、监视、镜像、上载、下载美的平台内的任何内容）。
            p
                | 美的平台的Logo、“美的'、“Midea'、“小天鹅'、“Littleswan'等文字、图形及其组合，以及美的平台的其他标识、产品和服务名称均为美的及其关联公司在中国和其它国家的商标，未经美的书面授权，任何人不得以任何方式展示、使用或作其他处理，也不得向他人表明您有权展示、使用或作其他处理。
            h5
                strong 知识产权保护（Protection of Intellectual Property Rights）
            p
                | 美的尊重知识产权，反对侵权盗版行为。知识产权权利人认为美的平台内容（包括但不限于美的平台会员发布的商品信息）可能涉嫌侵犯其合法权益，可以通过美的客服提出书面通知，美的收到后将及时处理。
            h5
                strong 责任限制
            p 美的平台对其自行上传的内容在法律框架内承担责任；美的平台对用户自行发表的言论、商品信息等，美的不承担任何责任。
            p
                | 美的平台对部分服务属于电子公告牌（BBS）性质，其中店铺、商品信息（包括但不限于店铺名称、公司名称、 联系人及联络信息、产品的描述和说明、相关图片、视频等）均由会员自行提供并上传，由会员对其提供并上传的所有信息承担相应法律责任。。
            p 用户美的平台转载作品（包括论坛内容）出于传递更多信息之目的，并不意味美的赞同其观点或已经证实其内容的真实性。
            h5
                strong 隐私权政策
            p
                | 本隐私政策于 2018 年08 月 03日更新，美的（下称“我们'）对隐私政策进行了修订，从即日起，除了特定的美的产品或服务提供独立的隐私政策以外，本隐私政策将能够提供有关我们如何管理您在使用所有美的产品或服务时个人信息的隐私详情。
            p
                | 我们非常尊重用户个人信息的保护。保护每个客户的个人隐私是获得和保持利益关系人信任的关键部分。我们希望通过下面列出的隐私政策，向您阐明我们如何致力于保护您的个人信息的安全和隐私。
            p
                | 在您使用美的平台提供的服务时，我们将按照本隐私权政策收集、使用及共享您的个人信息。本隐私权政策包含了我们收集、存储、使用、共享和保护您的个人信息的条款，建议您完整地阅读本隐私权政策，以帮助您了解维护自己隐私权的方式。如您对本隐私权政策有任何疑问，您可以通过美的平台公布的联系方式与我们联系。如果您不同意本隐私权政策任何内容，您应立即停止使用美的平台服务。如您继续使用美的平台的任一服务，即意味着您已同意我们按照本隐私权政策来合法收集、使用、储存和分享您的相关信息。
            h5
                strong 一 我们收集的信息（无论其是否为个人信息）
            p 1、什么是个人信息
            p 个人信息是指能够识别出自然人身份的数据。身份识别，既包括能够通过独立数据判断，也可以与数据控制者拥有或可能拥有的任何其他数据一起使用。
            p 2、我们在处理您的信息时扮演什么角色？
            p
                | 我们是您信息的数据控制者（联系方式如下）。这意味着我们有权决定如何处理您的个人信息以及用于何种目的。我们知道您关心如何使用和分享您的数据，同时我们感谢您的信任，我们将谨慎且理智地做到这一点。
            p 3、您的个人信息何时被收集
            p 我们将在一些特定的场景收集您的个人信息，例如：
            p 当您注册或使用我们的在线服务时(每当您登入或进行使用时) 当您使用我们的服务和产品时 当您通过我方提供给您的联系方式联系我方时
            p 4、我们收集的个人信息
            p
                | 为了向您提供我们的服务，我们需要您提供该服务所必需的个人信息。如果您不提供您的个人信息，我们可能无法向您提供我们相应的服务。我们使用和您沟通后您所提供的数据，来响应您的请求、定制您的服务体验以及改进我们的产品和服务。我们只会收集您选择的服务所必需的、特定的、明确及合法目的的信息，并且不会以与这些目的不相符的方式进一步处理相关信息 根据您选择的服务，我们可能收集以下信息中的一种或多种（无论其是否为个人信息）：
            p
                | （1）您在与我们签订合同时向我们提供的所有数据以及根据您所使用的服务，相应收集的信息：包括您的姓名、性别、出生年月日、身份证号码、护照姓名、护照号码、电话号码、电子邮箱、地址、邮编、银行账号，或通过任何其他方式进行提供给我们的信息。
            p
                | （2）当您使用某些服务时，您有可能还需要向我们提供其他信息，如家庭人数、食材偏好等。若涉及个人敏感信息，例如提供声纹、指纹、面部识别特征、健康生理信息等信息，在收集前我们会有专门的提示，并在可行的情况下提供替代的选择（例如若您拒绝使用面部识别功能识别您的身份，我们会在可行的情况下，允许您选择使用密码验证、证件验证等其他方式）。
            p
                | （3）个人敏感信息特别提醒：某些特殊的个人信息可能被认为是个人敏感信息，例如您的个人身份信息、账户信息、行为信息、生物识别信息和网络身份标识信息、联系方式。在提供此类个人敏感信息前，您需要谨慎考虑，确保准确。美的在此征得您的同意，您同意这些个人敏感信息将按照本隐私权政策所阐明的目的和方式来进行处理。如果您不提供这些信息或提供的信息有误，可能导致我们无法提供服务或影响我们提供服务的准确性。
            p （4）来自设备的信息：我们还可能通过您设备中的软件以及其他方式来收集您使用我们的服务的相关信息，如设备信息、日志信息、位置信息等。
            p
                | 设备信息：您下载或使用美的客户端软件，或访问网页使用美的服务时，美的可能会读取与您移动设备相关的信息，包括但不限于硬件型号、IMEI号码和其他唯一设备标识符、MAC地址、IP地址、操作系统版本以及用于访问服务的设备的设置；读取您使用的美的物联网电器的使用情况，包括但不限于设备型号、设备运行状态、设备使用频次、某些设备内置摄像头可能会拍摄设备的使用情况等。
            p
                | 日志信息：在您使用美的服务，或访问美的网站时，美的自动接收并记录的您的浏览器和计算机上的信息，包括但不限于（1）您的IP地址、浏览器的类型、使用的语言、访问日期和时间、软硬件特征信息及您需求的网页记录等数据；（2）您物联网设备的日志信息。
            p
                | 位置信息（仅适用于特定服务/功能）：您下载或使用美的客户端软件或访问网页，以及使用某些美的服务时，美的可能会读取与您位置相关的各类信息，例如设备的GPS信号或附近的WiFi接入点和手机信号发射塔的相关信息、国家代码、城市代码、移动网络代码、小区标识、经纬度信息和语言设置，这些信息可能会在您使用某些服务时传送给我们。
            p 使用信息：您使用某些美的服务时，美的客户端软件连接的美的设备将上传的测量数据或其他使用信息。
            p （5）第三方来源信息：我们可能会从第三方合作伙伴获得您的信息，例如我们的经销商、您选择连接的第三方社交网络服务等。
            p
                | 我们收集的其它信息：除上述信息外，我们也可能收集其他信息，例如，您参与问卷调查时向我们发送的问卷答复信息、参加用户体验计划以及您与我们以及您与美的合作伙伴之间互动时我们收集的相关信息。我们会在收集时向您说明具体收集的内容和具体的收集方式，征得您的同意。当我们要将基于特定目的收集而来的信息用于其他目的时，会事先征求您的同意。
            p
                | 您可以选择不提供某些类型的信息（例如，位置信息），但这样可能会影响您使用某些服务的能力。例如，如有必要，您可以通过APP、设备本身（适用于部分设备）或恢复出厂设置来单独取消每个联网设备与互联网之间的连接的方式，不向美的服务器传输美的物联网或（2）您只能通过家电本身来操作家电，而无法再通过APP执行操作。再如，您可以通过在手机上关闭APP的位置信息读取权限的方式不向美的服务器传输您的位置信息，或者某些情况下您可以选择本地存储，不予上传。但这会导致您无法使用APP的某些功能。
            h5
                strong 二 我们如何处理您的个人信息
            p
                | 我们会保持您的个人数据及时更新；安全地存储和销毁它；最小化收集和保留我们需要为您提供服务所需的数据；保护个人信息免遭泄露、滥用、未经授权的访问和披露；采取适当的技术措施保护个人信息的安全。
            p 1、我们将您的个人信息用于以下目的：
            p （1）根据我方与您签订的合同向您提供服务。
            p （2）按照我们收集信息时所述的要求提供其他您所要求的服务
            p （3）为了内部管理和后台支持，与全球各地公司的分支机构分享您的联系方式。
            p （4）维持我方储存和处理您个人信息的数据技术系统的完整性和安全性。
            p （5）执行或保护我们的政策或与您签订的合同。
            p （6）检测和调查信息泄露、非法活动和欺诈行为
            p
                | 请注意，以上的使用方式涵盖了美的使用个人信息的主要方式。美的可能时不时地通过更新网站页面、APP版本或设备固件等方式，为用户提供更加多样化的服务。当我们要将信息用于本政策未载明的其他用途时，或要将基于特定目的收集而来的信息用于其他目的时，会以确认协议、具体场景下的确认行为、更新本隐私权协议等形式再次征求您的同意。
            p 2、向我们提供数据的必要性
            p
                | 您没有义务向我们提供任何个人信息。如下所述，是否向我们提供数据的选择权在您手中。但是，请注意，如果没有您的某些信息，我们可能无法根据服务条款向您承担部分或全部义务，或者向您提供我们的全部服务。如果您想获得更多关于此的详细信息，请按照下面联系我们部分中的说明与我们联系。
            p 3、 共享您的资料
            p
                | 您的个人信息将被严格保密，并且只会与下面列出类别的数据接收者共享。我们只会在征得您同意的情况下与公司外部的第三方分享您的信息，并且您将可以选择是否允许我们分享您的信息。
            p
                | （1）美的关联公司。 为便于我们基于美的平台统一帐号系统向您提供服务，推荐您可能感兴趣的信息或保护美的或其他用户或公众的人身财产安全免遭侵害，您的个人信息可能会在美的关联公司之间共享。我们只会共享必要的个人信息，如果我们共享您的个人敏感信息或关联公司改变个人信息的使用及处理目的，将再次征求您的授权同意
            p
                | （2）授权合作伙伴。我们可能与可信的授权合作伙伴共享您的信息。我们可能会向授权合作伙伴共享您的账户信息、设备信息以及位置信息，以保障为您提供的服务顺利完成。但我们仅会出于合法、正当、必要、特定、明确的目的共享您的个人信息，并且只会共享提供服务所必要的个人信息。我们的合作伙伴无权将共享的个人信息用于任何其他用途。目前，我们的授权合作伙伴包括以下类型：
            p 广告、分析服务类的授权合作伙伴。
            p
                | 供应商、服务提供商和其他合作伙伴。我们的供应商和服务提供商包括提供技术服务、电信服务、客户服务、风控服务、审计服务、法律服务的机构、金融机构、电子商务公司及平台、线下卖场等。
            p
                | 对我们与之共享个人信息的公司、组织和个人，我们会与其签署严格的保密协定，并会以适当的方式要求他们按照我们的说明、本隐私权政策以及其他任何相关的保密和安全措施来处理个人信息。在个人敏感数据使用上，我们要求第三方采用加密技术，从而更好地保护用户数据。一经发现其违反协议约定将会采取有效措施乃至终止合作。
            p 遵守法律法规强制性要求、法院命令或政府主管部门要求、维护社会公共利益，或保护我们的客户、美的或美的员工的人身和财产安全或合法权益所合理必需的用途。
            p 单独获得您同意的其他方。除本隐私权政策中描述的共享情况之外，我们也可能在您同意共享或提出共享请求时与第三方共享您的信息。
            p 4、不需要同意的信息
            p 我们可能以汇总的形式与第三方共享匿名信息，用于商业目的；我们可能与其共享我们服务的一般使用趋势，例如在购买某些产品或从事某些交易的特定人群中的客户数量。
            p 为避免疑问，在当地数据保护法律明确许可的范围内且仅限在此情况下，美的才会在未经您同意的情况下收集、使用或披露您的个人信息。
            p 5、 我们持有您的个人信息多久？
            p
                | 我们保留您的个人信息的时间将不超过处理该信息的特定目的的合理需要。如果您将或已经同意我们处理您的个人信息，我们将处理该信息直到您的同意不再有效。尽管如此，我们可能仍会保留您的个人信息，以协助进行任何政府和司法调查，以提请或维护法律请求或民事、刑事或行政程序的目的。如果上述理由不适用于我们所保存的数据，我们将根据数据保护政策以安全的方式删除和销毁您的数据。
            h5
                strong 三 您的权利和义务
            p 您对于您的个人信息拥有以下权利：
            p 1、有权要求我方提供我方所持有的关于您的个人信息的副本;
            p 2、如果发现错误或过期，有权要求我方更正任何个人信息;
            p 3、在不再需要保留这些数据的情况下，请求删除您的个人信息的权利;
            p 4、在我们依赖您的同意来处理数据时，您在任何时候有权撤回该同意;
            p
                | 5、要求我方向您提供您的数据，并在可能的情况下将数据直接传输给另一位数据控制者，其中处理是基于您的同意或是与您签订合同所必需的，并且在任何情况下通过自动化方式处理信息的权利;
            p 6、如果您对我们处理个人信息的准确性或合法性有争议，您有权数据进一步处理进行限制的权利;
            p 7、反对我方使用您的个人信息进行直接营销的权利;
            p 8、关于我方处理您的数据向您的居住地或处理您的数据的欧盟成员国主管当局提出申诉的权利。
            p
                | 9、如果您是《一般数据保护条例》（GDPR）规定范围内的用户，您将有权要求我们删除您的个人数据。我们将会根据您的删除请求进行评估，若满足《一般数据保护条例》（GDPR）规定，我们将会采取包括技术手段在内的相应步骤进行处理。
            p
                | 10、如果您是《一般数据保护条例》（GDPR）规定范围内的用户，您将有权要求我们限制处理您的个人数据。我们将会根据您的限制请求进行评估，若满足《一般数据保护条例》（GDPR）规定，我们将会根据条例中适用的具体情况处理您的数据，并在取消限制处理前通知您。
            p 11、如果您是《一般数据保护条例》（GDPR）规定范围内的用户，您将有权取消基于自动化决策的处理，包括用户画像等可对您产生法律影响或类似影响的自动处理。
            p 12、如果您是《一般数据保护条例》（GDPR）下规定范围内的用户，您将有权以结构化、通用的形式申请您的个人数据并将其转移到其他数据控制者。
            p 如果您想要行使上述任何权利，请按照本政策第十条的联系方式，通过发送电子邮件联系我们进行操作。
            h5
                strong 四 Cookie 和网络 Beacon 的使用
            p
                | 为使您获得更轻松的访问体验，您访问美的平台相关网站或使用美的平台提供的服务时，我们可能会通过Cookie，Flash Cookie，或您的浏览器或关联应用程序提供的其他本地存储（统称“Cookie'），以向您提供个性化的用户体验和服务。
            p
                | 请您理解，我们的某些服务只能通过使用“Cookie'才可得到实现。如果您的浏览器或浏览器附加服务允许，您可以修改对Cookie的接受程度或者拒绝美的的Cookie，但这一举动可能会影响您安全访问美的平台相关网站和使用美的平台提供的服务。
            p
                | 网页上常会包含一些电子图象（称为"单像素" GIF 文件或 "网络 beacon"），使用网络beacon可以帮助网站计算浏览网页的用户或访问某些cookie，我们会通过网络beacon收集您浏览网页活动的信息，例如您访问的页面地址、您先前访问的援引页面的位址、您停留在页面的时间、您的浏览环境以及显示设定等。
            h5
                strong 五 我们如何转让信息
            p 我们不会将您的个人信息转让给任何公司、组织和个人，但以下情况除外：
            p 1. 获得您的明确同意后；
            p
                | 2. 在涉及合并、收购或破产清算时，如涉及到个人信息转让，我们会在要求新的持有您个人信息的公司、组织继续受此隐私权政策的约束，否则我们将要求该公司、组织重新向您征求授权同意。
            h5
                strong 六 我们如何公开披露信息
            p 我们仅会在以下情况下，公开披露您的个人信息：
            p 1. 获得您明确同意后；
            p 2. 基于法律的披露：基于法律法规强制性要求、法院命令或政府主管要求的情况下，我们会公开披露您的个人信息。
            h5
                strong 七 其他重要信息
            p 1、 数据跨境传输
            p
                | 作为一家全球性营运公司，我们须要将您的数据传输到我们全球公司内的其他国家/地区。我们为了加强对个人信息的保护，一方面已经加强了IT安全措施，另一方面与移转方签订按照该国数据标准保护条款，要求移转方承担责任。
            p 2、进一步处理
            p
                | 如果我们希望将您的个人信息用于本数据保护声明未涵盖的新目的，我们将在开始进行此类处理之前向您提供新通知，以列出、解释此新目的和相关处理条件。在这种情况下，我们将为进一步处理获得合法的基础，并且在必要时征求您事先的书面同意以进行进一步处理。
            p 3、安全
            p
                | 我们使用一定的技术手段保护您的数据，最大限度的减少误用、未经授权的存取、未经授权的披露和无法访问的风险。我们使用的部分安全措施包括数据伪匿名化、数据加密、防火墙和数据访问授权控制。我们非常重视数据安全。因此，会定期检查和更新用于保护数据的安全机制，以提供有效的保护手段防范数据滥用。
            p
                | 您的账户均有安全保护功能，请妥善保管您的账户及密码信息。美的将通过向其它服务器备份、对用户密码进行加密等安全措施确保您的信息不丢失，不被滥用和变造。尽管有前述安全措施，但也请您理解，由于技术的限制以及可能存在的各种恶意行为，在互联网上不能保证百分之百的安全。
            p
                | 请您妥善保护自己的个人信息，仅在必要的情形下向他人提供。在您使用我们的服务时所提供、上传、或发布的内容和信息（比如照片），可能会泄露您的敏感个人信息，请您慎重考虑是否在使用使披露。如您发现自己的个人信息泄密，尤其是你的账户及密码发生泄露，请您立即联络美的客服，以便美的采取相应措施。
            p 如果您认为您的数据的安全性受到了损害，或者如果您想了解我们用于保护数据措施的更多信息，请按照下面的“联系我们”部分中的说明与我们联系。
            p 4、我们处理您的个人信息的合法依据
            p
                | 我们通常只会在当您事先明确表示同意后储存和处理您的个人信息。这使得您可以决定是否希望传输您在注册时提供的数据，或对调查进行回复以供我们储存和使用。如果您同意，我们可以使用您的资料来回答问题或改进我们的服务和产品。我们将收集、处理和使用您明确提供的个人信息仅用于传达给您的目的，除非您许可的情况下不会向第三方揭露；除非与您谈判和签订合同需要披露；除非法律要求或遵守政府机构或法院命令，对于建立或维护法律主张或辩护是必要的，此外，还必须防止误用或其他非法活动，例如为维护数据安全故意攻击系统，或是为了直接收集个人信息的原始目的所进行的活动。
            h5
                strong 八 我们如何处理未成年人的个人信息
            p
                | 我们的产品、网站和服务主要面向成人。对于经父母或法定监护人同意而收集未成年人个人信息的情况，我们只会在受到法律允许、父母或监护人明确同意或者保护未成年人所必要的情况下使用或公开披露合法收集到的未成年人的个人信息。
            p
                | 如果我们发现自己在未事先获得可证实的父母或监护人同意的情况下收集了未成年人的个人信息，则会设法尽快删除相关数据。如果家长或监护人有理由相信未成年人未经他们事先同意而向美的提交了个人信息，请联系我们以确保删除此类个人信息，并保证未成年人取消订阅任何适用的美的服务。
            h5
                strong 九 本隐私权政策如何更新
            p
                | 我们的隐私权政策可能变更。未经您明确同意，我们不会削减您按照本隐私权政策所应享有的权利。我们会在本页面上发布对本隐私权政策所做的任何变更。对于重大变更，我们还会提供更为显著的通知（包括对于某些服务，我们会通过电子邮件发送通知，说明隐私权政策的具体变更内容）。本政策所指的重大变更包括但不限于：
            p 1. 我们的服务模式（如处理个人信息的目的、处理的个人信息类型、个人信息的使用方式等）发生重大变化；
            p 2.我们在所有权结构发生重大变化（如业务调整、破产并购等引起的所有者变更）；
            p 3.个人信息公开披露的主要对象发生变化；
            p 4.您参与个人信息处理方面的权利及其行使方式发生重大变化；
            p 5. 我们负责处理个人信息安全的责任部门、联络方式及投诉渠道发生变化时；
            p 6.个人信息安全影响评估报告表明存在高风险时。
            h5
                strong 十 联系我们
            p 1.联系方式
            p 如果您对本隐私权政策有任何疑问、意见或建议，或者您想要行使任何权利，或者您有任何要求要与我们讨论，请通过以下方式与我们处理个人信息保护事宜的部门联系：
            p 电子邮件：【电子邮件: MideaDPO@midea.com】
            p 2.响应您的请求
            p
                | 为保障安全，您可能需要提供书面请求，或以其他方式证明您的身份。一般情况下，我们将在30天内回复。如果您对我们的回复不满意，特别是我们的个人信息处理行为损害了您的合法权益，您还可以向网信、电信、公安及工商等监管部门进行投诉或举报。
            p 我们可能会先要求您验证自己的身份，然后再处理您的请求。我们将在30天内做出答复。如您不满意，还可以通过本节列明的联系方式联系我们进行投诉。
            p
                | 对于您合理的请求，我们原则上不收取费用，但对多次重复、超出合理限度的请求，我们将酌情收取一定的成本费用。对于那些无端重复、需要过多技术手段（例如，需要开发新系统或从根本上改变现行惯例）、给他人合法权益带来风险或者非常不切实际（例如，涉及备份磁带上存放的信息）的请求，我们可能会予以拒绝。
            p 在以下情形中，按照法律法规要求，我们将无法响应您的请求：
            p (1) 与国家安全、国防安全有关的，或者违反政府部门的强制性要求；
            p (2) 与公共安全、公共卫生、重大公共利益有关的；
            p (3) 与犯罪侦查、起诉和审判等有关的；
            p (4) 有充分证据表明您存在主观恶意或滥用权利的；
            p (5) 响应您的请求将导致您或其他个人、组织的合法权益受到严重损害的。
            p (6)涉及商业秘密的。
            p
                | 提示：基于各国和不同司法管辖区法律和监管要求等方面的差别，如您在其他司法管辖区使用我们的服务时发现当地语言版本的隐私权政策，与本隐私权政策有所不同，请以您看到的当地语言版本为准。如有与本隐私权政策或您的个人信息使用相关的事项，请联系您所在地点特定的法律声明页面所载列的联系方式。
    include module/footer