extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style


block script

block content

    include module/header
    .m-sub-banner
        .cm-con
            .sub-banner-con
                img(src="static/img/sub-banner02.jpg")
                .sub-banner-txt
                    .txt-table
                        .txt-table-cell
                            h1 每味鲜至
    .sub-page
        .bx-nav
            .sub-container
                h3.sub-tit 冰箱
                .bx-nav-swiper
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide.noSwiping
                                a(href="javascript:load(1);")
                                    span.bx-icon.kt(style="background-image: url('static/img/nav-pro-icon02.png')")
                                    span.bx-txt 空调
                            .swiper-slide.noSwiping
                                a(href="javascript:load(2);")
                                    span.bx-icon.xyj(style="background-image: url('static/img/nav-pro-icon03.png')")
                                    span.bx-txt 洗衣机
                            .swiper-slide.noSwiping
                                a(href="javascript:load(1);")
                                    span.bx-icon.rsq(style="background-image: url('static/img/nav-pro-icon05.png')")
                                    span.bx-txt 热水器
                            .swiper-slide.noSwiping
                                a(href="javascript:load(1);")
                                    span.bx-icon.cfdq(style="background-image: url('static/img/nav-pro-icon06.png')")
                                    span.bx-txt 厨房电器
                            .swiper-slide.noSwiping
                                a(href="javascript:load(1);")
                                    span.bx-icon.sb(style="background-image: url('static/img/nav-pro-icon07.png')")
                                    span.bx-txt 水吧
                            .swiper-slide.noSwiping
                                a(href="javascript:load(1);")
                                    span.bx-icon.shjd(style="background-image: url('static/img/nav-pro-icon08.png')")
                                    span.bx-txt 生活家电
                            .swiper-slide.noSwiping
                                a(href="javascript:load(1);")
                                    span.bx-icon.sb(style="background-image: url('static/img/nav-pro-icon07.png')")
                                    span.bx-txt 水吧
                            .swiper-slide.noSwiping
                                a(href="javascript:load(1);")
                                    span.bx-icon.shjd(style="background-image: url('static/img/nav-pro-icon08.png')")
                                    span.bx-txt 生活家电
                    .swiper-button-next.btn-next
                    .swiper-button-prev.btn-prev
        #loading
            .loading-con
                img(src="static/img/loading.gif")
        .cf-allpro
    include module/footer