extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style

block script

block content

    include module/header
    .m-sub-banner
        .cm-con
            .sub-banner-con
                img(src="" data-src-pc="static/img/banner-hd.png" data-src-mobile="static/img/sub-mobile-banner.jpg")
                .sub-banner-txt
                    .txt-table
                        .txt-table-cell
                            h1 品牌活动
    .m-news-crumbs.pl-100.pr-100
        ul.clear
            li
                a(href="index.html") 首页
            li
                a(href="javascript:;") 品牌
            li
                a(href="javascript:;") 品牌活动
    .activity-wrap
        .activity-con
            .newest.ac-item
                .u-club-tit 最新动态
                .J-data-list.data-list
                    .activity-item
                        a(href="javascript:;")
                            .ac-img
                                img(src="static/img/brand-img01.jpg")
                            .ac-text
                                .ac-tit 至“净”▪ 无畏 - 对话单板滑雪U型池世界冠军张义威：以极致，挑战极限
                                .ac-data
                                    span.ac-time 2020-02-28
                                    span.ac-city(style="background-image: url('static/img/location-icon.png')") 广州
                    .activity-item
                        a(href="javascript:;")
                            .ac-img
                                img(src="static/img/brand-img02.jpg")
                            .ac-text
                                .ac-tit COLMO助力2019 沸雪AIR+STYLE 圆满落幕 引领全球菁英用户高阶生活之美
                                .ac-data
                                    span.ac-time 2020-02-28
                                    span.ac-city(style="background-image: url('static/img/location-icon.png')") 广州
                    .activity-item
                        a(href="javascript:;")
                            .ac-img
                                img(src="static/img/brand-img03.jpg")
                            .ac-text
                                .ac-tit COLMO新品发布及BLANC全套系展出 以高端产品质感演绎理性美学语言
                                .ac-data
                                    span.ac-time 2020-02-28
                                    span.ac-city(style="background-image: url('static/img/location-icon.png')") 广州
                    .activity-item
                        a(href="javascript:;")
                            .ac-img
                                img(src="static/img/brand-img04.jpg")
                            .ac-text
                                .ac-tit COLMO在全球时尚与设计之都米兰设立了前沿设计中心融合现代新包豪斯主义设计理念
                                .ac-data
                                    span.ac-time 2020-02-28
                                    span.ac-city(style="background-image: url('static/img/location-icon.png')") 广州
                    .activity-item
                        a(href="javascript:;")
                            .ac-img
                                img(src="static/img/brand-img02.jpg")
                            .ac-text
                                .ac-tit COLMO助力2019 沸雪AIR+STYLE 圆满落幕 引领全球菁英用户高阶生活之美
                                .ac-data
                                    span.ac-time 2020-02-28
                                    span.ac-city(style="background-image: url('static/img/location-icon.png')") 广州
                    .activity-item
                        a(href="javascript:;")
                            .ac-img
                                img(src="static/img/brand-img03.jpg")
                            .ac-text
                                .ac-tit COLMO新品发布及BLANC全套系展出 以高端产品质感演绎理性美学语言
                                .ac-data
                                    span.ac-time 2020-02-28
                                    span.ac-city(style="background-image: url('static/img/location-icon.png')") 广州
                    .activity-item
                        a(href="javascript:;")
                            .ac-img
                                img(src="static/img/brand-img04.jpg")
                            .ac-text
                                .ac-tit COLMO在全球时尚与设计之都米兰设立了前沿设计中心融合现代新包豪斯主义设计理念
                                .ac-data
                                    span.ac-time 2020-02-28
                                    span.ac-city(style="background-image: url('static/img/location-icon.png')") 广州
                .J-activity-list.m-activity-list.clear
                .J-activity-more.activity-more
                    a.u-Btn(href="javascript:;") 更多活动

            .padtPeriod.ac-item
                .u-club-tit 品牌资讯
                .m-activity-list.clear
                    .activity-item
                        a(href="javascript:;")
                            .ac-img
                                img(src="static/img/brand-img05.jpg")
                            .ac-text
                                .ac-tit COLMO携手《尔雅》听梁文道讲述风雨十四载传奇上百年的包豪斯革命
                                .ac-data
                                    span.ac-time 2020-02-28
                    .activity-item
                        a(href="javascript:;")
                            .ac-img
                                img(src="static/img/brand-img06.jpg")
                            .ac-text
                                .ac-tit COLMO 揽获8项IF设计大奖，以理性美学引领家电设计风尚
                                .ac-data
                                    span.ac-time 2020-02-28
                    .activity-item
                        a(href="javascript:;")
                            .ac-img
                                img(src="static/img/brand-img07.jpg")
                            .ac-text
                                .ac-tit COLMO助力2019 沸雪AIR+STYLE 圆满落幕 引领全球菁英用户高阶生活之美
                                .ac-data
                                    span.ac-time 2020-02-28
                    .activity-item
                        a(href="javascript:;")
                            .ac-img
                                img(src="static/img/brand-img08.jpg")
                            .ac-text
                                .ac-tit COLMO对话设计大师：以理性美学定义家居生活高级感
                                .ac-data
                                    span.ac-time 2020-02-28
                    .activity-item
                        a(href="javascript:;")
                            .ac-img
                                img(src="static/img/brand-img09.jpg")
                            .ac-text
                                .ac-tit 来自家电界的自然异想，COLMO跨界美学通向未来人居
                                .ac-data
                                    span.ac-time 2020-02-28
                    .activity-item
                        a(href="javascript:;")
                            .ac-img
                                img(src="static/img/brand-img10.jpg")
                            .ac-text
                                .ac-tit COLMO图灵空调2019IFA惊艳首秀
                                .ac-data
                                    span.ac-time 2020-02-28

    include module/footer