extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style


block script
    script(type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&ak=4nIStvWr5Mea1xawRSavacbKpagq2ahm")

block content

    include module/header

    .J-index-banner.index-banner.mb-100
        .cm-con.mr-100.ml-100
            .index-banner-warp
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            img(src="" data-src-pc="static/img/buy-details.jpg" data-src-mobile="static/img/sub-mobile-banner.jpg")
                        .swiper-slide
                            img(src="" data-src-pc="static/img/buy-details.jpg" data-src-mobile="static/img/sub-mobile-banner.jpg")
                        .swiper-slide
                            img(src="" data-src-pc="static/img/buy-details.jpg" data-src-mobile="static/img/sub-mobile-banner.jpg")
                .swiper-pagination.pagination

    .sub-page
        .buy-data
            .cm-con.mr-100.ml-100.clear
                .buy-data-map
                    #sub-map
                .buy-data-txt
                    h3 COLMO白玉兰店
                    p.buy-data-p
                        span 地址
                        | ：广州市番禺区中华大道109号
                    p.buy-data-p
                        span 服务电话
                        | ：13305327801
                    p.buy-data-p
                        span 营业时间
                        | ：9:00-21:00
                    .pro-type-txt 产品类别：空调、冰箱、卫浴、灶具、煮饭机器人、净水机

        .buy-other.mr-100.ml-100
            .sub-container
                .buy-other-tit
                    .sub-tit(style="background-image: url('static/img/location-icon.png');") 该区域的其他门店
                .J-buy-other-swiper.buy-other-swiper
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .buy-md-txt
                                    h4(title="COLMO百玛家居店") COLMO百玛家居店
                                    p.buy-md-p(title="上海市辖区通州区运河西大街13号万达广场") 上海市辖区通州区运河西大街13号万达广场
                                    a(href="javascript:;") 了解详情
                            .swiper-slide
                                .buy-md-txt
                                    h4(title="COLMO百玛家居店") COLMO百玛家居店
                                    p.buy-md-p(title="上海市辖区通州区运河西大街13号万达广场") 上海市辖区通州区运河西大街13号万达广场
                                    a(href="javascript:;") 了解详情
                            .swiper-slide
                                .buy-md-txt
                                    h4(title="COLMO百玛家居店") COLMO百玛家居店
                                    p.buy-md-p(title="上海市辖区通州区运河西大街13号万达广场") 上海市辖区通州区运河西大街13号万达广场
                                    a(href="javascript:;") 了解详情
                            .swiper-slide
                                .buy-md-txt
                                    h4(title="COLMO百玛家居店") COLMO百玛家居店
                                    p.buy-md-p(title="上海市辖区通州区运河西大街13号万达广场") 上海市辖区通州区运河西大街13号万达广场
                                    a(href="javascript:;") 了解详情
                            .swiper-slide
                                .buy-md-txt
                                    h4(title="COLMO百玛家居店") COLMO百玛家居店
                                    p.buy-md-p(title="上海市辖区通州区运河西大街13号万达广场") 上海市辖区通州区运河西大街13号万达广场
                                    a(href="javascript:;") 了解详情
                            .swiper-slide
                                .buy-md-txt
                                    h4(title="COLMO百玛家居店") COLMO百玛家居店
                                    p.buy-md-p(title="上海市辖区通州区运河西大街13号万达广场") 上海市辖区通州区运河西大街13号万达广场
                                    a(href="javascript:;") 了解详情
                    .swiper-button-prev
                    .swiper-button-next



    include module/footer

