extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style


block script

block content

    include module/header
    .m-sub-banner
        .cm-con
            .sub-banner-con
                img(src="static/img/sub-banner01.jpg" )
                .sub-banner-txt
                    .txt-table
                        .txt-table-cell
                            h1 厨房美学
    .sub-page
        h3.sub-tit 厨房电器
        .cf-nav
            .sub-container
                ul.clear
                    li
                        a(href="javascript:;")
                            img(src="static/img/nav-pro-child01.png")
                            span.cf-nav-name 冰箱
                    li
                        a(href="javascript:;")
                            img(src="static/img/nav-pro-child02.png")
                            span.cf-nav-name 烟机
                    li
                        a(href="javascript:;")
                            img(src="static/img/nav-pro-child03.png")
                            span.cf-nav-name 灶具
                    li
                        a(href="javascript:;")
                            img(src="static/img/nav-pro-child04.png")
                            span.cf-nav-name 洗碗机
                    li
                        a(href="javascript:;")
                            img(src="static/img/nav-pro-child05.png")
                            span.cf-nav-name 厨房净水机
                    li
                        a(href="javascript:;")
                            img(src="static/img/nav-pro-child06.png")
                            span.cf-nav-name 蒸箱
                    li
                        a(href="javascript:;")
                            img(src="static/img/nav-pro-child07.png")
                            span.cf-nav-name 烤箱
                    li
                        a(href="javascript:;")
                            img(src="static/img/nav-pro-child08.png")
                            span.cf-nav-name 煮饭机器人
        .cf-allpro
            h3.sub-tit 厨房电器全部产品
            .sub-container
                .cf-pro-list.clear
                    .cf-pro-item
                        a(href="javascript:;")
                            span COLMO BLANC 油烟机
                            img(src="static/img/cf-pro-img01.png")
                    .cf-pro-item
                        a(href="javascript:;")
                            span COLMO BLANC 冰箱
                            img(src="static/img/cf-pro-img02.png")
                    .cf-pro-item
                        a(href="javascript:;")
                            span COLMO EVO 系列S83烟机
                            img(src="static/img/cf-pro-img03.png")
                    .cf-pro-item
                        a(href="javascript:;")
                            span COLMO 熔幔岩对开门冰箱
                            img(src="static/img/cf-pro-img04.png")
                    .cf-pro-item
                        a(href="javascript:;")
                            span COLMO BLANC 煮饭机器人
                            img(src="static/img/cf-pro-img05.png")
                    .cf-pro-item
                        a(href="javascript:;")
                            span EVO 系列QF6灶具
                            img(src="static/img/cf-pro-img06.png")
                    .cf-pro-item
                        a(href="javascript:;")
                            span COLMO 熔幔岩对开门冰箱
                            img(src="static/img/cf-pro-img07.png")
                    .cf-pro-item
                        a(href="javascript:;")
                            span COLMO BLANC 洗碗机
                            img(src="static/img/cf-pro-img08.png")
                    .cf-pro-item
                        a(href="javascript:;")
                            span COLMO BLANC 油烟机
                            img(src="static/img/cf-pro-img01.png")
                    .cf-pro-item
                        a(href="javascript:;")
                            span COLMO BLANC 冰箱
                            img(src="static/img/cf-pro-img02.png")
                    .cf-pro-item
                        a(href="javascript:;")
                            span COLMO EVO 系列S83烟机
                            img(src="static/img/cf-pro-img03.png")
                    .cf-pro-item
                        a(href="javascript:;")
                            span COLMO 熔幔岩对开门冰箱
                            img(src="static/img/cf-pro-img04.png")





    include module/footer