extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style

block script
    script(type='text/javascript',src='static/js/list.js')
    script(type='text/javascript',src='static/js/pro-compare.js')

block content

    include module/header

    .sub-page
        .J-bx-nav.bx-nav#toper
            .sub-container
                .sub-tit 空调
                    span.icon(style="background-image: url('static/img/nav-pro-icon02.png')")
                .bx-nav-swiper
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide.noSwiping
                                a(href="javascript:load(1);")
                                    span.bx-icon.kt(style="background-image: url('static/img/nav-pro-icon02.png')")
                                    span.bx-txt
                                        em 空调空调空调空调
                            .swiper-slide.noSwiping
                                a(href="javascript:load(2);")
                                    span.bx-icon.xyj(style="background-image: url('static/img/nav-pro-icon03.png')")
                                    span.bx-txt
                                        em 洗衣机
                            .swiper-slide.noSwiping
                                a(href="javascript:load(1);")
                                    span.bx-icon.rsq(style="background-image: url('static/img/nav-pro-icon05.png')")
                                    span.bx-txt
                                        em 热水器
                            .swiper-slide.noSwiping
                                a(href="javascript:load(1);")
                                    span.bx-icon.cfdq(style="background-image: url('static/img/nav-pro-icon06.png')")
                                    span.bx-txt
                                        em 厨房电器
                            .swiper-slide.noSwiping
                                a(href="javascript:load(1);")
                                    span.bx-icon.sb(style="background-image: url('static/img/nav-pro-icon07.png')")
                                    span.bx-txt
                                        em 水吧
                            .swiper-slide.noSwiping
                                a(href="javascript:load(1);")
                                    span.bx-icon.shjd(style="background-image: url('static/img/nav-pro-icon08.png')")
                                    span.bx-txt
                                        em 生活家电
                            .swiper-slide.noSwiping
                                a(href="javascript:load(1);")
                                    span.bx-icon.sb(style="background-image: url('static/img/nav-pro-icon07.png')")
                                    span.bx-txt
                                        em 水吧
                            .swiper-slide.noSwiping
                                a(href="javascript:load(1);")
                                    span.bx-icon.shjd(style="background-image: url('static/img/nav-pro-icon08.png')")
                                    span.bx-txt
                                        em 生活家电
                    .swiper-button-next.btn-next
                    .swiper-button-prev.btn-prev
        .compare-box
            .sub-container
                .compare-top-pro.clear
                    .compare-top-l
                        .c-t-tit 产品对比
                        .c-t-num 共
                            span#num 3
                            |款产品
                        .c-t-clear
                            a.J-clear(href="javascript:;") 清空所有产品
                        .c-t-fun
                            a.J-fun-highlight(href="javascript:;") 高亮显示不同项
                            a.J-fun-hide(href="javascript:;") 隐藏相同项
                    .compare-top-r
                        .c-top-r-list.clear
                            //.c-top-r-item
                            //    .c-item-row
                            //        .J-close-c-item.close-c-item
                            //        a(href="javascript:;")
                            //            img(src="static/img/cf-pro-img04.png")
                            //            .c-item-txt
                            //                .c-top-pro-name COLMO 熔幔岩对开门冰箱
                            //                .c-top-pro-model CXEP1022
                            //.c-top-r-item
                            //    .c-item-row
                            //        .J-close-c-item.close-c-item
                            //        a(href="javascript:;")
                            //            img(src="static/img/cf-pro-img02.png")
                            //            .c-item-txt
                            //                .c-top-pro-name COLMO BLANC 冰箱
                            //                .c-top-pro-model CXEP12
                            //.c-top-r-item
                            //    .c-item-row
                            //        .J-close-c-item.close-c-item
                            //        a(href="javascript:;")
                            //            img(src="static/img/cf-pro-img07.png")
                            //            .c-item-txt
                            //                .c-top-pro-name COLMO 熔幔岩对开门冰箱
                            //                .c-top-pro-model CX022
                            .c-top-r-item
                                .c-item-row.addBox
                                    a.add(href="product-kongtiao.html#compared")
                                        img(src="static/img/cf-pro-zwImg.png")
                                        .c-item-add-link
                                            span +
                                            p 添加一款产品
                                        .c-item-add-ts
                                            p “最多可添加4款产品”
        .compare-parameter
            .sub-container
                .parameter-item.active
                    .parameter-item-tit
                        a.J-pSlideBtn(href="javascript:;") 基本参数
                    .parameter-item-data
                        .table_compareCon
                            .table_compareBoxL
                                span 外观颜色
                            .table_compareBoxR
                                dl
                                    dd 晶钻紫
                                    dd 晶钻紫
                                    dd 晶钻紫
                                    dd &nbsp;
                        .table_compareCon
                            .table_compareBoxL
                                span 烘干容量（kg）
                            .table_compareBoxR
                                dl
                                    dd 17
                                    dd 26
                                    dd &nbsp;
                                    dd &nbsp;
                        .table_compareCon
                            .table_compareBoxL
                                span 加热功率（W）
                            .table_compareBoxR
                                dl
                                    dd 25
                                    dd 25
                                    dd 25
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 净重（kg）
                            .table_compareBoxR
                                dl
                                    dd 138
                                    dd 138
                                    dd 138
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 产品尺寸（深*宽*高mm）
                            .table_compareBoxR
                                dl
                                    dd 695*600*1500
                                    dd 595*701*985
                                    dd
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 显示方式
                            .table_compareBoxR
                                dl
                                    dd TFT
                                    dd TFT
                                    dd TFT
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 产品类别
                            .table_compareBoxR
                                dl
                                    dd 复式双滚筒洗衣机
                                    dd 欧式滚筒洗衣机
                                    dd 波轮洗衣机
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 宽度
                            .table_compareBoxR
                                dl
                                    dd 600
                                    dd 701
                                    dd 602
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 价格
                            .table_compareBoxR
                                dl
                                    dd 100000
                                    dd
                                    dd
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 洗涤容量（kg）
                            .table_compareBoxR
                                dl
                                    dd 13
                                    dd 15
                                    dd 12
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 排水方式
                            .table_compareBoxR
                                dl
                                    dd 下排水
                                    dd
                                    dd
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 箱体颜色
                            .table_compareBoxR
                                dl
                                    dd 晶钻紫
                                    dd 晶钻紫
                                    dd 晶钻紫
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 面板颜色
                            .table_compareBoxR
                                dl
                                    dd
                                    dd 黑色
                                    dd
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 重量（净重/毛重kg）
                            .table_compareBoxR
                                dl
                                    dd
                                    dd
                                    dd 62/68
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 按键方式
                            .table_compareBoxR
                                dl
                                    dd
                                    dd
                                    dd 触控
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 产品尺寸（长*款*高）
                            .table_compareBoxR
                                dl
                                    dd
                                    dd
                                    dd 586*602*1035
                                    dd
                .parameter-item.active
                    .parameter-item-tit
                        a.J-pSlideBtn(href="javascript:;") 技术配置
                    .parameter-item-data
                        .table_compareCon
                            .table_compareBoxL
                                span 外观颜色
                            .table_compareBoxR
                                dl
                                    dd 晶钻紫
                                    dd 晶钻蓝
                                    dd 晶钻黑
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 烘干容量（kg）
                            .table_compareBoxR
                                dl
                                    dd 17
                                    dd 26
                                    dd
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 加热功率（W）
                            .table_compareBoxR
                                dl
                                    dd 25
                                    dd 26
                                    dd 27
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 净重（kg）
                            .table_compareBoxR
                                dl
                                    dd 138
                                    dd
                                    dd
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 产品尺寸（深*宽*高mm）
                            .table_compareBoxR
                                dl
                                    dd 695*600*1500
                                    dd 595*701*985
                                    dd
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 显示方式
                            .table_compareBoxR
                                dl
                                    dd TFT
                                    dd
                                    dd
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 产品类别
                            .table_compareBoxR
                                dl
                                    dd 复式双滚筒洗衣机
                                    dd 欧式滚筒洗衣机
                                    dd 波轮洗衣机
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 宽度
                            .table_compareBoxR
                                dl
                                    dd 600
                                    dd 701
                                    dd 602
                                    dd
                .parameter-item.active
                    .parameter-item-tit
                        a.J-pSlideBtn(href="javascript:;") 性能
                    .parameter-item-data
                        .table_compareCon
                            .table_compareBoxL
                                span 外观颜色
                            .table_compareBoxR
                                dl
                                    dd 晶钻紫
                                    dd 晶钻蓝
                                    dd 晶钻黑
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 烘干容量（kg）
                            .table_compareBoxR
                                dl
                                    dd 17
                                    dd 26
                                    dd
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 加热功率（W）
                            .table_compareBoxR
                                dl
                                    dd 25
                                    dd 26
                                    dd 27
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 净重（kg）
                            .table_compareBoxR
                                dl
                                    dd 138
                                    dd
                                    dd
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 产品尺寸（深*宽*高mm）
                            .table_compareBoxR
                                dl
                                    dd 695*600*1500
                                    dd 595*701*985
                                    dd
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 显示方式
                            .table_compareBoxR
                                dl
                                    dd TFT
                                    dd
                                    dd
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 产品类别
                            .table_compareBoxR
                                dl
                                    dd 复式双滚筒洗衣机
                                    dd 欧式滚筒洗衣机
                                    dd 波轮洗衣机
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 宽度
                            .table_compareBoxR
                                dl
                                    dd 600
                                    dd 701
                                    dd 602
                                    dd
                .parameter-item.active
                    .parameter-item-tit
                        a.J-pSlideBtn(href="javascript:;") 特色功能
                    .parameter-item-data
                        .table_compareCon
                            .table_compareBoxL
                                span 外观颜色
                            .table_compareBoxR
                                dl
                                    dd 晶钻紫
                                    dd 晶钻蓝
                                    dd 晶钻黑
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 烘干容量（kg）
                            .table_compareBoxR
                                dl
                                    dd 17
                                    dd 26
                                    dd
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 加热功率（W）
                            .table_compareBoxR
                                dl
                                    dd 25
                                    dd 26
                                    dd 27
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 净重（kg）
                            .table_compareBoxR
                                dl
                                    dd 138
                                    dd
                                    dd
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 产品尺寸（深*宽*高mm）
                            .table_compareBoxR
                                dl
                                    dd 695*600*1500
                                    dd 595*701*985
                                    dd
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 显示方式
                            .table_compareBoxR
                                dl
                                    dd TFT
                                    dd
                                    dd
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 产品类别
                            .table_compareBoxR
                                dl
                                    dd 复式双滚筒洗衣机
                                    dd 欧式滚筒洗衣机
                                    dd 波轮洗衣机
                                    dd
                        .table_compareCon
                            .table_compareBoxL
                                span 宽度
                            .table_compareBoxR
                                dl
                                    dd 600
                                    dd 701
                                    dd 602
                                    dd





    include module/footer

