extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style


block script

block content

    include module/header
    .m-news-crumbs.pl-100.pr-100
        ul.clear
            li
                a(href="index.html") 首页
            li
                a(href="javascript:;") 会员等级及权益
    .J-register.register
        .register-con.clear
            .infor-l-nav
                .infor-nav-item
                    dl
                        dt 会员
                        dd
                            a(href="information.html") 个人中心
                        dd.active
                            a(href="huiyuan-register.html") 会员等级及权益
                        dd
                            a(href="myPoints.html") 我的积分
                        dd
                            a(href="huiyuan-order.html") 积分商城订单
                        dd
                            a(href="huiyuan-take.html") 地址管理
                .infor-nav-item
                    dl
                        dt 产品
                        dd
                            a(href="infor-Collection.html") 我的收藏
                        dd
                            a(href="afterSales.html") 售后服务
            .infor-r-con
                .reg-hi
                    .u-bd-tit 会员等级及权益
                    .u-club-tit HI!
                        img(src="static/img/tansuo-logo.png")
                    .J-reg-swiper.reg-swiper
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide(data-show="1")
                                    img(src="static/img/club-icon05.png")
                                    span(style="background-image:url('static/img/reg-icon.png')") 白银会员
                                .swiper-slide(data-show="1,4,5")
                                    img(src="static/img/club-icon06.png")
                                    span(style="background-image:url('static/img/reg-icon.png')") 黄金会员
                                .swiper-slide(data-show="1,2,4,5")
                                    img(src="static/img/club-icon07.png")
                                    span(style="background-image:url('static/img/reg-icon.png')") 铂金会员
                                .swiper-slide(data-show="1,2,3,4,5")
                                    img(src="static/img/club-icon08.png")
                                    span(style="background-image:url('static/img/reg-icon.png')") 钻石会员
                                .swiper-slide(data-show="1,2,3,4,5")
                                    img(src="static/img/club-icon09.png")
                                    span(style="background-image:url('static/img/reg-icon.png')") 黑金会员
                        .swiper-button-next.J-reg-btn-next.reg-btn-next
                        .swiper-button-prev.J-reg-btn-prev.reg-btn-prev
                    .J-reg-page.reg-page.clear
                        .reg-page-item.active
                            img(src="static/img/club-icon05.png")
                            span 白银
                        .reg-page-item
                            img(src="static/img/club-icon06.png")
                            span 黄金
                        .reg-page-item
                            img(src="static/img/club-icon07.png")
                            span 铂金
                        .reg-page-item
                            img(src="static/img/club-icon08.png")
                            span 钻石
                        .reg-page-item
                            img(src="static/img/club-icon09.png")
                            span 黑金
                    .J-reg-hi-ws.reg-hi-ws
                        .reg-hi-ws-item.active
                            p.hiP 完成COLMO CLUB账户注册
                            span 即可成为白银会员
                        .reg-hi-ws-item
                            p.hiP 购买任意1件COLMO产品
                            span 即可成为黄金会员
                        .reg-hi-ws-item
                            p.hiP 购买任意COLMO产品累计满2万元
                            span 即可成为铂金会员
                        .reg-hi-ws-item
                            p.hiP 购买任意COLMO产品累计满6万元
                            span 即可成为钻石会员
                        .reg-hi-ws-item
                            p.hiP 购买任意COLMO产品累计满12万元
                            span 即可成为黑金会员
                .reg-ly
                    .u-club-tit 会员尊享礼遇
                    .J-reg-ly-list.reg-ly-list.clear
                        .J-reg-ly-item.reg-ly-item
                            img(src="static/img/ly-icon01-on.png")
                            span 积分礼赏
                            .J-club-equity-fixed.club-equity-fixed
                                .club-equity-txt
                                    img(src="static/img/ly-icon01.png")
                                    span.equity-sp2 积分礼赏
                                    p.equityP 您可以通过购物、参与活动等方式赚取积分。其中，在指定门店购买COLMO产品，可按有效消费金额赚取积分，具体为每10元人民币消费金额，可获得1个积分，您可以登录积分商城，使用积分兑换指定合作礼品、活动门票等会员礼赏。
                                    a(href="javascript:;") 返回
                        .J-reg-ly-item.reg-ly-item
                            img(src="static/img/ly-icon07.png")
                            span 延长保修
                            .J-club-equity-fixed.club-equity-fixed
                                .club-equity-txt
                                    img(src="static/img/ly-icon07.png")
                                    span.equity-sp2 延长保修
                                    p.equityP 当您成为铂金、钻石或黑金等级会员后，购买冰箱、洗衣机、厨房电器、热水器的指定类别产品，将收到我们为您发送的一张延长保修券（采用电子券的形式），添加至您的COLMO CLUB个人账户，您可登录会员中心，在我的礼券中查看并进行绑定。请您留意礼券使用说明，了解关于延长保修服务的更多详情。
                                    a(href="javascript:;") 返回
                        .J-reg-ly-item.reg-ly-item
                            img(src="static/img/ly-icon08.png")
                            span 免费清洗
                            .J-club-equity-fixed.club-equity-fixed
                                .club-equity-txt
                                    img(src="static/img/ly-icon08.png")
                                    span.equity-sp2 免费清洗
                                    p.equityP 当您成为钻石或黑金等级会员后的每个账户周年评审日，将收到我们为您发送的免费清洗兑换礼券（采用电子券的形式），添加至您的COLMO CLUB个人账户，您可登录会员中心，在我的礼券中查看并进行兑换。具体奖励为，钻石会员购买指定类别产品可享每年1次深度清洁服务，黑金会员购买指定类别产品可享每年2次深度清洁服务。请您留意电子兑换券的使用期限，并在使用期限内使用。
                                    a(href="javascript:;") 返回
                        .J-reg-ly-item.reg-ly-item
                            img(src="static/img/ly-icon04.png")
                            span 体验活动
                            .J-club-equity-fixed.club-equity-fixed
                                .club-equity-txt
                                    img(src="static/img/ly-icon04.png")
                                    span.equity-sp2 体验活动
                                    p.equityP 当您成为黄金、铂金、钻石或黑金等级会员，将有机会参与COLMO CLUB私享体验活动，包括但不限于星级烹饪、精致衣物护理等，活动资讯将定期在COLMO微信公众号进行公布，请您密切关注。
                                    a(href="javascript:;") 返回
                        .J-reg-ly-item.reg-ly-item
                            img(src="static/img/ly-icon09.png")
                            span 晒单有礼
                            .J-club-equity-fixed.club-equity-fixed
                                .club-equity-txt
                                    img(src="static/img/ly-icon09.png")
                                    span.equity-sp2 晒单有礼
                                    p.equityP 当您成为黄金、铂金、钻石或黑金等级会员，可参与晒单有礼活动，通过审核后获得200积分。(奖励最终以实际活动为准)
                                    a(href="javascript:;") 返回




    include module/footer