extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style

block script
    script(type='text/javascript',src='static/js/list-huiyuan.js')

block content

    include module/header
    .m-sub-banner
        .cm-con
            .sub-banner-con
                a(href="login.html")
                    img(src="" data-src-pc="static/img/hy-index-banner.jpg" data-src-mobile="static/img/sub-mobile-banner.jpg")
                    .sub-banner-txt
                        .txt-table
                            .txt-table-cell
                                h1 登录/注册成为COLMO会员
                                .hy-link 开启会员尊享之旅

    .m-news-crumbs.pl-100.pr-100
        ul.clear
            li
                a(href="index.html") 首页
            li
                a(href="javascript:;") 会员
            li
                a(href="javascript:;") 入会有礼
    .club-con
        .sub-container
            .club-item.club-item-zx
                .u-club-tit COLMO积分礼赏
                .m-club-zx-wrap
                    ul.clear
                        li
                            a(href="javascript:;" title="")
                                img(src="static/img/jf-ls01.jpg")
                                .jf-ls-txt
                                    .txt-table
                                        .txt-table-cell
                                            span.jf-ls-sp 注册会员
                                            p.jf-ls-p 注册+50积分
                        li
                            a(href="javascript:;" title="")
                                img(src="static/img/jf-ls02.jpg")
                                .jf-ls-txt
                                    .txt-table
                                        .txt-table-cell
                                            span.jf-ls-sp 购买产品
                                            p.jf-ls-p 立即购买  10元=1积分
                        li
                            a(href="javascript:;" title="")
                                img(src="static/img/jf-ls03.jpg")
                                .jf-ls-txt
                                    .txt-table
                                        .txt-table-cell
                                            span.jf-ls-sp 晒单有礼
                                            p.jf-ls-p 晒单+200积分，最终以实际活动为准。
                        li
                            a(href="javascript:;" title="")
                                img(src="static/img/jf-ls04.jpg")
                                .jf-ls-txt
                                    .txt-table
                                        .txt-table-cell
                                            span.jf-ls-sp 私享活动
                                            p.jf-ls-p 参与获积分奖励
            .club-item.club-item-jfdh
                .u-club-tit COLMO积分兑换
                .u-loading#loading
                    .loading-con
                        img(src="static/img/loading.gif")
                #J-list.m-club-dh-list.clear


                .J-club-dh-more.club-dh-more
                    a(href="more-exchanges.html") 更多兑换
            .club-item.club-item-hydj
                .u-club-tit COLMO会员等级及权益
                .J-club-table-tit.club-table-tit
                    ul.clear
                        li.active(data-show="1")
                            a(href="javascript:;") 白银会员
                        li(data-show="1,4,5")
                            a(href="javascript:;") 黄金会员
                        li(data-show="1,2,4,5")
                            a(href="javascript:;") 铂金会员
                        li(data-show="1,2,3,4,5")
                            a(href="javascript:;") 钻石会员
                        li(data-show="1,2,3,4,5")
                            a(href="javascript:;") 黑金会员
                .J-club-table-con.club-table-con
                    .club-table-item.clear
                        .club-grade
                            .txt-table
                                .txt-table-cell
                                    .club-grade-item.active
                                        img(src="static/img/club-icon05.png")
                                        span.grade-sp 白银会员
                                        p.gradeP 注册会员
                                    .club-grade-item
                                        img(src="static/img/club-icon06.png")
                                        span.grade-sp 黄金会员
                                        p.gradeP 下单1件产品
                                    .club-grade-item
                                        img(src="static/img/club-icon07.png")
                                        span.grade-sp 铂金会员
                                        p.gradeP 消费额满2万元
                                    .club-grade-item
                                        img(src="static/img/club-icon08.png")
                                        span.grade-sp 钻石会员
                                        p.gradeP 消费额满6万元
                                    .club-grade-item
                                        img(src="static/img/club-icon09.png")
                                        span.grade-sp 黑金会员
                                        p.gradeP 消费额满12万元

                        .J-club-equity.club-equity
                            dl.clear
                                dd
                                    .txt-table
                                        .txt-table-cell
                                            img(src="static/img/ly-icon01.png")
                                            span.equity-sp1 积分礼赏
                                            .J-club-equity-fixed.club-equity-fixed
                                                .club-equity-txt
                                                    img(src="static/img/ly-icon01.png")
                                                    span.equity-sp2 积分礼赏
                                                    p.equityP 您可以通过购物、参与活动等方式赚取积分。其中，在指定门店购买COLMO产品，可按有效消费金额赚取积分，具体为每10元人民币消费金额，可获得1个积分，您可以登录积分商城，使用积分兑换指定合作礼品、活动门票等会员礼赏。
                                                    a(href="javascript:;") 返回

                                dd
                                    .txt-table
                                        .txt-table-cell
                                            img(src="static/img/ly-icon07.png")
                                            span.equity-sp1 延长保修
                                            .J-club-equity-fixed.club-equity-fixed
                                                .club-equity-txt
                                                    img(src="static/img/ly-icon07.png")
                                                    span.equity-sp2 延长保修
                                                    p.equityP 当您成为铂金、钻石或黑金等级会员后，购买冰箱、洗衣机、厨房电器、热水器的指定类别产品，将收到我们为您发送的一张延长保修券（采用电子券的形式），添加至您的COLMO CLUB个人账户，您可登录会员中心，在我的礼券中查看并进行绑定。请您留意礼券使用说明，了解关于延长保修服务的更多详情。
                                                    a(href="javascript:;") 返回
                                dd
                                    .txt-table
                                        .txt-table-cell
                                            img(src="static/img/ly-icon08.png")
                                            span.equity-sp1 免费清洗
                                            .J-club-equity-fixed.club-equity-fixed
                                                .club-equity-txt
                                                    img(src="static/img/ly-icon08.png")
                                                    span.equity-sp2 免费清洗
                                                    p.equityP 当您成为钻石或黑金等级会员后的每个账户周年评审日，将收到我们为您发送的免费清洗兑换礼券（采用电子券的形式），添加至您的COLMO CLUB个人账户，您可登录会员中心，在我的礼券中查看并进行兑换。具体奖励为，钻石会员购买指定类别产品可享每年1次深度清洁服务，黑金会员购买指定类别产品可享每年2次深度清洁服务。请您留意电子兑换券的使用期限，并在使用期限内使用。
                                                    a(href="javascript:;") 返回
                                dd
                                    .txt-table
                                        .txt-table-cell
                                            img(src="static/img/ly-icon04.png")
                                            span.equity-sp1 体验活动
                                            .J-club-equity-fixed.club-equity-fixed
                                                .club-equity-txt
                                                    img(src="static/img/ly-icon04.png")
                                                    span.equity-sp2 体验活动
                                                    p.equityP 当您成为黄金、铂金、钻石或黑金等级会员，将有机会参与COLMO CLUB私享体验活动，包括但不限于星级烹饪、精致衣物护理等，活动资讯将定期在COLMO微信公众号进行公布，请您密切关注。
                                                    a(href="javascript:;") 返回
                                dd
                                    .txt-table
                                        .txt-table-cell
                                            img(src="static/img/ly-icon09.png")
                                            span.equity-sp1 晒单有礼
                                            .J-club-equity-fixed.club-equity-fixed
                                                .club-equity-txt
                                                    img(src="static/img/ly-icon09.png")
                                                    span.equity-sp2 晒单有礼
                                                    p.equityP 当您成为黄金、铂金、钻石或黑金等级会员，可参与晒单有礼活动，通过审核后获得200积分。(奖励最终以实际活动为准)
                                                    a(href="javascript:;") 返回

    include module/footer