extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style


block script

block content

    include module/header
    .m-sub-banner
        .cm-con
            .sub-banner-con
                a(href="login.html")
                    img(src="" data-src-pc="static/img/hy-index-banner.jpg" data-src-mobile="static/img/sub-mobile-banner.jpg")
                    .sub-banner-txt
                        .txt-table
                            .txt-table-cell
                                h1 登录/注册成为COLMO会员
                                .hy-link 开启会员尊享之旅
    .m-news-crumbs.pl-100.pr-100
        ul.clear
            li
                a(href="javascript:;") 首页
            li
                a(href="javascript:;") 会员
            li
                a(href="javascript:;") 入会有礼
    .take-over
        .sub-container
            .take-item
                .u-bd-tit 收货地址
                .take-address.J-hy-address.hy-address.clear
                    ul
                        li
                            span.a-type 姓名：
                            span.J-a-name.a-name 李××
                        li
                            span.a-type 电话：
                            span.J-a-tel.a-tel 18801236666
                        li
                            span.a-type 地址：
                            span.J-a-add.a-add 北京市东城区王府井大街77号
                    .take-replace
                        a.u-Btn(href="huiyuan-take.html") 更换地址

            .take-item
                .u-bd-tit COLMO积分商城
                .take-mall.clear
                    .take-mall-img.J-take-mall-img
                        img(src="static/img/take-img01.jpg")
                        .take-mall-qr
                            p
                                img(src="static/img/share-wximg.jpg")
                                span 扫一扫，查看礼品详情
                    .take-mall-data
                        .J-take-pro-tit.take-pro-tit THERMOS膳魔师保温杯500ml
                        .t-data-item
                            p.t-dataP 积分：
                            span.J-d-jf.d-jf 16500
                        .t-data-item
                            p.t-dataP 选择数量：
                            span.J-d-num.d-num
                                input.J-btn-reduce.btn-reduce(type="button" value="-")
                                input.J-textBox#textBox(type="text" readonly)
                                input.J-btn-add.btn-add(type="button" value="+")
                            span.d-ts
                                |合计：
                                i#J-total 16500
                                |积分
                        .t-data-btn
                            a.u-Btn.J-xq(href="javascript:;") 查看详情
                            a.u-Btn.J-confirm(href="javascript:;") 兑换

    .J-popup-order.popup-order
        .popup-order-wrap
            .popup-order-con
                .p-t-data.clear
                    .p-t-img
                        img(src="")
                    .p-t-txt
                        .p-pro-name asdf
                        .p-pro-integral
                            span
                            |积分
                        .p-pro-txt
                            p.proP 收货人：
                                span.s-shr
                            p.proP 电话：
                                span.s-tel
                            p.proP 收货地址：
                                span.s-address
                .p-b-con
                    .p-b-ts 请您再次确认地址及礼品信息
                    .p-b-btn
                        a.p-btn-cancel(href="javascript:;") 取消
                        a.J-p-btn-confirm.p-btn-confirm(href="javascript:;") 确认
                .notLogged
                    a.J-closeNot.closeNot(href="javascript:;")
                    img(src="static/img/failIcon.png")
                    p 兑换失败，请添加收货地址！
                .popup-success
                    a.J-closeSuccess.closeSuccess(href="javascript:;")
                    img(src="static/img/success.png")
                    .sc 您已兑换成功！
                    a.sc-link(href="huiyuan-order.html") 兑换详情





    include module/footer