extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style


block script
    script(type='text/javascript',src='static/js/citydata.js')
    script(type='text/javascript',src='static/js/cityPicker-1.0.0.js')

block content

    include module/header

    .m-news-crumbs.pl-100.pr-100
        ul.clear
            li
                a(href="javascript:;") 首页
            li
                a(href="javascript:;") 会员
            li
                a(href="javascript:;") 入会有礼
    .take-over
        .sub-container.clear
            .add-address
                .addressReturn
                    a(href="javascript:;") 返回
                .u-bd-tit 地址管理
                .J-add-form.add-form
                    .add-form-item.clear
                        span.add-name 姓名
                        .add-input-wrap
                            .J-add-input-con.add-input-con
                                input.J-emptyName#emptyName(type="text" value="" autocomplete="off")
                                .tips
                    .add-form-item.clear
                        span.add-name 手机号码
                        .add-input-wrap
                            .J-add-input-con.add-input-con.J-tel-p#tel-p
                                input.J-tel#tel(type="text" value="" maxlength=11 autocomplete="off")
                                .tips
                    .add-form-item.clear
                        span.add-name 收货地址
                        .add-input-wrap
                            .J-add-input-con.add-input-con
                                .city-picker-selector#city-picker-search.clear
                                    .selector-item.storey.province
                                        a.selector-name.reveal.df-color(href="javascript:;")
                                        input.input-price.val-error(type="hidden" name="userProvinceId" value="" data-required="userProvinceId")
                                        .selector-list.listing
                                    .selector-item.storey.city
                                        a.selector-name.reveal.df-color.forbid(href="javascript:;")
                                        input.input-price.val-error(type="hidden" name="userCityId" value="" data-required="userCityId")
                                        .selector-list.listing

                                    .selector-item.storey.district
                                        a.selector-name.reveal.df-color.forbid(href="javascript:;")
                                        input.input-price.val-error(type="hidden" name="userDistrictId" value="" data-required="userDistrictId")
                                        .selector-list.listing
                                .tips
                            .J-add-input-con.add-input-con
                                input(type="text" value="" placeholder="请输入街道门牌信息（非必填）" autocomplete="off")
                            p.d-add
                                label
                                    input(type="checkbox" name="vehicle" value="")
                                    |设为默认收货地址
                    .add-btn
                        input#J-addressBtn(type="button" value="保存")






    include module/footer