extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style

block script
    script(type='text/javascript',src='static/js/list-huiyuan-take.js')
    script(type='text/javascript',src='static/js/citydata.js')
    script(type='text/javascript',src='static/js/cityPicker-1.0.0.js')


block content

    include module/header

    .m-news-crumbs.pl-100.pr-100
        ul.clear
            li
                a(href="javascript:;") 首页
            li
                a(href="javascript:;") 地址管理
    .take-over
        .sub-container.clear
            .infor-l-nav
                .infor-nav-item
                    dl
                        dt 会员
                        dd
                            a(href="information.html") 个人中心
                        dd
                            a(href="huiyuan-register.html") 会员等级及权益
                        dd
                            a(href="myPoints.html") 我的积分
                        dd
                            a(href="huiyuan-order.html") 积分商城订单
                        dd.active
                            a(href="huiyuan-take.html") 地址管理
                .infor-nav-item
                    dl
                        dt 产品
                        dd
                            a(href="infor-Collection.html") 我的收藏
                        dd
                            a(href="afterSales.html") 售后服务
            .infor-r-con
                .J-address-list.address-list
                    .inforBtn
                        a#J-addNew(href="javascript:;") 添加新地址
                    .take-item
                        .u-bd-tit 收货地址
                        .u-loading#loading
                            .loading-con
                                img(src="static/img/loading.gif")
                        .J-noData-con.noData-con
                            p 暂没有订单信息！
                        .J-list#list

                    include module/page-number
                .J-add-address.add-address
                    .J-addressReturn.addressReturn
                        a(href="javascript:;") 返回
                    .u-bd-tit 地址管理
                    .J-add-form.add-form
                        .add-form-item.clear
                            span.add-name 姓名
                            .add-input-wrap
                                .J-add-input-con.add-input-con
                                    input.J-emptyName#emptyName(type="text" value="" autocomplete="off")
                                    .tips
                        .add-form-item.clear
                            span.add-name 手机号码
                            .add-input-wrap
                                .J-add-input-con.add-input-con.J-tel-p#tel-p
                                    input.J-tel#tel(type="text" value="" maxlength=11 autocomplete="off")
                                    .tips
                        .add-form-item.clear
                            span.add-name 收货地址
                            .add-input-wrap
                                .J-add-input-con.add-input-con
                                    .city-picker-selector#city-picker-search.clear
                                        .selector-item.storey.province
                                            a.selector-name.reveal.df-color(href="javascript:;")
                                            input.input-price.val-error(type="hidden" name="userProvinceId" value="" data-required="userProvinceId")
                                            .selector-list.listing
                                        .selector-item.storey.city
                                            a.selector-name.reveal.df-color.forbid(href="javascript:;")
                                            input.input-price.val-error(type="hidden" name="userCityId" value="" data-required="userCityId")
                                            .selector-list.listing

                                        .selector-item.storey.district
                                            a.selector-name.reveal.df-color.forbid(href="javascript:;")
                                            input.input-price.val-error(type="hidden" name="userDistrictId" value="" data-required="userDistrictId")
                                            .selector-list.listing
                                    .tips
                                .add-input-con
                                    input.details-add(type="text" value="" placeholder="请输入街道门牌信息（非必填）" autocomplete="off")
                                p.d-add
                                    label
                                        input(type="checkbox" name="vehicle")
                                        |设为默认收货地址

                        .add-btn
                            input#J-takeBtn(type="button" value="保存")


    .J-funPopup.funPopup
        .funPopup-con
            a.J-closeFunPopup.closeFunPopup(href="javascript:;")
            img(src="static/img/ts-icon.png")
            p 是否删除当前地址信息？
            a.J-confirmDel.confirmDel(href="javascript:;") 确认





    include module/footer
