extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style

block script

block content

    include module/header


    .m-news-crumbs.pl-100.pr-100
        ul.clear
            li
                a(href="index.html") 首页
            li
                a(href="javascript:;") 积分商城订单
    .order
        .sub-container.clear
            .infor-l-nav
                .infor-nav-item
                    dl
                        dt 会员
                        dd
                            a(href="information.html") 个人中心
                        dd
                            a(href="huiyuan-register.html") 会员等级及权益
                        dd
                            a(href="myPoints.html") 我的积分
                        dd.active
                            a(href="huiyuan-order.html") 积分商城订单
                        dd
                            a(href="huiyuan-take.html") 地址管理
                .infor-nav-item
                    dl
                        dt 产品
                        dd
                            a(href="infor-Collection.html") 我的收藏
                        dd
                            a(href="afterSales.html") 售后服务
            .infor-r-con
                .J-order-list.order-list
                    .J-noData-con.noData-con
                        p 暂没有订单信息！
                    .order-item
                        .u-bd-tit COLMO积分商城
                        .order-item-con.clear
                            .order-item-img
                                img(src="static/img/take-img01.jpg")
                            .order-item-data
                                .o-top
                                    .o-top-jf
                                        span.jf-data-sp 16500
                                        |积分
                                    .o-top-name THERMOS膳魔师保温杯500ml
                                .o-bottom
                                    .o-bottom-p 合计
                                        span.total 16500积分
                                        span.piece
                                            |（共
                                            i 1
                                            |件）
                                .o-time 兑换时间：2020年3月25日
                                .o-state 已发货
                                .J-logistics.logistics
                                    a(href="javascript:;") 查看物流
                    .order-item
                        .u-bd-tit COLMO积分商城
                        .order-item-con.clear
                            .order-item-img
                                img(src="static/img/take-img01.jpg")
                            .order-item-data
                                .o-top
                                    .o-top-jf
                                        span.jf-data-sp 16500
                                        | 积分
                                    .o-top-name THERMOS膳魔师保温杯500ml
                                .o-bottom
                                    .o-bottom-p 合计
                                        span.total 16500积分
                                        span.piece
                                            | （共
                                            i 1
                                            | 件）
                                .o-time 兑换时间：2020年3月25日
                                .o-state 待发货

    .logistics-popup
        .logistics-con
            a.close(href="javascript:;")
            .express-name 韵达快递  4306542310886
            .express-list
                .line
                ul
                    li
                        p 已签收
                    li
                        p 您的订单已签收，如有疑问您可以联系配送员【黎清泽，18123516950】确认。感谢您在COLMO购物，欢迎再次光临。
                        span 2020-03-21  12:32:38
                    li
                        p 您的订单已到达京东【佛山简岸营业部】
                        span 2020-03-21  12:32:38
                    li
                        p 您的订单由京东【佛山陈村分拨中心】送往【佛山简岸营业部】
                        span 2020-03-21  12:32:38
                    li
                        p 您的订单已到达京东【佛山简岸营业部】
                        span 2020-03-21  12:32:38
                    li
                        p 您的订单由京东【佛山陈村分拨中心】送往【佛山简岸营业部】
                        span 2020-03-21  12:32:38
                    li
                        p 华北【韵达金韵公司】 已揽收
                        span 2020-03-21  12:32:38





    include module/footer