extends module/layout
block title
  title COLMO
  meta(name="keywords" content=" ")
  meta(name="description" content=" ")
block style


block script

block content

  include module/header

  .J-index-banner.index-banner.mb-100
    .cm-con.mr-100.ml-100
      .index-banner-warp
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              img(src="" data-src-pc="static/img/index-banner.jpg" data-src-mobile="static/img/index-mobile-banner01.jpg")
              //img.mb-banner(src="static/img/index-mobile-banner01.jpg")
              .banner-txt
                .banner-txt-table
                  .banner-txt-cell
                    h1.fade-in-up 启于非凡科技 赋予理性美学
              .J-bannerBtn.bannerBtn
                a.J-banner-playBtn.banner-playBtn(href="javascript:;" data-url="static/video/COLMO-Homepage-video-long-version2.mp4") 观看视频
              .index-video
                video#index-video(muted="true" controls="false" autoplay="autoplay" style="width:100%;object-fit:fill" loop="loop" poster="static/img/sub-banner05.jpg" webkit-playsinline playsinline x5-playsinline preload="auto")
                  source(type="video/mp4" src="static/video/Colmo_10s_B_Final_with_product_code-short-version-3.mp4")
                  | 您的浏览器不支持video标签
            .swiper-slide
              img(src="" data-src-pc="static/img/index-banner02.jpg" data-src-mobile="static/img/index-mobile-banner02.jpg")
              //img.mb-banner(src="static/img/index-mobile-banner02.jpg")
              .banner-txt
                .banner-txt-table
                  .banner-txt-cell
                    h1.fade-in-up 联合打造《尔雅·包豪斯的革命》节目<br/>以理性美学  让生活进化
              .J-bannerBtn.bannerBtn
                a.J-banner-playBtn.banner-playBtn(href="javascript:;" data-url="static/video/COLMO-Homepage-video-long-version2.mp4") 观看视频
            .swiper-slide
              img(src="" data-src-pc="static/img/index-banner03.jpg" data-src-mobile="static/img/index-mobile-banner03.jpg")
              //img.mb-banner(src="static/img/index-mobile-banner03.jpg")
              .banner-txt
                .banner-txt-table
                  .banner-txt-cell
                    h1.fade-in-up 全套系AI科技家电
              .J-bannerBtn.bannerBtn
                a.J-banner-playBtn.banner-playBtn(href="javascript:;" data-url="static/video/COLMO-Homepage-video-long-version2.mp4") 观看视频
        .swiper-pagination.pagination
      .index-up-con
        a.J-upBtn.upBtn(href="javascript:;")
        .J-up-con.up-con.clear
          .up-con-l.fl
            img.mt-30.a.dl250.fade-in-up.d1000(src="static/img/up-logo.png")
            h3.fs-24.mt-20.a.dl400.fade-in-up.d1000 以非凡科技，携非凡智识，创非凡生活
            ul.clear.mt-60.a.dl550.fade-in-up.d1000
              li
                a(href="javascript:;") 冰箱
              li
                a(href="javascript:;") 洗衣机
              li
                a(href="javascript:;") 厨房电器
              li
                a(href="javascript:;") 水吧
              li
                a(href="javascript:;") 热水器
              li
                a(href="javascript:;") 电饭煲
              li
                a(href="javascript:;") 家用空调
          .up-con-r.fr
            .up-r-img.a.fade-in-up.d1000
              .txt-table
                .txt-table-cell
                  img(src="static/img/up-icon01.png")
            .up-r-img.a.fade-in-up.d1000
              .txt-table
                .txt-table-cell
                  img(src="static/img/up-icon02.png")
            .up-r-img.a.fade-in-up.d1000
              .txt-table
                .txt-table-cell
                  img(src="static/img/up-icon03.png")
            .up-r-img.a.fade-in-up.d1000
              .txt-table
                .txt-table-cell
                  img(src="static/img/up-icon04.png")
            .up-r-img.a.fade-in-up.d1000
              .txt-table
                .txt-table-cell
                  img(src="static/img/up-icon05.png")
            .up-r-img.a.fade-in-up.d1000
              .txt-table
                .txt-table-cell
                  img(src="static/img/up-icon06.png")
            .up-r-img.a.fade-in-up.d1000
              .txt-table
                .txt-table-cell
                  img(src="static/img/up-icon07.png")
            .up-r-img.a.fade-in-up.d1000
              .txt-table
                .txt-table-cell
                  img(src="static/img/up-icon08.png")
    .J-index-more.index-more
      span.ft 下滑查看更多
      span.line
      span.mouse
  .section2
    .cm-con.mr-100.ml-100.pb-100
      .section2-con
        .section2-tit.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.2s")
          span.line
          h2.mt-30.fs-28 理性美学让生活进化
        .section2-tit-img.mt-40.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.4s")
          img(src="static/img/index-font.png")
        .section2-list.clear.mt-80.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.6s")
          .section2-item.fl
            a(href="tansuo-index.html#kjmx")
              img(src="static/img/index-img01.jpg")
              .s2-item-txt
                h3.fs-28 科技美学
                span.lx-sp.fs-14.mt-10 洞悉本质 / 科技服务生活本源
          .section2-item.fl
            a(href="tansuo-index.html#sjmx")
              img(src="static/img/index-img02.jpg")
              .s2-item-txt
                h3.fs-28 设计美学
                span.lx-sp.fs-14.mt-10 以简驭繁 / 设计释放理性空间
          .section2-item.fl
            a(href="tansuo-index.html#shmx")
              img(src="static/img/index-img03.jpg")
              .s2-item-txt
                h3.fs-28 生活美学
                span.lx-sp.fs-14.mt-10 行真致远 / 克己求真的非凡人生
  .u-section-public-tit
    .u-section-title
      h2.fs-28 AI全图景高端智慧生活
  .section3
    .cm-con.mr-100.ml-100.pb-100
      .section3-con
        .J-index-ai.index-ai.mt-60
          a.J-closeAi.closeAi(href="javascript:;")
          .J-index-ai-swiper.index-ai-swiper
            .swiper-container
              .swiper-wrapper
                .swiper-slide.swiper-no-swiping
                  .index-ai-link.clear
                    .link-item.fl
                      img.ai-small-img(src="static/img/index-ai01-small.jpg")
                      .ai-small-con
                        a(href="javascript:;")
                          .txt-table
                            .txt-table-cell
                              .link-item-ch 起居
                              .link-item-en.mt-15 LIVING ROOM
                              .link-item-icon.mt-20
                  .J-index-ai-list.index-ai-list
                    .J-index-ai-item.index-ai-item
                      img(src="static/img/index-ai01-on.jpg")
                      .ai-data-con
                        .J-ai-point.ai-point
                          .J-point-btn.point-btn.point-btn-1(style="top:25.71%;left:13.53%;background-image: url('static/img/light-point.png')" data-val="1")
                        .J-ai-point-popup.ai-point-popup
                          a.J-ai-closePopup.ai-closePopup(href="javascript:;")
                          .J-ai-popup-item.ai-popup-item.clear(data-val="1")
                            .popup-item-img.fl
                              img(src="static/img/popup-pro-img01.png")
                            .J-popup-item-txt.popup-item-txt.fl
                              span.p-spLine
                              h3.fs-22.mt-20 COLMO TURING空调柜机
                              ul.mt-40.clear
                                li
                                  img(src="static/img/popup-pro-icon10.png")
                                  span Ai智慧眼
                                li
                                  img(src="static/img/popup-pro-icon11.png")
                                  span 定制无风感
                                li
                                  img(src="static/img/popup-pro-icon12.png")
                                  span 双混动新风
                                li
                                  img(src="static/img/popup-pro-icon13.png")
                                  span 智净双水洗
                              .p-link.mt-40
                                a(href="javascript:;") 了解更多
                                a.J-playVideo.playVideo(href="javascript:;" data-url="static/video/range-hood-jykj.mp4") 观看视频
                .swiper-slide.swiper-no-swiping
                  .index-ai-link.clear
                    .link-item.fl
                      img.ai-small-img(src="static/img/index-ai02-small.jpg")
                      .ai-small-con
                        a(href="javascript:;")
                          .txt-table
                            .txt-table-cell
                              .link-item-ch 洗护
                              .link-item-en.mt-15 CLEAN AND CARE
                              .link-item-icon.mt-20
                  .J-index-ai-list.index-ai-list
                    .J-index-ai-item.index-ai-item
                      img(src="static/img/index-ai02-on.jpg")
                      .ai-data-con
                        .J-ai-point.ai-point
                          .J-point-btn.point-btn.point-btn-1(style="top: 21.57%;right: 29.81%;background-image: url('static/img/light-point.png')" data-val="1")
                        .J-ai-point-popup.ai-point-popup
                          a.J-ai-closePopup.ai-closePopup(href="javascript:;")
                          .J-ai-popup-item.ai-popup-item.clear(data-val="1")
                            .popup-item-img.fl
                              img(src="static/img/popup-pro-img02.png")
                            .J-popup-item-txt.popup-item-txt.fl
                              span.p-spLine
                              h3.fs-22.mt-20 COLMO BLANC洗衣机
                              ul.mt-40.clear
                                li
                                  img(src="static/img/popup-pro-icon07.png")
                                  span 慧眼洗
                                li
                                  img(src="static/img/popup-pro-icon08.png")
                                  span 洗护专家
                                li
                                  img(src="static/img/popup-pro-icon09.png")
                                  span 净纤科技
                              .p-link.mt-40
                                a(href="javascript:;") 了解更多
                                a.J-playVideo.playVideo(href="javascript:;" data-url="static/video/range-hood-jykj.mp4") 观看视频
                .swiper-slide.swiper-no-swiping
                  .index-ai-link.clear
                    .link-item.fl
                      img.ai-small-img(src="static/img/index-ai03-small.jpg")
                      .ai-small-con
                        a(href="javascript:;")
                          .txt-table
                            .txt-table-cell
                              .link-item-ch 厨房
                              .link-item-en.mt-15 KITCHEN
                              .link-item-icon.mt-20
                  .J-index-ai-list.index-ai-list
                    .J-index-ai-item.index-ai-item
                      img(src="static/img/index-ai03-on.jpg")
                      .ai-data-con
                        .J-ai-point.ai-point
                          .J-point-btn.point-btn.point-btn-1(style="top: 23.85%;left: 22.6%;background-image: url('static/img/light-point.png')" data-val="1")
                          .J-point-btn.point-btn.point-btn-2(style="top: 52.28%;left: 42.73%;background-image: url('static/img/light-point.png')" data-val="2")
                          .J-point-btn.point-btn.point-btn-3(style="top: 22.14%;right: 22.96%;background-image: url('static/img/light-point.png')" data-val="3")
                        .J-ai-point-popup.ai-point-popup
                          a.J-ai-closePopup.ai-closePopup(href="javascript:;")
                          .J-ai-popup-item.ai-popup-item.clear(data-val="1")
                            .popup-item-img.fl
                              img(src="static/img/popup-pro-img03.png")
                            .J-popup-item-txt.popup-item-txt.fl
                              span.p-spLine
                              h3.fs-22.mt-20 COLMO EVO系列S83烟机
                              ul.mt-40.clear
                                li
                                  img(src="static/img/popup-pro-icon01.png")
                                  span 雷达捕烟
                                li
                                  img(src="static/img/popup-pro-icon02.png")
                                  span 穹顶设计
                                li
                                  img(src="static/img/popup-pro-icon03.png")
                                  span 静享体验
                              .p-link.mt-40
                                a(href="javascript:;") 了解更多
                                a.J-playVideo.playVideo(href="javascript:;" data-url="static/video/range-hood-jykj.mp4") 观看视频
                          .J-ai-popup-item.ai-popup-item.clear(data-val="2")
                            .popup-item-img.fl
                              img(src="static/img/popup-pro-img06.png")
                            .J-popup-item-txt.popup-item-txt.fl
                              span.p-spLine
                              h3.fs-22.mt-20 COLMO BLANC 煮饭机器人
                              ul.mt-40.clear
                                li
                                  img(src="static/img/popup-pro-icon07.png")
                                  span 慧眼煮
                                li
                                  img(src="static/img/popup-pro-icon17.png")
                                  span 自动烹饪
                                li
                                  img(src="static/img/popup-pro-icon18.png")
                                  span 精准米水比
                              .p-link.mt-40
                                a(href="javascript:;") 了解更多
                                a.J-playVideo.playVideo(href="javascript:;" data-url="static/video/range-hood-jykj.mp4") 观看视频
                          .J-ai-popup-item.ai-popup-item.clear(data-val="3")
                            .popup-item-img.fl
                              img(src="static/img/popup-pro-img05.png")
                            .J-popup-item-txt.popup-item-txt.fl
                              span.p-spLine
                              h3.fs-22.mt-20 COLMO BLANC 冰箱
                              ul.mt-40.clear
                                li
                                  img(src="static/img/popup-pro-icon14.png")
                                  span 慧眼保鲜
                                li
                                  img(src="static/img/popup-pro-icon15.png")
                                  span 营养专家
                                li
                                  img(src="static/img/popup-pro-icon16.png")
                                  span 区块保鲜
                              .p-link.mt-40
                                a(href="javascript:;") 了解更多
                                a.J-playVideo.playVideo(href="javascript:;" data-url="static/video/range-hood-jykj.mp4") 观看视频
                .swiper-slide.swiper-no-swiping
                  .index-ai-link.clear
                    .link-item.fl
                      img.ai-small-img(src="static/img/index-ai04-small.jpg")
                      .ai-small-con
                        a(href="javascript:;")
                          .txt-table
                            .txt-table-cell
                              .link-item-ch 卫浴
                              .link-item-en.mt-15 BATHROOM
                              .link-item-icon.mt-20
                  .J-index-ai-list.index-ai-list
                    .J-index-ai-item.index-ai-item
                      img(src="static/img/index-ai04-on.jpg")
                      .ai-data-con
                        .J-ai-point.ai-point
                          .J-point-btn.point-btn.point-btn-1(style="top: 33.57%;left: 51.45%;background-image: url('static/img/light-point.png')" data-val="1")
                        .J-ai-point-popup.ai-point-popup
                          a.J-ai-closePopup.ai-closePopup(href="javascript:;")
                          .J-ai-popup-item.ai-popup-item.clear(data-val="1")
                            .popup-item-img.fl
                              img(src="static/img/popup-pro-img04.png")
                            .J-popup-item-txt.popup-item-txt.fl
                              span.p-spLine
                              h3.fs-22.mt-20 FUTURE系列相变储能热水舱
                              ul.mt-40.clear
                                li
                                  img(src="static/img/popup-pro-icon04.png")
                                  span 无内胆无死水
                                li
                                  img(src="static/img/popup-pro-icon05.png")
                                  span 至薄机身
                                li
                                  img(src="static/img/popup-pro-icon06.png")
                                  span 无感温差
                              .p-link.mt-40
                                a(href="javascript:;") 了解更多
                                a.J-playVideo.playVideo(href="javascript:;" data-url="static/video/range-hood-jykj.mp4") 观看视频

            .swiper-pagination.pagination
  .u-section-public-tit
    .u-section-title
      h2.fs-28 产品品鉴
  .section4
    .cm-con.mr-100.ml-100.pb-100.bd-b
      .section4-con.J-index-pro-swiper
        .swiper-container.mt-60
          .swiper-wrapper
            .swiper-slide
              .index-pro.clear
                .index-pro-l.fl
                  .pro-t-img
                    .txt-table.proImg
                      .txt-table-cell
                        img(src="static/img/index-pro-img01.png")
                      .pro-txt
                        a(href="product-kongtiao.html")
                          .txt-table
                            .txt-table-cell
                              h3 TURING 空调挂机
                  .pro-b-img.clear
                    .pro-b-img-item.fl
                      .mr-30.h100.pt-30
                        .txt-table.proImg
                          .txt-table-cell
                            img(src="static/img/index-pro-img02.png")
                          .pro-txt
                            a(href="product-kongtiao.html")
                              .txt-table
                                .txt-table-cell
                                  h3 BLANC 煮饭机器人
                    .pro-b-img-item.fl
                      .bd-l.pl-30.h100.pt-30
                        .txt-table.proImg
                          .txt-table-cell
                            img(src="static/img/index-pro-img03.png")
                          .pro-txt
                            a(href="product-kongtiao.html")
                              .txt-table
                                .txt-table-cell
                                  h3 BLANC 油烟机
                .index-pro-r.fl
                  .pro-r-img
                    .txt-table.proImg
                      .txt-table-cell
                        img(src="static/img/index-pro-img04.png")
                      .pro-txt
                        a(href="product-kongtiao.html")
                          .txt-table
                            .txt-table-cell
                              h3 BLANC 冰箱
            .swiper-slide
              .index-pro.clear
                .index-pro-l.fl
                  .pro-t-img
                    .txt-table.proImg
                      .txt-table-cell
                        img(src="static/img/index-pro-img05.png")
                      .pro-txt
                        a(href="product-kongtiao.html")
                          .txt-table
                            .txt-table-cell
                              h3 BLANC 灶具
                  .pro-b-img.clear
                    .pro-b-img-item.fl
                      .mr-30.h100.pt-30
                        .txt-table.proImg
                          .txt-table-cell
                            img(src="static/img/index-pro-img06.png")
                          .pro-txt
                            a(href="product-kongtiao.html")
                              .txt-table
                                .txt-table-cell
                                  h3 BLANC 洗碗机
                    .pro-b-img-item.fl
                      .bd-l.pl-30.h100.pt-30
                        .txt-table.proImg
                          .txt-table-cell
                            img(src="static/img/index-pro-img07.png")
                          .pro-txt
                            a(href="product-kongtiao.html")
                              .txt-table
                                .txt-table-cell
                                  h3 EVO 相变热水器
                .index-pro-r.fl
                  .pro-r-img
                    .txt-table.proImg
                      .txt-table-cell
                        img(src="static/img/index-pro-img08.png")
                      .pro-txt
                        a(href="product-kongtiao.html")
                          .txt-table
                            .txt-table-cell
                              h3 BLANC 洗衣机

        .swiper-pagination.pagination.mt-50
  .section5
    .cm-con.mr-100.ml-100.pt-100
      .section5-con.J-index-news-swiper
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              img(src="" data-src-pc="static/img/advert.jpg" data-src-mobile="static/img/index-news-mobile01.jpg")
              .news-slide-txt
                .news-txt-con
                  h3.mt-60 COLMO 揽获8项IF设计大奖 <br/> 以理性美学引领家电设计风尚
                  a.u-Btn.mt-60(href="javascript:;") VIEW MORE
            .swiper-slide
              img(src="" data-src-pc="static/img/advert02.jpg" data-src-mobile="static/img/index-news-mobile01.jpg")
              .news-slide-txt
                .news-txt-con
                  h3.mt-60 AI科技家电 全球首发 <br/> COLMO图灵空调2019IFA惊艳首秀
                  a.u-Btn.mt-60(href="javascript:;") VIEW MORE
            .swiper-slide
              img(src="" data-src-pc="static/img/advert02.jpg" data-src-mobile="static/img/index-news-mobile01.jpg")
              .news-slide-txt
                .news-txt-con
                  h3.mt-60 理性美学 以简驭繁 <br/> COLMO全套家电荣膺2020iF设计大奖
                  a.u-Btn.mt-60(href="javascript:;") VIEW MORE
            .swiper-slide
              img(src="" data-src-pc="static/img/advert02.jpg" data-src-mobile="static/img/index-news-mobile01.jpg")
              .news-slide-txt
                .news-txt-con
                  h3.mt-60 理性美学 以简驭繁 <br/> COLMO全套家电荣膺2020iF设计大奖
                  a.u-Btn.mt-60(href="javascript:;") VIEW MORE
        .swiper-pagination.pagination.mt-50
  .J-index-video-popup.index-video-popup
    .index-video-wrap
      img.videoBg(src="static/img/opacityImg.png")
      .index-video-box
        a.J-closeVideo.closeVideo(href="javascript:;")
        #video


  include module/footer