extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style

block script
    script(type='text/javascript',src='static/js/citydata.js')
    script(type='text/javascript',src='static/js/cityPicker-1.0.0.js')
    script(type='text/javascript').
        function changepic(imgFile){
            $(".upload").addClass("active");
            var filextension = imgFile.value.substring(imgFile.value.lastIndexOf("."), imgFile.value.length);
            filextension = filextension.toLowerCase();
            if ((filextension != '.jpg') && (filextension != '.jpeg') && (filextension != '.png')) {
                alert("对不起，系统仅支持标准格式的照片，请您调整格式后重新上传，谢谢 !");
                imgFile.focus();
            }
            else {
                var path;
                if (document.all)//IE
                {
                    imgFile.select();
                    path = document.selection.createRange().text;
                    document.getElementById("upload-file").innerHTML = "";
                    document.getElementById("upload-file").style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='scale',src=\"" + path + "\")";
                    $(".J-preserve").click(function () {
                        document.getElementById("infor-headImg").innerHTML = "";
                        document.getElementById("infor-headImg").style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='scale',src=\"" + path + "\")";
                        $(".J-head-popup").fadeOut(100);
                    })
                }
                else//FF
                {
                    path = window.URL.createObjectURL(imgFile.files[0]);// FF 7.0以上
                    //path = imgFile.files[0].getAsDataURL();// FF 3.0
                    document.getElementById("upload-file").innerHTML = "<img id='imgFile' width='100%' height='100%' src='" + path + "'/>";
                    $(".J-preserve").click(function () {
                        document.getElementById("infor-headImg").innerHTML = "<img id='imgFile' width='100%' height='100%' src='" + path + "'/>";
                        $(".J-head-popup").fadeOut(100);
                    })
                }
            }
        }

block content

    include module/header
    .m-news-crumbs.pl-100.pr-100
        ul.clear
            li
                a(href="index.html") 首页
            li
                a(href="javascript:;") 个人中心
    .information
        .sub-container.clear
            .infor-l-nav
                .infor-nav-item
                    dl
                        dt 会员
                        dd.active
                            a(href="information.html") 个人中心
                        dd
                            a(href="huiyuan-register.html") 会员等级及权益
                        dd
                            a(href="myPoints.html") 我的积分
                        dd
                            a(href="huiyuan-order.html") 积分商城订单
                        dd
                            a(href="huiyuan-take.html") 地址管理
                .infor-nav-item
                    dl
                        dt 产品
                        dd
                            a(href="infor-Collection.html") 我的收藏
                        dd
                            a(href="afterSales.html") 售后服务
            .infor-r-con
                .infor-index-con
                    .u-bd-tit 基本信息
                    .J-editOpen.editOpen
                        a(href="javascript:;")
                    .infor-index-state.clear
                        .infor-state-img
                            .txt-table
                                .txt-table-cell
                                    img(src="static/img/club-icon05.png")
                        .infor-state-txt
                            .state-name 白银会员
                            .state-grow 成长值
                                span 211
                            .state-ts 购买任意1件COLMO产品即可升级为黄金会员;
                    .infor-index-data
                        dl.clear
                            dd
                                a(href="javascript:;" title="") 我的订单
                                    span 0
                            dd
                                a(href="javascript:;" title="") 我的积分
                                    span 500
                    .J-infor-index-equity.infor-index-equity
                        .u-bd-tit 我的权益
                        dl.clear
                            dd
                                img(src="static/img/ly-icon01.png")
                                span 积分礼赏
                                .J-club-equity-fixed.club-equity-fixed
                                    .club-equity-txt
                                        img(src="static/img/ly-icon01.png")
                                        span.equity-sp2 积分礼赏
                                        p.equityP 您可以通过购物、参与活动等方式赚取积分。其中，在指定门店购买COLMO产品，可按有效消费金额赚取积分，具体为每10元人民币消费金额，可获得1个积分，您可以登录积分商城，使用积分兑换指定合作礼品、活动门票等会员礼赏。
                                        a(href="javascript:;") 返回
                            dd.gray
                                img(src="static/img/ly-icon07.png")
                                span 延长保修
                                .J-club-equity-fixed.club-equity-fixed
                                    .club-equity-txt
                                        img(src="static/img/ly-icon07.png")
                                        span.equity-sp2 延长保修
                                        p.equityP 当您成为铂金、钻石或黑金等级会员后，购买冰箱、洗衣机、厨房电器、热水器的指定类别产品，将收到我们为您发送的一张延长保修券（采用电子券的形式），添加至您的COLMO CLUB个人账户，您可登录会员中心，在我的礼券中查看并进行绑定。请您留意礼券使用说明，了解关于延长保修服务的更多详情。
                                        a(href="javascript:;") 返回
                            dd.gray
                                img(src="static/img/ly-icon08.png")
                                span 免费清洗
                                .J-club-equity-fixed.club-equity-fixed
                                    .club-equity-txt
                                        img(src="static/img/ly-icon08.png")
                                        span.equity-sp2 免费清洗
                                        p.equityP 当您成为钻石或黑金等级会员后的每个账户周年评审日，将收到我们为您发送的免费清洗兑换礼券（采用电子券的形式），添加至您的COLMO CLUB个人账户，您可登录会员中心，在我的礼券中查看并进行兑换。具体奖励为，钻石会员购买指定类别产品可享每年1次深度清洁服务，黑金会员购买指定类别产品可享每年2次深度清洁服务。请您留意电子兑换券的使用期限，并在使用期限内使用。
                                        a(href="javascript:;") 返回
                            dd.gray
                                img(src="static/img/ly-icon04.png")
                                span 体验活动
                                .J-club-equity-fixed.club-equity-fixed
                                    .club-equity-txt
                                        img(src="static/img/ly-icon04.png")
                                        span.equity-sp2 体验活动
                                        p.equityP 当您成为黄金、铂金、钻石或黑金等级会员，将有机会参与COLMO CLUB私享体验活动，包括但不限于星级烹饪、精致衣物护理等，活动资讯将定期在COLMO微信公众号进行公布，请您密切关注。
                                        a(href="javascript:;") 返回
                            dd.gray
                                img(src="static/img/ly-icon09.png")
                                span 晒单有礼
                                .J-club-equity-fixed.club-equity-fixed
                                    .club-equity-txt
                                        img(src="static/img/ly-icon09.png")
                                        span.equity-sp2 晒单有礼
                                        p.equityP 当您成为黄金、铂金、钻石或黑金等级会员，可参与晒单有礼活动，通过审核后获得200积分。(奖励最终以实际活动为准)
                                        a(href="javascript:;") 返回


                .infor-data-con
                    .u-bd-tit 信息完善
                    .inforBtn
                        a#J-inforReturn(href="javascript:;") 返回
                    .J-infor-head.infor-head
                        img(src="static/img/infor-img01.png")
                        #infor-headImg
                        span.edit 编辑头像
                    .J-infor-form.infor-form
                        .infor-form-item.clear
                            span.infor-name 姓名
                            .infor-input-wrap
                                .J-infor-input-con.infor-input-con
                                    input.J-emptyName#emptyName(type="text" value="" autocomplete="off")
                                    .tips
                        .infor-form-item.clear.itemTel
                            span.infor-name 手机号码
                            .infor-input-wrap
                                .J-infor-input-con.infor-input-con.J-tel-p
                                    #tel-p.J-tel-p
                                        input.J-tel#tel(type="text" value="" maxlength=11 autocomplete="off")
                                        a.J-btnTel#btnTel(href="javascript:;") 修改手机号码
                                        .tips
                        .infor-form-item.clear.itemYzm
                            span.infor-name 验证码
                            .infor-input-wrap
                                .J-infor-input-con.infor-input-con.J-tel-p
                                    #yzm-p.J-yzm-p.register-p.r-yzm
                                        input.J-codeInt#codeInt(type="text" placeholder="请输入手机验证码" oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength=6 autocomplete="off")
                                        a.J-btncode#btncode.clickable(href="javascript:;") 获取验证码
                                        .tips
                        .infor-form-item.clear
                            span.infor-name 性别
                            .infor-input-wrap
                                .J-infor-input-con.infor-input-con.gender
                                    input.J-gender.drop-down(type="text" value="" readonly autocomplete="off")
                                    .tips
                                    ul.J-gender-ul.gender-ul
                                        li
                                            a(href="javascript:;") 男
                                        li
                                            a(href="javascript:;") 女
                        .infor-form-item.clear
                            span.infor-name 生日
                            .infor-input-wrap
                                .J-infor-input-con.infor-input-con
                                    input.J-date#date.drop-down(type="text" value="" readonly autocomplete="off")
                                    .tips
                        .infor-form-item.clear
                            span.infor-name 所在城市
                            .infor-input-wrap
                                .J-infor-input-con.infor-input-con
                                    .city-picker-selector#city-picker-search.clear
                                        .selector-item.storey.province
                                            a.selector-name.reveal.df-color(href="javascript:;")
                                            input.input-price.val-error(type="hidden" name="userProvinceId" value="" data-required="userProvinceId")
                                            .selector-list.listing

                                        .selector-item.storey.city
                                            a.selector-name.reveal.df-color.forbid(href="javascript:;")
                                            input.input-price.val-error(type="hidden" name="userCityId" value="" data-required="userCityId")
                                            .selector-list.listing

                                        .selector-item.storey.district
                                            a.selector-name.reveal.df-color.forbid(href="javascript:;")
                                            input.input-price.val-error(type="hidden" name="userDistrictId" value="" data-required="userDistrictId")
                                            .selector-list.listing

                                    .tips
                                .J-infor-input-con.infor-input-con
                                    input(type="text" value="" placeholder="请输入街道门牌信息（非必填）" autocomplete="off")
                        .infor-form-item.clear
                            span.infor-name 兴趣爱好
                            .infor-input-wrap.last-item
                                .J-infor-input-con.infor-input-con
                                    ol
                                        li
                                            span
                                                em 90后阳光俊男
                                        li
                                            span
                                                em 旅行
                                        li
                                            span
                                                em 美食
                                        li
                                            span
                                                em 健身
                                        li
                                            span
                                                em 汽车
                                        li
                                            span
                                                em 美妆
                                        li
                                            span
                                                em 家居
                                        li
                                            span
                                                em 数码
                                        li
                                            span
                                                em 咖啡
                                        li
                                            span
                                                em 阅读
                                        li
                                            span
                                                em 花艺
                                        li
                                            span
                                                em 品酒
                                        li
                                            span
                                                em 养生
                                        li
                                            span
                                                em 时尚
                                        li
                                            span
                                                em 音乐
                        .infor-btn
                            input.j-saveBtn#dataBtn(type="button" value="保存")
    .J-head-popup.head-popup
        .head-popup-wrap
            a.J-closeHead.closeHead(href="javascript:;")
            span.upload-tit 头像上传
            form(action="" enctype="multipart/form-data")
                .upload-con
                    .upload#upload
                        img#fileImg(src="static/img/tx-bg.png")
                        #upload-file
                        input#uploadPic(type="file" onchange="changepic(this)" accept="image/png, image/jpeg, image/jpg")
                    .upload-ts 从本地选择一张照片
                .upload-btn
                    input.J-cancel#cancel(type="reset" value="取消")
                    input.J-preserve#preserve(type="button" value="保存")





    include module/footer
