extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style

block script
    script(type='text/javascript',src='static/js/list-collection.js')

block content

    include module/header
    .m-news-crumbs.pl-100.pr-100
        ul.clear
            li
                a(href="index.html") 首页
            li
                a(href="javascript:;") 我的收藏
    .information
        .sub-container.clear
            .infor-l-nav
                .infor-nav-item
                    dl
                        dt 会员
                        dd
                            a(href="information.html") 个人中心
                        dd
                            a(href="huiyuan-register.html") 会员等级及权益
                        dd
                            a(href="myPoints.html") 我的积分
                        dd
                            a(href="huiyuan-order.html") 积分商城订单
                        dd
                            a(href="huiyuan-take.html") 地址管理
                .infor-nav-item
                    dl
                        dt 产品
                        dd.active
                            a(href="javascript:;") 我的收藏
                        dd
                            a(href="afterSales.html") 售后服务
            .infor-r-con
                .infor-collection
                    .u-bd-tit 我的收藏
                    .J-collection-list.collection-list.hover-fun
                        .collection-fun
                            a.J-fun-all.fun-all(href="javascript:;") 全选
                            a.J-fun-del.fun-del(href="javascript:;") 删除
                            a.J-fun-btn.fun-btn(href="javascript:;") 批量管理
                        .J-collection-ul-none.collection-ul-none
                            p 您还没有收藏的产品！
                        .u-loading#loading
                            .loading-con
                                img(src="static/img/loading.gif")
                        ul#list.J-collection-ul.collection-ul.clear


                        include module/page-number

    .J-funPopup.funPopup
        .funPopup-con
            a.J-closeFunPopup.closeFunPopup(href="javascript:;")
            img(src="static/img/ts-icon.png")
            p 是否删除选中收藏
            a.J-confirmDel.confirmDel(href="javascript:;") 确认




    include module/footer
