extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style


block script

block content

    include module/header

    .m-news-crumbs.pl-100.pr-100
        ul.clear
            li
                a(href="index.html") 首页
            li
                a(href="javascript:;") 我的积分
    .details-rule
        .sub-container.clear
            .infor-l-nav
                .infor-nav-item
                    dl
                        dt 会员
                        dd
                            a(href="information.html") 个人中心
                        dd
                            a(href="huiyuan-register.html") 会员等级及权益
                        dd.active
                            a(href="myPoints.html") 我的积分
                        dd
                            a(href="huiyuan-order.html") 积分商城订单
                        dd
                            a(href="huiyuan-take.html") 地址管理
                .infor-nav-item
                    dl
                        dt 产品
                        dd
                            a(href="infor-Collection.html") 我的收藏
                        dd
                            a(href="afterSales.html") 售后服务
            .infor-r-con
                .rule-item
                    .u-bd-tit 交易积分
                    p 会员在终端门店、COLMO官方旗舰店等店铺的产品购买交易。
                    table
                        tr
                            th 会员等级
                            th 积分
                        tr
                            td 白银会员
                            td 每消费1元累计1积分（基础消费积分）
                        tr
                            td 黄金会员
                            td 基础消费积分，额外奖励10%
                        tr
                            td 铂金会员
                            td 基础消费积分，额外奖励25%
                        tr
                            td 钻石会员
                            td 基础消费积分，额外奖励50%
                        tr
                            td 黑金会员
                            td 基础消费积分，额外奖励75%
                    p 备注：
                    p 1.积分累计规则：按折算有效消费金额（剔除折扣、代金券等优惠金额，乘以会员等级奖励倍数），四舍五入取整。
                    p 2.积分发放时间：一般为消费后的次日积分到账。如存在积分未正常到账的情况，请联系客服热线进行咨询。
                    p 3.发生退货情况，COLMO将有权对会员名下的积分进行相应调整。
                .rule-item
                    .u-bd-tit 互动积分
                    p 会员在官方微信公众号的互动，包括注册、完善信息、升级会籍、签到等可获得一定数量的奖励积分。
                    table
                        tr
                            th 互动项目
                            th 积分
                        tr
                            td 会员注册
                            td 500积分
                        tr
                            td 完善信息
                            td 200积分
                        tr
                            td 升级黄金会员
                            td 1000积分
                        tr
                            td 升级铂金会员
                            td 1500积分
                        tr
                            td 升级钻石会员
                            td 3000积分
                        tr
                            td 升级黑金会员
                            td 5000积分
                .rule-item
                    .u-bd-tit 积分管理
                    p 1.积分有效期为2个自然年，即当年产生且未使用的积分将在次年年末到期。COLMO为您提供丰富的积分兑换礼品，请在有效期内使用。
                    p 例如：2019年3月获得10000积分，在2019年5月使用6000积分，剩余4000积分没有使用。2020年12月31日时，在2019年获取但未使用的4000积分将过期失效。
                    p 2.积分不能用于兑换现金，仅作为COLMO会员计划的内部礼赏，一经兑换，不可撤销或退回。
                    p 3.积分仅限会员本人使用，不可转让。
                    p 4.若积分是以欺诈、恶意套取或其他非法方式获取，COLMO有权将该积分归于无效并进行清零。若该积分已经申请兑换礼赏的，依法保留追偿的权利。




    include module/footer