extends module/layout2
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style


block script

block content

    .m-loginWrap#J-loginWrap
        .loginHeader
            .cm-con.mr-100.ml-100.clear
                .loginLogo
                    a(href="index.html")
                        img(src="static/img/login-logo.png")
                .loginRegister
                    a(href="register.html") 还不是会员，
                        span 立即注册

        .loginContent
            .txt-table
                .txt-table-cell
                    .login-int
                        h4 会员登录
                        p#tel-p.J-tel-p.login-p.l-tel
                            input.J-tel#tel(type="text" placeholder="请输入手机号" oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength=11 autocomplete="off")
                            span.tips
                        p#yzm-p.J-yzm-p.login-p.l-yzm
                            input.J-codeInt#codeInt(type="text" placeholder="请输入验证码" oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength=6 autocomplete="off")
                            a.J-btncode#btncode.clickable(href="javascript::") 获取验证码
                            span.tips
                        p.login-p.l-btn
                            input#signIn.J-signIn.clickable(type="button" value="立即登录")

        .loginFooter#J-loginFooter
            .m-footer
                .footer-copy
                    .footer-con.clear
                        .copy-txt.fl
                            p.copy-p COLMO 2019 ALL Rights Reserved
                            p.copy-p 沪ICP备19024288号-2
                            p.copy-p
                                a(href="agreement.html") 隐私政策
                        .goTop.fr
                            a(href="index.html")
                                span
                                | 返回首页
                        .footer-share.bshare-custom.fr
                            a.f-s02.bshare-weixin(href="javascript:;")
                            a.f-s03.bshare-sinaminiblog(href="javascript:;")
                            a.f-s01(href="javascript:;")
                            script(type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh")
                            script(type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js")

