extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style

block script
    script(type='text/javascript',src='static/js/list-huiyuan-exchanges.js')

block content

    include module/header
    .m-sub-banner
        .cm-con
            .sub-banner-con
                a(href="login.html")
                    img(src="" data-src-pc="static/img/hy-index-banner.jpg" data-src-mobile="static/img/sub-mobile-banner.jpg")
                    .sub-banner-txt
                        .txt-table
                            .txt-table-cell
                                h1 登录/注册成为COLMO会员
                                .hy-link 开启会员尊享之旅
    .m-news-crumbs.pl-100.pr-100
        ul.clear
            li
                a(href="index.html") 首页
            li
                a(href="javascript:;") 会员
            li
                a(href="javascript:;") 入会有礼
    .club-con
        #toper.sub-container
            .ex-screen
                .ex-screen-item.clear
                    .ex-screen-tit 筛选
                    dl.select-check.clear
                        dd.active(data-val="001" data-name="000") 热门礼品
                        dd(data-val="002" data-name="000") 仅看可兑
                .ex-screen-item.clear
                    .ex-screen-tit 按类别
                    dl.select-check.clear
                        dd.active(data-val="011" data-name="010") COLMO精选
                        dd(data-val="012" data-name="010") 个人护理
                        dd(data-val="013" data-name="010") 厨具
                        dd(data-val="014" data-name="010") 家居日用
                        dd(data-val="015" data-name="010") 电脑数码
                        dd(data-val="016" data-name="010") 服饰箱包
                .ex-screen-item.clear
                    .ex-screen-tit 按积分
                    dl.select-check.clear
                        dd.active(data-val="021" data-name="020") 全部
                        dd(data-val="022" data-name="020") 0-500
                        dd(data-val="023" data-name="020") 501-1000
                        dd(data-val="024" data-name="020") 1001-5000
                        dd(data-val="025" data-name="020") >5001
                .ex-screen-item.clear
                    .ex-screen-tit 积分区间
                    .J-ex-intervals.ex-intervals
                        input.num-small(type="text" value="" placeholder="0" oninput="this.value=this.value.replace(/[^0-9]/g,'');"  maxlength=8)
                        input.num-big(type="text" value="" placeholder="0" oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength=8)
                    .ex-screen-btn
                        input.exBtn-submit(type="button" value="提交")
                        input.exBtn-cancel(type="button" value="取消")
            .u-loading#loading
                .loading-con
                    img(src="static/img/loading.gif")
            #J-list.m-club-dh-list.clear

            include module/page-number


    include module/footer

