extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style

block script
    script(type='text/javascript',src='static/js/list-my-points.js')

block content

    include module/header

    .m-news-crumbs.pl-100.pr-100
        ul.clear
            li
                a(href="index.html") 首页
            li
                a(href="javascript:;") 我的积分
    .details-rule
        .sub-container.clear
            .infor-l-nav
                .infor-nav-item
                    dl
                        dt 会员
                        dd
                            a(href="information.html") 个人中心
                        dd
                            a(href="huiyuan-register.html") 会员等级及权益
                        dd.active
                            a(href="myPoints.html") 我的积分
                        dd
                            a(href="huiyuan-order.html") 积分商城订单
                        dd
                            a(href="huiyuan-take.html") 地址管理
                .infor-nav-item
                    dl
                        dt 产品
                        dd
                            a(href="infor-Collection.html") 我的收藏
                        dd
                            a(href="afterSales.html") 售后服务
            .infor-r-con
                //.myPoints-doubt
                //    a(href="integral-rule.html")
                .myPoints
                    .u-bd-tit 我的积分
                    .myPoints-con
                        .myPoints-tit 我的积分：
                        .myPoints-num 3400
                            span 分
                        .myPoints-txt 截至2020年12月31日，有
                                span 1500
                                |积分即将到期。
                        .myPoints-exchange
                            a.u-Btn(href="more-exchanges.html") 立即兑换
                .myPoints-detailed
                    .u-bd-tit 我的积分
                    .u-loading#loading
                        .loading-con
                            img(src="static/img/loading.gif")
                    .J-noData-con.noData-con
                        p 暂没有积分信息！

                    table#J-list
                        thead
                            tr
                                th 来源/用途
                                th 获取/消耗
                                th 积分入账日
                                th 积分到期时间
                                th 积分
                        tbody

                    include module/page-number


    include module/footer
