extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style


block script

block content

    include module/header
    .m-news-crumbs.pl-100.pr-100
        ul.clear
            li
                a(href="index.html") 首页
            li
                a(href="javascript:;") 品牌
            li
                a(href="javascript:;") 品牌新闻
    .news-con
        .sub-container
            .u-club-tit COLMO揽获8项IF设计大奖，以理性美学引领家电设计风尚
            .new-data.clear
                .news-data-time
                    p.news-dataP
                        span.dataP-date 2020-02-12
                .news-data-share
                    span.share-sp 内容分享：
                    a.s03(target="_blank" href="http://service.weibo.com/share/share.php?appkey=1881139527&url=http://www.colmo.com.cn/index/news-list/news-detail.html?uuid=&title=分享 '（分享自@COLMO官方网站）&source=&sourceUrl=&content=页面编码gb2312|utf-8默认gb2312&pic=#_loginLayer_1545987518650'")
                    a.s02(href="javascript:;")
                        .wxImg
                            .mbbg
                                em
                                img(src="static/img/share-wximg.jpg")
                    a.J-copy.copy(href="javascript:;")

            .new-txt-p
                p 近日，备受国际关注的2020年德国IF设计奖评选结果公布，COLMO以理性美学和以人为本的极致功能体验揽获8项IF设计大奖，其中包括中央空调、洗衣机、冰箱以及烟灶套系产品。这是继2019年COLMO全套BLANC系列产品荣获IF设计大奖之后再一次获得8项IF设计大奖，标志着COLMO理性美学设计理念深受专业认可。
                p &nbsp;
                    img(src="static/img/new-details-img01.jpg")
                p &nbsp;
                    span.tit COLMO 2020 IF获奖产品
                p &nbsp;
                p 德国IF设计奖创立于1953年，素有“产品设计界的奥斯卡”之称，是国际巨头角逐的国际设计竞赛。IF奖的获得不仅代表产品的杰出设计及品质在国际范围内得到确认，还意味着该产品获得了设计与商业范围内最大程度的认可。此次获奖，是对COLMO理性美学设计理念的高度认可，未来COLMO将继续以理性美学设计引领家电设计风尚，推动高阶生活方式进化。
                p &nbsp;
                p
                    strong 洞悉本质、以简驭繁，COLMO让产品进化
                p &nbsp;
                p 自品牌创立之初，COLMO便已斩获国内外多项大奖，包括德国IF设计大奖、德国红点奖、AWE艾普兰产品及创新大奖、IDG技术创新金奖、美国IDEA设计大奖、GOODDESIGN以及红星奖等。本次荣获IF设计大奖的COLMO产品中，有COLMO全驱洗衣机、COLMO五维微气候中央空调室外机、室内机、线控器、水力模块、COLMO熔幔岩对开门冰箱以及COLMO智能烟灶套系（待上市），足以证明COLMO理性美学设计的先锋性。
                p &nbsp;
                p COLMO始终秉承洞悉本质的科技美学态度打造每一款产品，从消费者的本质需求出发，用AI科技解决用户痛点。在中央空调系统套系中，通过室内机智能的检测模块，洞悉人体及地面温度，从而根据不同的温度需求来智能调节室内温度、风量、风向和风感。而室外机的设计更为巧妙，通过格栅角度设计，让风轮隐藏于无形之中，这也恰恰印证了COLMO以简驭繁的设计美学理念——让产品低调极简而无形于空间，有心之人便会发现其整体化设计中细节交互的惊喜感。通过简约、现代的设计，COLMO将为用户带来智能、舒适的使用体验，而带液晶触摸屏的线控器，具备Wi-Fi、红外、语音控制、语音播报、亮度感应、人体感应等功能，可智能控制整个空调系统，带给消费者精致简约的科技感。
                p &nbsp;
                p
                    img(src="static/img/new-details-img01.jpg")
                p &nbsp;
                p
                    span.tit COLMO五维微气候中央空调系统套系产品
                p &nbsp;
                p 除此，COLMO以简驭繁的设计美学理念则在COLMO熔幔岩对开门冰箱身上得到了更好地诠释：从自然汲取灵感，模拟火山脚下的熔岩地貌，进而锻造出COLMO独有的仿生石面板——熔幔岩，内敛而稳重，兼具空间层次感和设计感；通过玻璃与金属等材质的折角和拼线细节工艺，呈现出家电最本质、最现代的美，从而体现出原始质感和本原材质为生活带来的必要层次感和独特理性美学审美。
                p &nbsp;
                p
                    img(src="static/img/new-details-img03.jpg")
                p &nbsp;
                p
                    span.tit COLMO熔幔岩对开门冰箱
                p &nbsp;
                p
                    strong 唯有行真方可致远，COLMO让生活进化
                p &nbsp;
                p 在如今产品千篇一律的普通设计已无法满足用户需求，COLMO用非凡的造物理念不断影响着用户的消费观念，让更多消费者对于美的追求，不仅停留在产品本身，而是从产品到生活方式的高阶深层进化。生活中可以改善的细节比比皆是，不论是希望洗衣机洗涤、漂洗更高效，还是对于冰箱智能保鲜提出不同湿度和温度的需求，都代表着用户心中对于高阶生活品质的追求。
                p &nbsp;
                p 而COLMO不仅可以利用AI科技创新，从产品层面满足用户对于产品功能日益增长的需求，还将把COLMO行真致远的生活美学态度渗透到消费者的生活中。从“洞悉本质”的科技美学、“以简驭繁”的设计美学，到“行真致远”的生活美学，唯有产品高效赋能工作生活的时候，用户才可获得更广阔的生活空间和灵感空间，不断探索未来人生场景，以理性美学让生活进化。
            .news-turning.clear
                .turning-p
                    span.turning-p-sp 上一篇：
                    a(href="javascript:;") COLMO携手《尔雅》，听梁文道讲述风雨十四载...
                .turning-p
                    span.turning-p-sp 下一篇：
                    a(href="javascript:;") COLMO携手《尔雅》，听梁文道讲述风雨十四载...


    include module/footer