extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style


block script

block content

    include module/header
    .m-sub-banner
        .cm-con
            .sub-banner-con
                img(src="static/img/bx-details-banner.jpg")

    .sub-page
        .bx-nav
            .sub-container
                h3.sub-tit 冰箱
                ul.clear
                    li
                        a(href="javascript:;")
                            span.bx-icon.kt
                            span.bx-txt 空调
                    li
                        a(href="javascript:;")
                            span.bx-icon.xyj
                            span.bx-txt 洗衣机
                    li
                        a(href="javascript:;")
                            span.bx-icon.rsq
                            span.bx-txt 热水器
                    li
                        a(href="javascript:;")
                            span.bx-icon.cfdq
                            span.bx-txt 厨房电器
                    li
                        a(href="javascript:;")
                            span.bx-icon.sb
                            span.bx-txt 水吧
                    li
                        a(href="javascript:;")
                            span.bx-icon.shjd
                            span.bx-txt 生活家电
                .md-link.clear
                    p
                        a(href="javascript:;") 产品特色
                        a(href="javascript:;") 产品参数
                        a(href="javascript:;") 相关推荐
                    .md-codeImg
                        a(href="javascript:;") 使用手册
                        .md-codeImg-con
                            img(src="static/img/code-img.png")

    include module/footer