extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style


block script

block content

    include module/header
    .m-sub-banner
        .cm-con
            .sub-banner-con
                img(src="static/img/sub-banner02.jpg" )
                .sub-banner-txt
                    .txt-table
                        .txt-table-cell
                            h1 烟灶联动 厨房美学
    .sub-page
        .bx-nav
            .sub-container
                .sub-tit 厨房电器
                    span.icon(style="background-image: url('static/img/nav-pro-icon06.png')")
                .bx-nav-swiper
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide.noSwiping
                                a(href="javascript:;")
                                    span.bx-icon.kt
                                    span.bx-txt 空调
                            .swiper-slide.noSwiping
                                a(href="javascript:;")
                                    span.bx-icon.xyj
                                    span.bx-txt 洗衣机
                            .swiper-slide.noSwiping
                                a(href="javascript:;")
                                    span.bx-icon.rsq
                                    span.bx-txt 热水器
                            .swiper-slide.noSwiping
                                a(href="javascript:;")
                                    span.bx-icon.cfdq
                                    span.bx-txt 厨房电器
                            .swiper-slide.noSwiping
                                a(href="javascript:;")
                                    span.bx-icon.sb
                                    span.bx-txt 水吧
                            .swiper-slide.noSwiping
                                a(href="javascript:;")
                                    span.bx-icon.shjd
                                    span.bx-txt 生活家电

                    .swiper-button-next.btn-next
                    .swiper-button-prev.btn-prev
        .cf-allpro
            h3.sub-tit 冰箱全部产品
            .sub-container
                .cf-pro-list.clear
                    .cf-pro-item
                        a(href="javascript:;")
                            img(src="static/img/cf-pro-img01.png")
                            span COLMO BLANC 油烟机
                            span.xh CXEP1022
                    .cf-pro-item
                        a(href="javascript:;")
                            img(src="static/img/cf-pro-img02.png")
                            span COLMO BLANC 冰箱
                            span.xh CRBT718
                    .cf-pro-item
                        a(href="javascript:;")
                            img(src="static/img/cf-pro-img03.png")
                            span COLMO EVO 系列S83烟机
                            span.xh CXKP924W-8
                    .cf-pro-item
                        a(href="javascript:;")
                            img(src="static/img/cf-pro-img04.png")
                            span COLMO 熔幔岩对开门冰箱
                            span.xh CRBF512
                    .cf-pro-item
                        a(href="javascript:;")
                            img(src="static/img/cf-pro-img05.png")
                            span COLMO BLANC 煮饭机器人
                            span.xh CRBF512
                    .cf-pro-item
                        a(href="javascript:;")
                            img(src="static/img/cf-pro-img06.png")
                            span EVO 系列QF6灶具
                            span.xh JZT-CST350-8
                    .cf-pro-item
                        a(href="javascript:;")
                            img(src="static/img/cf-pro-img07.png")
                            span COLMO 熔幔岩对开门冰箱
                            span.xh CRBK631
                    .cf-pro-item
                        a(href="javascript:;")
                            img(src="static/img/cf-pro-img08.png")
                            span COLMO BLANC 洗碗机
                            span.xh CDDTW612
                    .cf-pro-item
                        a(href="javascript:;")
                            img(src="static/img/cf-pro-img01.png")
                            span COLMO BLANC 油烟机
                            span.xh CXEP1022
                    .cf-pro-item
                        a(href="javascript:;")
                            img(src="static/img/cf-pro-img02.png")
                            span COLMO BLANC 冰箱
                            span.xh CRBT718
                    .cf-pro-item
                        a(href="javascript:;")
                            img(src="static/img/cf-pro-img03.png")
                            span COLMO EVO 系列S83烟机
                            span.xh CXKP924W-8
                    .cf-pro-item
                        a(href="javascript:;")
                            img(src="static/img/cf-pro-img04.png")
                            span COLMO 熔幔岩对开门冰箱
                            span.xh CRBF512

                include module/page-number



    include module/footer