extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style

block script
    script(type='text/javascript',src='static/js/list.js')
    script(type='text/javascript',src='static/js/pro-compare.js')

block content

    include module/header
    .m-sub-banner
        .cm-con
            .sub-banner-con
                img(src="" data-src-pc="static/img/sub-banner02.jpg" data-src-mobile="static/img/sub-mobile-banner.jpg")
                .sub-banner-txt
                    .txt-table
                        .txt-table-cell
                            h1 定制你的微气候
    .sub-page
        .J-bx-nav.bx-nav#toper
            .sub-container
                .sub-tit 空调
                    span.icon(style="background-image: url('static/img/nav-pro-icon02.png')")
                .bx-nav-swiper
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide.noSwiping
                                a(href="javascript:load1(1);")
                                    span.bx-icon.kt(style="background-image: url('static/img/nav-pro-icon02.png')")
                                    span.bx-txt
                                        em 空调空调空调空调
                            .swiper-slide.noSwiping
                                a(href="javascript:load1(2);")
                                    span.bx-icon.xyj(style="background-image: url('static/img/nav-pro-icon03.png')")
                                    span.bx-txt
                                        em 洗衣机
                            .swiper-slide.noSwiping
                                a(href="javascript:load1(1);")
                                    span.bx-icon.rsq(style="background-image: url('static/img/nav-pro-icon05.png')")
                                    span.bx-txt
                                        em 热水器
                            .swiper-slide.noSwiping
                                a(href="javascript:load1(1);")
                                    span.bx-icon.cfdq(style="background-image: url('static/img/nav-pro-icon06.png')")
                                    span.bx-txt
                                        em 厨房电器
                            .swiper-slide.noSwiping
                                a(href="javascript:load1(1);")
                                    span.bx-icon.sb(style="background-image: url('static/img/nav-pro-icon07.png')")
                                    span.bx-txt
                                        em 水吧
                            .swiper-slide.noSwiping
                                a(href="javascript:load1(1);")
                                    span.bx-icon.shjd(style="background-image: url('static/img/nav-pro-icon08.png')")
                                    span.bx-txt
                                        em 生活家电
                            .swiper-slide.noSwiping
                                a(href="javascript:load1(1);")
                                    span.bx-icon.sb(style="background-image: url('static/img/nav-pro-icon07.png')")
                                    span.bx-txt
                                        em 水吧
                            .swiper-slide.noSwiping
                                a(href="javascript:load1(1);")
                                    span.bx-icon.shjd(style="background-image: url('static/img/nav-pro-icon08.png')")
                                    span.bx-txt
                                        em 生活家电
                    .swiper-button-next.btn-next
                    .swiper-button-prev.btn-prev
        .proType.J-proType
            span 产品类别
            dl.clear
                dd.active
                    a(href="javascript:;") 全部
                        | (
                        em 3
                        | )
                dd
                    a(href="javascript:;") 空调
                        | (
                        em 2
                        | )
                dd
                    a(href="javascript:;") 中央空调
                        | (
                        em 1
                        | )
        .u-loading#loading
            .loading-con
                img(src="static/img/loading.gif")


        .m-allpro.J-cf-allpro

        .pro-compare
            .pro-compare-con
                .pro-compare-tit 产品对比
                    span （*最多可添加4款产品进行对比）
                    a.slide-compare.active(href="javascript:void(0);") 收起
                .pro-compare-list.clear
                    ul.clear
                        //li
                        //    a.closeLi(href="javascript:;")
                        //    .pro-compare-img
                        //        img(src="static/img/cf-pro-img01.png")
                        //    .pro-compare-txt
                        //        .pro-c-name BLANC 洗衣机
                        //        .pro-c-model CLDC12
                        //li
                        //    a.closeLi(href="javascript:;")
                        //    .pro-compare-img
                        //        img(src="static/img/cf-pro-img01.png")
                        //    .pro-compare-txt
                        //        .pro-c-name BLANC 洗衣机
                        //        .pro-c-model CLDC12
                        //li
                        //    a.closeLi(href="javascript:;")
                        //    .pro-compare-img
                        //        img(src="static/img/cf-pro-img01.png")
                        //    .pro-compare-txt
                        //        .pro-c-name BLANC 洗衣机
                        //        .pro-c-model CLDC12
                    .pro-compare-fun
                        a.J-start-c(href="javascript:;" data-backurl="compare.html#compared") 开始对比
                        a.J-empty-c(href="javascript:;") 清空对比栏






    include module/footer

