extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style

block script

block content

    include module/header
    .m-sub-banner
        .cm-con
            .sub-banner-con
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            img(src="" data-src-pc="static/img/scene-chufang.jpg" data-src-mobile="static/img/sub-mobile-banner.jpg")
                            .sub-banner-txt
                                .txt-table
                                    .txt-table-cell
                                        h1 理享厨房空间
                                        .sub-b-p
                                            p 以美食烹饪系统，鲜储系统，微气候管理系统及洁净系统，打造理享厨房场景解决方案。
    .sceneCon
        .sceneCon-link
            .sub-container
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide.swiper-no-swiping
                            a(href="javascript:;" data-img="static/img/cj-icon05.png" data-hover-img="static/img/cj-icon05-on.png")
                                span
                                    em 烹饪系统
                        .swiper-slide.swiper-no-swiping
                            a(href="javascript:;" data-img="static/img/cj-icon04.png" data-hover-img="static/img/cj-icon04-on.png")
                                span
                                    em 鲜储系统
                        .swiper-slide.swiper-no-swiping
                            a(href="javascript:;" data-img="static/img/cj-icon01.png" data-hover-img="static/img/cj-icon01-on.png")
                                span
                                    em 微气候管理系统
                        .swiper-slide.swiper-no-swiping
                            a(href="javascript:;" data-img="static/img/cj-icon03.png" data-hover-img="static/img/cj-icon03-on.png")
                                span
                                    em 洁净系统
                    .swiper-button-next
                    .swiper-button-prev

        .sceneCon-txt
            .sub-container
                .sceneCon-txt-item
                    .sceneCon-h4 烹饪系统
                    p 提供中西厨多元烹饪方案、整餐规划方案及专业的食谱指引，轻松满足定制烹饪需求，还原食材纯粹本味，阿拉斯加帝王蟹的鲜甜口感需与家人及朋友间一起分享。
                    ul.clear
                        li
                            a(href="javascript:;" data-img="static/img/cj/cf/pr/01.png" data-hover-img="static/img/cj/cf/pr/01-on.png")
                                span
                                    em 灶具
                        li
                            a(href="javascript:;" data-img="static/img/cj/cf/pr/02.png" data-hover-img="static/img/cj/cf/pr/02-on.png")
                                span
                                    em 蒸箱
                        li
                            a(href="javascript:;" data-img="static/img/cj/烤箱icon01.png" data-hover-img="static/img/cj/烤箱icon01-on.png")
                                span
                                    em 烤箱
                        li
                            a(href="javascript:;" data-img="static/img/cj/cf/pr/03.png" data-hover-img="static/img/cj/cf/pr/03-on.png")
                                span
                                    em 煮饭机器人
                        li
                            a(href="javascript:;" data-img="static/img/cj/cf/pr/04.png" data-hover-img="static/img/cj/cf/pr/04-on.png")
                                span
                                    em 管线机
                .sceneCon-txt-item
                    .sceneCon-h4 鲜储系统
                    p 提供食材鲜储及餐具鲜存解决方案，长时锁定食材新鲜品质，长效轻护骨瓷餐具表层釉面，一餐一夕呵护家人的营养与健康。
                    ul.clear
                        li
                            a(href="javascript:;" data-img="static/img/cj/cf/xc/01.png" data-hover-img="static/img/cj/cf/xc/01-on.png")
                                span
                                    em 冰箱
                        li
                            a(href="javascript:;" data-img="static/img/cj/cf/xc/02.png" data-hover-img="static/img/cj/cf/xc/02-on.png")
                                span
                                    em 洗碗机
                .sceneCon-txt-item
                    .sceneCon-h4 微气候管理系统
                    p 通过烟机联动厨房空调及新风机、双翻拢吸等功能，在炎夏爆炒美味亦如置身富氧森林般气候清新，为您打造厨房鲜凉气候。
                    ul.clear
                        li
                            a(href="javascript:;" data-img="static/img/cj/cf/wqh/01.png" data-hover-img="static/img/cj/cf/wqh/01-on.png")
                                span
                                    em 烟机
                        li
                            a(href="javascript:;" data-img="static/img/cj/cf/wqh/02.png" data-hover-img="static/img/cj/cf/wqh/02-on.png")
                                span
                                    em 厨房空调
                .sceneCon-txt-item
                    .sceneCon-h4 洁净系统
                    p 通过净饮微气泡洗、洗碗机对旋洗、燃热厨房洗等专业功能，轻松驾驭多人用餐时的厨房洁净问题。餐前准备有机蔬菜深度洁净，餐后红酒水晶杯机器轻洗，智享闲暇时光，轻松体验厨房社交乐趣。
                    ul.clear
                        li
                            a(href="javascript:;" data-img="static/img/cj/cf/jj/01.png" data-hover-img="static/img/cj/cf/jj/01-on.png")
                                span
                                    em 洗碗机
                        li
                            a(href="javascript:;" data-img="static/img/cj/cf/jj/02.png" data-hover-img="static/img/cj/cf/jj/02-on.png")
                                span
                                    em 净水
                        li
                            a(href="javascript:;" data-img="static/img/cj/cf/jj/03.png" data-hover-img="static/img/cj/cf/jj/03-on.png")
                                span
                                    em 燃热
        .sceneCon-Swiper
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        img(src="static/img/厨房-2.jpg")
                        .s-sp-txt 私享时刻，惬意愉乐
                    .swiper-slide
                        img(src="static/img/厨房-4.jpg")
                        .s-sp-txt 亲子时光，寓教于餐
                    .swiper-slide
                        img(src="static/img/厨房-3.jpg")
                        .s-sp-txt 父母欢聚，轻松玩趣
                    .swiper-slide
                        img(src="static/img/厨房-1.jpg")
                        .s-sp-txt 圈层聚会，食之友味
            .swiper-button-next
            .swiper-button-prev

    include module/footer