extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style

block script

block content

    include module/header
    .m-sub-banner
        .cm-con
            .sub-banner-con
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            img(src="" data-src-pc="static/img/scene-qiju.jpg" data-src-mobile="static/img/sub-mobile-banner.jpg")
                            .sub-banner-txt
                                .txt-table
                                    .txt-table-cell
                                        h1 理享起居空间
                                        .sub-b-p
                                            p 以微气候管理系统，净饮系统，鲜储系统及空间洁净系统，打造理享起居场景解决方案。
    .sceneCon
        .sceneCon-link
            .sub-container
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide.swiper-no-swiping
                            a(href="javascript:;" data-img="static/img/cj-icon01.png" data-hover-img="static/img/cj-icon01-on.png")
                                span
                                    em 微气候管理系统
                        .swiper-slide.swiper-no-swiping
                            a(href="javascript:;" data-img="static/img/cj-icon04.png" data-hover-img="static/img/cj-icon04-on.png")
                                span
                                    em 鲜储系统
                        .swiper-slide.swiper-no-swiping
                            a(href="javascript:;" data-img="static/img/cj-icon02.png" data-hover-img="static/img/cj-icon02-on.png")
                                span
                                    em 净饮系统
                        .swiper-slide.swiper-no-swiping
                            a(href="javascript:;" data-img="static/img/cj-icon03.png" data-hover-img="static/img/cj-icon03-on.png")
                                span
                                    em 空间洁净系统
                    .swiper-button-next
                    .swiper-button-prev

        .sceneCon-txt
            .sub-container
                .sceneCon-txt-item
                    .sceneCon-h4 微气候管理系统
                    p 温湿风净鲜五维微气候管理，智感全时调控。处客厅茶室如林间惬游，居卧室书房静沐清风，瑜伽健身运动曲线智控，打造多样起居环境，每一种气候都恰到好处。
                    ul.clear
                        li
                            a(href="javascript:;" data-img="static/img/cj/qj/wqh/01.png" data-hover-img="static/img/cj/qj/wqh/01-on.png")
                                span
                                    em 空调
                        li
                            a(href="javascript:;" data-img="static/img/cj/qj/wqh/01.png" data-hover-img="static/img/cj/qj/wqh/01-on.png")
                                span
                                    em 中央空调
                .sceneCon-txt-item
                    .sceneCon-h4 鲜储系统
                    p 无论护肤奢品还是臻稀滋补，均有专业的鲜储解决方案。早间的护肤精华液，茶歇的蓝莓轻乳拿破仑蛋糕，助眠的日本威士忌，随时随心定格生活至鲜。
                    ul.clear
                        li
                            a(href="javascript:;" data-img="static/img/cj/qj/xc/01.png" data-hover-img="static/img/cj/qj/xc/01-on.png")
                                span
                                    em 冰箱
                .sceneCon-txt-item
                    .sceneCon-h4 净饮系统
                    p 通过深度净化、管道灭菌、出水控温等功能，打造健康舒适的饮水环境。15°冷萃咖啡，28°常温水，45°爱尔兰奶粉，57°玫瑰花茶，85°西湖龙井，96°正山小种，每一次泡制都恰如其分。
                    ul.clear
                        li
                            a(href="javascript:;" data-img="static/img/cj/qj/jy/01.png" data-hover-img="static/img/cj/qj/jy/01-on.png")
                                span
                                    em 管线机
                        li
                            a(href="javascript:;" data-img="static/img/cj/qj/jy/02.png" data-hover-img="static/img/cj/qj/jy/02-on.png")
                                span
                                    em 净水
                .sceneCon-txt-item
                    .sceneCon-h4 空间洁净系统
                    p 静电除尘保持空间清新洁净，赋能无尘起居环境。置身无边纯净，如处“天空之镜”乌尤尼盐湖般干净无暇。
                    ul.clear
                        li
                            a(href="javascript:;" data-img="static/img/cj/qj/wqh/01.png" data-hover-img="static/img/cj/qj/wqh/01-on.png")
                                span
                                    em 中央空调


        .sceneCon-Swiper
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        img(src="static/img/起居-1_2.jpg")
                        .s-sp-txt 独占一墅，吾居无束
                    //.swiper-slide
                    //    img(src="static/img/起居-2.jpg")
                    //    .s-sp-txt 朋友主题，动静皆宜
                    //.swiper-slide
                    //    img(src="static/img/起居-3.jpg")
                    //    .s-sp-txt 亲子共进，进无止净
                    //.swiper-slide
                    //    img(src="static/img/起居-4.jpg")
                    //    .s-sp-txt 父母时刻，各享其乐

            .swiper-button-next
            .swiper-button-prev

    include module/footer