extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style

block script

block content

    include module/header
    .m-sub-banner
        .cm-con
            .sub-banner-con
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            img(src="" data-src-pc="static/img/scene-xihu.jpg" data-src-mobile="static/img/sub-mobile-banner.jpg")
                            .sub-banner-txt
                                .txt-table
                                    .txt-table-cell
                                        h1 理享洗护空间
                                        .sub-b-p
                                            p 以面料洁净系统，面料护理系统，微气候管理系统及水处理系统，打造理享洗护场景解决方案。
                        .swiper-slide
                            img(src="" data-src-pc="static/img/scene-xihu.jpg" data-src-mobile="static/img/sub-mobile-banner.jpg")
                            .sub-banner-txt
                                .txt-table
                                    .txt-table-cell
                                        h1 理享洗护空间
                                        .sub-b-p
                                            p 以面料洁净系统，面料护理系统，微气候管理系统及水处理系统，打造理享洗护场景解决方案。
                    .swiper-pagination
    .sceneCon
        .sceneCon-link
            .sub-container
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide.swiper-no-swiping
                            a(href="javascript:;" data-img="static/img/cj-icon07.png" data-hover-img="static/img/cj-icon07-on.png")
                                span
                                    em 面料洁净系统
                        .swiper-slide.swiper-no-swiping
                            a(href="javascript:;" data-img="static/img/cj-icon08.png" data-hover-img="static/img/cj-icon08-on.png")
                                span
                                    em 面料护理系统
                        .swiper-slide.swiper-no-swiping
                            a(href="javascript:;" data-img="static/img/cj-icon09.png" data-hover-img="static/img/cj-icon09-on.png")
                                span
                                    em 水处理系统
                        .swiper-slide.swiper-no-swiping
                            a(href="javascript:;" data-img="static/img/cj-icon01.png" data-hover-img="static/img/cj-icon01-on.png")
                                span
                                    em 微气候管理系统
                    .swiper-button-next
                    .swiper-button-prev

        .sceneCon-txt
            .sub-container
                .sceneCon-txt-item
                    .sceneCon-h4 面料洁净系统
                    p AI慧眼及AI识水识地识气候的加持，让我们拥有更精准的洁净解决方案，赋能高端面料专属洁净。净纤科技有效避免面料纤维损伤，甩净污渍及化学残留，皮肤接触无刺激，净享舒适。
                    ul.clear
                        li
                            a(href="javascript:;" data-img="static/img/cj/xh/jj/01.png" data-hover-img="static/img/cj/xh/jj/01-on.png")
                                span
                                    em 洗衣机
                .sceneCon-txt-item
                    .sceneCon-h4 面料护理系统
                    p 16种精致护理模式，提供最佳的面料护理方案。微蒸汽深入纤维恢复衣物蓬松柔软，空气洗怯味还原羽绒清新自然，UV紫外杀菌对床单健康除螨无需晾晒。呵护高端面料不为天气所限，开启丝般柔软亲肤新体验。
                    ul.clear
                        li
                            a(href="javascript:;" data-img="static/img/cj/xh/hl/01.png" data-hover-img="static/img/cj/xh/hl/01-on.png")
                                span
                                    em 干洗机
                        li
                            a(href="javascript:;" data-img="static/img/cj/xh/hl/02.png" data-hover-img="static/img/cj/xh/hl/02-on.png")
                                span
                                    em 洗干一体机
                .sceneCon-txt-item
                    .sceneCon-h4 水处理系统
                    p 洗衣机联动净水设备读取TDS值实现精准洗护；内置传感自动匹配面料所需温度，冷水护色，30°醒丝绸，40°护羊毛，95°杀菌洗，识水智投，因衣用水。
                    ul.clear
                        li
                            a(href="javascript:;" data-img="static/img/cj/qj/jy/02.png" data-hover-img="static/img/cj/qj/jy/02-on.png")
                                span
                                    em 净水器
                .sceneCon-txt-item
                    .sceneCon-h4 微气候管理系统
                    p 炎夏居洗衣房享清凉气候，潮湿天衣帽间控湿护皮革绒物，全时五维微气候管理，呵护衣物与你更近一步。
                    ul.clear
                        li
                            a(href="javascript:;" data-img="static/img/cj/xh/wqh/01.png" data-hover-img="static/img/cj/xh/wqh/01-on.png")
                                span
                                    em 中央空调
        .sceneCon-Swiper
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        img(src="static/img/洗护-衣帽间.jpg")
                        .s-sp-txt 单人衣物，轻净柔护
                    .swiper-slide
                        img(src="static/img/洗护-儿童房.jpg")
                        .s-sp-txt 孩童港湾，去絮留芳
                    .swiper-slide
                        img(src="static/img/洗护-老人-2.jpg")
                        .s-sp-txt 父母做客，长辈模式

            .swiper-button-next
            .swiper-button-prev

    include module/footer