extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style

block script

block content

    include module/header
    .m-sub-banner
        .cm-con
            .sub-banner-con
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            img(src="" data-src-pc="static/img/scene-weiyu.jpg" data-src-mobile="static/img/sub-mobile-banner.jpg")
                            .sub-banner-txt
                                .txt-table
                                    .txt-table-cell
                                        h1 理享卫浴空间
                                        .sub-b-p
                                            p 以肌肤护理系统及微气候管理系统，打造理享卫浴场景解决方案。
    .sceneCon
        .sceneCon-link
            .sub-container
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide.swiper-no-swiping
                            a(href="javascript:;" data-img="static/img/cj-icon06.png" data-hover-img="static/img/cj-icon06-on.png")
                                span
                                    em 肌肤护理系统
                        .swiper-slide.swiper-no-swiping
                            a(href="javascript:;" data-img="static/img/cj-icon01.png" data-hover-img="static/img/cj-icon01-on.png")
                                span
                                    em 微气候管理系统
                    .swiper-button-next
                    .swiper-button-prev
        .sceneCon-txt
            .sub-container
                .sceneCon-txt-item
                    .sceneCon-h4 肌肤护理系统
                    p 最适沐浴曲线、软水净水洁面，微气泡在肌肤表面弹破的一瞬间，充分释放肌肤活性，舒缓都市忙碌身躯。
                    ul.clear
                        li
                            a(href="javascript:;" data-img="static/img/cj/wy/jf/01.png" data-hover-img="static/img/cj/wy/jf/01-on.png")
                                span
                                    em 电热
                        li
                            a(href="javascript:;" data-img="static/img/cj/wy/jf/02.png" data-hover-img="static/img/cj/wy/jf/02-on.png")
                                span
                                    em 燃热
                        li
                            a(href="javascript:;" data-img="static/img/cj/wy/jf/03.png" data-hover-img="static/img/cj/wy/jf/03-on.png")
                                span
                                    em 净水
                .sceneCon-txt-item
                    .sceneCon-h4 微气候管理系统
                    p 水暖风凉，新风控湿，微气候管理系统助您舒适享受家庭SPA时光，如置身多瑙河畔享清风微抚，卸下忙碌任思绪飘空。
                    ul.clear
                        li
                            a(href="javascript:;" data-img="static/img/cj/wy/wqh/01.png" data-hover-img="static/img/cj/wy/wqh/01-on.png")
                                span
                                    em 中央空调
        .sceneCon-Swiper
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        img(src="static/img/卫浴-1.jpg")
                        .s-sp-txt 私人时刻，独享SPA
                    .swiper-slide
                        img(src="static/img/卫浴-3.jpg")
                        .s-sp-txt 孩童沐浴，吾需多滤
                    .swiper-slide
                        img(src="static/img/卫浴-2_2.jpg")
                        .s-sp-txt 客用公共，温湿精控

            .swiper-button-next
            .swiper-button-prev

    include module/footer