extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style
    link(rel='stylesheet',type='text/css',href='static/css/special.css')

block script
    script(type='text/javascript',src='static/js/special.js')


block content

    include module/header

    .special-banner
        .J-special-salon-banner.special-salon-banner
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        a(href="javascript:;" title="")
                            img(src="static/img/special/special-banner04.jpg")
                    .swiper-slide
                        a(href="javascript:;" title="")
                            img(src="static/img/special/special-banner04.jpg")
                    .swiper-slide
                        a(href="javascript:;" title="")
                            img(src="static/img/special/special-banner04.jpg")
                .swiper-button-next
                .swiper-button-prev
                .swiper-pagination

    .special-con(style="background-image:url('static/img/special/bg05.jpg')")
        .sub-container
            .special-t-txt
                p 11月20日，COLMO云顶设计沙龙在上海举行。<br/>来自家居、建筑领域的设计师们齐聚一堂，展开了一场关于AI家电理性美学设计语言与工业设计美学理念的思维碰撞。<br/>此次沙龙还特别邀请到国际知名先锋建筑师，OPEN建筑事务所创始合伙人李虎，<br/>分享对COLMO高端AI家电产品设计与人居环境自然相融的感悟。
            .special-module
                .salon-title
                    .salon-title-con
                        .salon-title-ch 特邀嘉宾
                .special-salon-guest
                    .J-salon-guest-swiper.salon-guest-swiper
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/special-img21.jpg")
                                    .guest-slide-tit
                                        p 空调云顶设计师沙龙特邀嘉宾
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/special-img22.jpg")
                                    .guest-slide-tit
                                        p 空调云顶设计师沙龙特邀嘉宾
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/special-img23.jpg")
                                    .guest-slide-tit
                                        p 空调云顶设计师沙龙特邀嘉宾
                            .swiper-button-next
                            .swiper-button-prev
            .special-module
                .salon-title
                    .salon-title-con
                        .salon-title-ch 精彩瞬间
                .special-salon-moment
                    .special-wonderful-top
                        .swiper-container.gallery-top
                            .swiper-wrapper
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/special-img24.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/special-img24.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/special-img24.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/special-img24.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/special-img24.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/special-img24.jpg")
                        .swiper-button-next
                        .swiper-button-prev
                        .swiper-pagination
                    .special-wonderful-thumbs
                        .swiper-container.gallery-thumbs
                            .swiper-wrapper
                                .swiper-slide.active-nav
                                    img(src="static/img/special/special-img24.jpg")
                                .swiper-slide
                                    img(src="static/img/special/special-img24.jpg")
                                .swiper-slide
                                    img(src="static/img/special/special-img24.jpg")
                                .swiper-slide
                                    img(src="static/img/special/special-img24.jpg")
                                .swiper-slide
                                    img(src="static/img/special/special-img24.jpg")
                                .swiper-slide
                                    img(src="static/img/special/special-img24.jpg")
            .special-module
                .salon-title
                    .salon-title-con
                        .salon-title-ch 相关资讯
                .special-report
                    ul.clear
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img05.jpg")
                                .special-report-txt
                                    h4 生而非凡 全新AI科技家电高端品牌COLMO全球首发
                                    span 2020-07-29
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img06.jpg")
                                .special-report-txt
                                    h4 享理性美学让高阶生活进化，首届COLMO菁英生活节完美收官
                                    span 2020-07-29
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img07.jpg")
                                .special-report-txt
                                    h4 COLMO亮相2020 WAIC云端峰会，以AI科技引领生活进化
                                    span 2020-07-29



    include module/footer
