extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style
    link(rel='stylesheet',type='text/css',href='static/css/special.css')

block script
    script(type='text/javascript',src='static/js/special.js')


block content

    include module/header

    .special-banner
        .J-special-salon-banner.special-salon-banner
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        a(href="javascript:;" title="")
                            img(src="static/img/special/thirteen-banner.jpg")
                .swiper-button-next
                .swiper-button-prev
                .swiper-pagination

    .special-con(style="background-image:url('static/img/special/thirteen-bg.jpg')")
        .sub-container
            .thirteen-video
                .thirteen-title 现场视频
                .thirteen-video-con.thirteen-modular.clear
                    .t-thirteen-l
                        img(src="static/img/special/thirteen-img01.jpg")
                        a.J-videoPlay.livePlay(href="javascript:;" data-url="static/video/COLMO-Homepage-video-long-version2.mp4")
                    .t-thirteen-r
                        h4 COLMO.《十三邀.夏日特别版》
                        p 第五季播出前，COLMO携手《十三邀》，与许知远一起对话张亚东，回顾华语音乐近30年来的发展历程，听他们谈美与时代精神的关系，“穿过雾霭森林去寻找美”
            .special-module
                .thirteen-title 邀请嘉宾
                .thirteen-guest-video
                    .t-guest-video.thirteen-modular
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/thirteen-img02.jpg")
                                    .i-g-v-txt
                                        .i-g-name 许知远
                                        .i-g-txt 我相信在一个价值混乱的时代，美会变得更凸显，因为它提供某种恒定的标准。
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/thirteen-img03.jpg")
                                    .i-g-v-txt
                                        .i-g-name 张亚东
                                        .i-g-txt 哪怕是在最困苦的时候，或者最不堪的时候，我们都在寻找那个美的东西，你一直没放弃找那个东西，这个可能是天性。
                        .swiper-button-next
                        .swiper-button-prev
            .special-module
                .thirteen-title 精彩瞬间
                .thirteen-Wonderful
                    .t-Wf-swiper.thirteen-modular
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/thirteen-img04.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/thirteen-img04.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/thirteen-img04.jpg")
                        .swiper-button-next
                        .swiper-button-prev
            .special-module
                .thirteen-title 相关资讯
                .special-report.thirteen-report
                    ul.clear
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img05.jpg")
                                .special-report-txt
                                    h4 生而非凡 全新AI科技家电高端品牌COLMO全球首发
                                    span 2020-07-29
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img14.jpg")
                                .special-report-txt
                                    h4 享理性美学让高阶生活进化，首届COLMO菁英生活节完美收官
                                    span 2020-07-29
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img15.jpg")
                                .special-report-txt
                                    h4 COLMO亮相2020 WAIC云端峰会，以AI科技引领生活进化
                                    span 2020-07-29




    .J-special-video-popup.special-video-popup
        .special-video-wrap
            img.videoBg(src="static/img/opacityImg.png")
            .special-video-box
                a.J-closeVideo.closeVideo(href="javascript:;")
                #video


    include module/footer
