extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style
    link(rel='stylesheet',type='text/css',href='static/css/special.css')

block script
    script(type='text/javascript',src='static/js/special.js')


block content

    include module/header

    .special-banner
        .J-special-salon-banner.special-salon-banner
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        a(href="javascript:;" title="")
                            img(src="static/img/special/special-banner01.jpg")
                    .swiper-slide
                        a(href="javascript:;" title="")
                            img(src="static/img/special/special-banner02.jpg")
                    .swiper-slide
                        a(href="javascript:;" title="")
                            img(src="static/img/special/special-banner03.jpg")
                .swiper-button-next
                .swiper-button-prev
                .swiper-pagination

    .special-con(style="background-image:url('static/img/special/bg03.jpg')")
        .sub-container
            .special-t-txt
                p 3月14日，中国家电及消费电子博览会（AWE）在上海盛大开幕，<br/>本届大会以“AI上•智慧生活”为主题，AI科技家电高端品牌COLMO携全新BLANC套系创新成果亮相。<br/>这是COLMO品牌的AWE首秀，同时也是BLANC套系的全球首发，美的集团董事长方洪波先生出席COLMO剪彩仪式，<br/>美的中央研究院徐成茂院长在现场分享了COLMO的创新成果。
            .special-module
                .special-AWE-title COLMO创新成果分享
                .special-AWE-share
                    .AWE-share-img
                        a(href="javascript:;" title="")
                            img(src="static/img/special/special-img08.jpg")
                        span 美的中央研究院院长
            .special-module
                .special-AWE-title 全新BLANC套系
                    p 创新成果亮相AWE
                .special-AWE-nested
                    .J-AWE-nested-swiper.AWE-nested-swiper
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/special-img09.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/special-img09.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/special-img09.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/special-img09.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/special-img09.jpg")
                            .swiper-button-next
                            .swiper-button-prev
                            .swiper-pagination
            .special-module
                .special-AWE-title 艾普兰创新奖
                .special-eplan
                    .J-AWE-nested-swiper.AWE-nested-swiper
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/special-img10.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/special-img10.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/special-img10.jpg")
                            .swiper-button-next
                            .swiper-button-prev
                            .swiper-pagination
            .special-module
                .special-AWE-title 精彩瞬间
                .special-AWE-Wonderful
                    .special-moment.clear
                        .special-moment-l
                            .swiper-container
                                .swiper-wrapper
                                    .swiper-slide
                                        a(href="javascript:;" title="")
                                            img(src="static/img/special/special-img11.jpg")
                                    .swiper-slide
                                        a(href="javascript:;" title="")
                                            img(src="static/img/special/special-img12.jpg")
                                    .swiper-slide
                                        a(href="javascript:;" title="")
                                            img(src="static/img/special/special-img13.jpg")
                                    .swiper-slide
                                        a(href="javascript:;" title="")
                                            img(src="static/img/special/special-img11.jpg")
                                    .swiper-slide
                                        a(href="javascript:;" title="")
                                            img(src="static/img/special/special-img12.jpg")
                                    .swiper-slide
                                        a(href="javascript:;" title="")
                                            img(src="static/img/special/special-img13.jpg")
                        .special-moment-r
                            .swiper-container
                                .swiper-wrapper
                                    .swiper-slide
                                        img(src="static/img/special/special-img11.jpg")
                                    .swiper-slide
                                        img(src="static/img/special/special-img12.jpg")
                                    .swiper-slide
                                        img(src="static/img/special/special-img13.jpg")
                                    .swiper-slide
                                        img(src="static/img/special/special-img11.jpg")
                                    .swiper-slide
                                        img(src="static/img/special/special-img12.jpg")
                                    .swiper-slide
                                        img(src="static/img/special/special-img13.jpg")
                                .swiper-button-next
                                .swiper-button-prev
            .special-module
                .special-AWE-title 相关资讯
                .special-report
                    ul.clear
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img05.jpg")
                                .special-report-txt
                                    h4 生而非凡 全新AI科技家电高端品牌COLMO全球首发
                                    span 2020-07-29
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img14.jpg")
                                .special-report-txt
                                    h4 享理性美学让高阶生活进化，首届COLMO菁英生活节完美收官
                                    span 2020-07-29
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img15.jpg")
                                .special-report-txt
                                    h4 COLMO亮相2020 WAIC云端峰会，以AI科技引领生活进化
                                    span 2020-07-29


    include module/footer
