extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style
    link(rel='stylesheet',type='text/css',href='static/css/special.css')

block script
    script(type='text/javascript',src='static/js/special.js')


block content

    include module/header

    .special-con(style="background-image:url('static/img/special/bg08.jpg')")
        .sub-container
            .gobi-banner.clear
                a(href="javascript:;" title="")
                    img(src="static/img/special/gobi-font.png")
            .special-module
                .gobi-title 玄奘之路
                    p 商学院戈壁挑战赛
                .gobi-xz-con.clear
                    .gobi-xz-txt
                        p 2019年举办的"戈十四"，缘起2006年中央电视台与北京行知探索文化策划实施的重点文化考察活动——玄奘之路。自首届由王石、冯仑、张维迎、齐大庆等商界精英推动以来，已连续十三年举办的玄奘之路商学院戈壁挑战赛，成功吸引了来自国内外著名商学院的数万名EMBA及MBA精英参与赛事。
                        p AI科技家电高端品牌COLMO秉持生而非凡的品牌精神和攀登不止的步伐，助力玄奘之路商学院戈壁挑战赛启程又一年征途。
                    .gobi-xz-video
                        img(src="static/img/special/gobi-img01.jpg")
                        a.J-special-play-1(href="javascript:;" data-url="static/video/COLMO-Homepage-video-long-version2.mp4")
            .special-module
                .gobi-title 精彩瞬间
                .waic-Wonderful.gobi-Wonderful
                    .waic-wonderful-top
                        .swiper-container.gallery-top
                            .swiper-wrapper
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/gobi-img02.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/gobi-img02.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/gobi-img02.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/gobi-img02.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/gobi-img02.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/gobi-img02.jpg")
                    .waic-wonderful-thumbs
                        .swiper-container.gallery-thumbs
                            .swiper-wrapper
                                .swiper-slide
                                    img(src="static/img/special/gobi-img02.jpg")
                                .swiper-slide
                                    img(src="static/img/special/gobi-img02.jpg")
                                .swiper-slide
                                    img(src="static/img/special/gobi-img02.jpg")
                                .swiper-slide
                                    img(src="static/img/special/gobi-img02.jpg")
                                .swiper-slide
                                    img(src="static/img/special/gobi-img02.jpg")
                                .swiper-slide
                                    img(src="static/img/special/gobi-img02.jpg")
                        .swiper-button-next
                        .swiper-button-prev

            .special-module
                .gobi-title 相关资讯
                .special-report
                    ul.clear
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img05.jpg")
                                .special-report-txt
                                    h4 生而非凡 全新AI科技家电高端品牌COLMO全球首发
                                    span 2020-07-29
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img06.jpg")
                                .special-report-txt
                                    h4 享理性美学让高阶生活进化，首届COLMO菁英生活节完美收官
                                    span 2020-07-29
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img07.jpg")
                                .special-report-txt
                                    h4 COLMO亮相2020 WAIC云端峰会，以AI科技引领生活进化
                                    span 2020-07-29

    .J-special-video-popup.special-video-popup
        .special-video-wrap
            img.videoBg(src="static/img/opacityImg.png")
            .special-video-box
                a.J-closeVideo.closeVideo(href="javascript:;")
                #video

    include module/footer
