extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style
    link(rel='stylesheet',type='text/css',href='static/css/special.css')

block script
    script(type='text/javascript',src='static/js/special.js')


block content

    include module/header

    .special-banner
        .J-special-salon-banner.special-salon-banner
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        a(href="javascript:;" title="")
                            img(src="static/img/special/special-banner01.jpg")
                .swiper-button-next
                .swiper-button-prev
                .swiper-pagination

    .special-con(style="background-image:url('static/img/special/bg01.jpg')")
        .sub-container
            .special-t-txt
                p 2018年10月19日，AI科技家电高端品牌COLMO在欧洲之巅勃朗峰进行了品牌揭幕并宣布全球首发。<br/>“COLMO”寓意“攀登”，凭借“生而非凡”的品牌精髓和“科技服务生活本源、设计释放理性空间”的品牌理念，<br/>COLMO集聚全球前沿科技和高端智造的智慧灵思，为消费者带来兼具至臻品质和自主学习能力的AI科技家电。
            .special-t-video
                .t-video-con
                    img(src="static/img/special/special-img01.jpg")
                    a.J-special-play-1.special-play-1(href="javascript:;" data-url="static/video/COLMO-Homepage-video-long-version2.mp4")
            .special-module
                .special-tit-type1 特邀嘉宾
                .special-guest
                    .special-guest-item
                        .guestImg
                            a(href="javascript:;" title="")
                                img(src="static/img/special/special-img02.jpg")
                        .guestTxt
                            span Suresh
                            p 硅谷未来技术中心负责人Suresh以“科技服务生活本源”定义COLMO品牌的前沿科技观。“科技应当始终服务用户的品质诉求，赋予生活灵感与惊喜。”COLMO认为，科技不仅是你的化身，更是你的延伸，它有洞悉人类本源需求的远见，更有学习进化的睿智。
                    .special-guest-item
                        .guestImg
                            a(href="javascript:;" title="")
                                img(src="static/img/special/special-img03.jpg")
                        .guestTxt
                            span Marzio
                            p “通过先锋设计我们希望可以释放用户的理性空间，让全球超级个体可以自由地探索世界，丰富人生体验，通过高效赋能以激发灵感。”Marzio表示。COLMO释放的不仅是“被捆绑”的隐形时间，更是“被束缚”的理性空间。
            .special-module
                .special-tit-type1 精彩瞬间
                .special-wonderful
                    .special-wonderful-top
                        .swiper-container.gallery-top
                            .swiper-wrapper
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/special-img04.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/special-img04.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/special-img04.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/special-img04.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/special-img04.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/special-img04.jpg")
                        .swiper-button-next
                        .swiper-button-prev
                        .swiper-pagination
                    .special-wonderful-thumbs
                        .swiper-container.gallery-thumbs
                            .swiper-wrapper
                                .swiper-slide.active-nav
                                    img(src="static/img/special/special-img04.jpg")
                                .swiper-slide
                                    img(src="static/img/special/special-img04.jpg")
                                .swiper-slide
                                    img(src="static/img/special/special-img04.jpg")
                                .swiper-slide
                                    img(src="static/img/special/special-img04.jpg")
                                .swiper-slide
                                    img(src="static/img/special/special-img04.jpg")
                                .swiper-slide
                                    img(src="static/img/special/special-img04.jpg")
            .special-module
                .special-tit-type1 相关资讯
                .special-report
                    ul.clear
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img05.jpg")
                                .special-report-txt
                                    h4 生而非凡 全新AI科技家电高端品牌COLMO全球首发
                                    span 2020-07-29
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img06.jpg")
                                .special-report-txt
                                    h4 享理性美学让高阶生活进化，首届COLMO菁英生活节完美收官
                                    span 2020-07-29
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img07.jpg")
                                .special-report-txt
                                    h4 COLMO亮相2020 WAIC云端峰会，以AI科技引领生活进化
                                    span 2020-07-29

    .J-special-video-popup.special-video-popup
        .special-video-wrap
            img.videoBg(src="static/img/opacityImg.png")
            .special-video-box
                a.J-closeVideo.closeVideo(href="javascript:;")
                #video


    include module/footer
