extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style
    link(rel='stylesheet',type='text/css',href='static/css/special.css')

block script
    script(type='text/javascript',src='static/js/special.js')


block content

    include module/header

    .special-con.essence-con(style="background-image:url('static/img/special/bg07.jpg')")
        .special-banner
            .J-special-salon-banner.special-salon-banner
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            a(href="javascript:;" title="")
                                img(src="static/img/special/jy-banner.png")
                    .swiper-button-next
                    .swiper-button-prev
                    .swiper-pagination
        .sub-container
            .special-t-txt
                p 本质的极简到极致的菁英<br/>COLMO携手各界菁英，从美食、文化、设计等领域入手<br/>一同探索生活理性之美、简约之美和极致之美
            .special-t-video
                .t-video-con
                    img(src="static/img/special/jy-img02.png")
                    a.J-special-play-1.special-play-1(href="javascript:;" data-url="static/video/COLMO-Homepage-video-long-version2.mp4")
            .special-module
                .special-tit-type1 活动议程
                .essence-agenda
                    .essence-agenda-list
                        .agenda-line
                        .essence-agenda-item
                            .essence-agenda-time 15:00-15:10
                            .essence-agenda-txt
                                p 洞悉·理性美学
                                span 对话COLMO工业设计总监 欧杰
                        .essence-agenda-item
                            .essence-agenda-time 15:10-15:40
                            .essence-agenda-txt
                                p 对话·菁英生活
                                span 梁文道、张永和、Maurice Li、Julia Zhu、欧杰
                        .essence-agenda-item
                            .essence-agenda-time 15:40-15:55
                            .essence-agenda-txt
                                p 体验·生活进化
                        .essence-agenda-item
                            .essence-agenda-time 15:55-16:00
                            .essence-agenda-txt
                                p 开启·菁英生活节
            .special-module
                .special-tit-type1 特邀嘉宾
                .essence-guest
                    .essence-guest-list.clear
                        .essence-guest-item
                            .es-guest-img
                                a(href="javascript:;" title="")
                                    img(src="static/img/special/jy-tx01.png")
                            .es-guest-txt
                                .es-guest-name 梁文道
                                .es-guest-zw 媒体人/看理想总策划
                                .es-guest-mj
                                    p 时代越是复杂<br/>生活越是简单
                        .essence-guest-item
                            .es-guest-img
                                a(href="javascript:;" title="")
                                    img(src="static/img/special/jy-tx02.png")
                            .es-guest-txt
                                .es-guest-name 张永和
                                .es-guest-zw 著名建筑师
                                .es-guest-mj
                                    p 发现理性美学<br/>匠造美好人居
                        .essence-guest-item
                            .es-guest-img
                                a(href="javascript:;" title="")
                                    img(src="static/img/special/jy-tx03.png")
                            .es-guest-txt
                                .es-guest-name Julia Zhu
                                .es-guest-zw 一言一吾创始人
                                .es-guest-mj
                                    p 真正的进化<br/>是回归生活
                        .essence-guest-item
                            .es-guest-img
                                a(href="javascript:;" title="")
                                    img(src="static/img/special/jy-tx04.png")
                            .es-guest-txt
                                .es-guest-name Maurice Li
                                .es-guest-zw 资深文化项目出品人
                                .es-guest-mj
                                    p 以生活之“简”<br/>驭人生之“繁”
                    .essence-guest-video
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .e-guest-vImg
                                        img(src="static/img/special/jy-img03.jpg")
                                        a.J-special-play-1(href="javascript:;" data-url="static/video/COLMO-Homepage-video-long-version2.mp4")
                                    p COLMO菁英生活节-梁文道
                                .swiper-slide
                                    .e-guest-vImg
                                        img(src="static/img/special/jy-img04.jpg")
                                        a.J-special-play-1(href="javascript:;" data-url="static/video/COLMO-Homepage-video-long-version2.mp4")
                                    p COLMO菁英生活节-MOE
                                .swiper-slide
                                    .e-guest-vImg
                                        img(src="static/img/special/jy-img05.jpg")
                                        a.J-special-play-1(href="javascript:;" data-url="static/video/COLMO-Homepage-video-long-version2.mp4")
                                    p COLMO菁英生活节-Julia Zhu
                                .swiper-slide
                                    .e-guest-vImg
                                        img(src="static/img/special/jy-img06.jpg")
                                        a.J-special-play-1(href="javascript:;" data-url="static/video/COLMO-Homepage-video-long-version2.mp4")
                                    p COLMO菁英生活节-张永和
                                .swiper-slide
                                    .e-guest-vImg
                                        img(src="static/img/special/jy-img06.jpg")
                                        a.J-special-play-1(href="javascript:;" data-url="static/video/COLMO-Homepage-video-long-version2.mp4")
                                    p COLMO菁英生活节-张永和
                                .swiper-slide
                                    .e-guest-vImg
                                        img(src="static/img/special/jy-img06.jpg")
                                        a.J-special-play-1(href="javascript:;" data-url="static/video/COLMO-Homepage-video-long-version2.mp4")
                                    p COLMO菁英生活节-张永和
                        .swiper-button-next
                        .swiper-button-prev
            .special-module
                .special-tit-type1 精彩瞬间
                .special-eplan.essence-eplan
                    .special-moment.clear
                        .special-moment-l
                            .swiper-container
                                .swiper-wrapper
                                    .swiper-slide
                                        a(href="javascript:;" title="")
                                            img(src="static/img/special/jy-img07.jpg")
                                    .swiper-slide
                                        a(href="javascript:;" title="")
                                            img(src="static/img/special/jy-img07.jpg")
                                    .swiper-slide
                                        a(href="javascript:;" title="")
                                            img(src="static/img/special/jy-img07.jpg")
                                    .swiper-slide
                                        a(href="javascript:;" title="")
                                            img(src="static/img/special/jy-img07.jpg")
                                    .swiper-slide
                                        a(href="javascript:;" title="")
                                            img(src="static/img/special/jy-img07.jpg")
                        .special-moment-r
                            .swiper-container
                                .swiper-wrapper
                                    .swiper-slide
                                        img(src="static/img/special/jy-img07.jpg")
                                    .swiper-slide
                                        img(src="static/img/special/jy-img07.jpg")
                                    .swiper-slide
                                        img(src="static/img/special/jy-img07.jpg")
                                    .swiper-slide
                                        img(src="static/img/special/jy-img07.jpg")
                                    .swiper-slide
                                        img(src="static/img/special/jy-img07.jpg")
                                .swiper-button-next
                                .swiper-button-prev

            .special-module
                .special-tit-type1 相关资讯
                .special-report
                    ul.clear
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img05.jpg")
                                .special-report-txt
                                    h4 生而非凡 全新AI科技家电高端品牌COLMO全球首发
                                    span 2020-07-29
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img06.jpg")
                                .special-report-txt
                                    h4 享理性美学让高阶生活进化，首届COLMO菁英生活节完美收官
                                    span 2020-07-29
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img07.jpg")
                                .special-report-txt
                                    h4 COLMO亮相2020 WAIC云端峰会，以AI科技引领生活进化
                                    span 2020-07-29

    .J-special-video-popup.special-video-popup
        .special-video-wrap
            img.videoBg(src="static/img/opacityImg.png")
            .special-video-box
                a.J-closeVideo.closeVideo(href="javascript:;")
                #video

    include module/footer
