extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style
    link(rel='stylesheet',type='text/css',href='static/css/special.css')

block script
    script(type='text/javascript',src='static/js/special.js')


block content

    include module/header

    .special-con(style="background-image:url('static/img/special/bg06.jpg')")
        .sub-container
            .waic-banner
                .waic-logo
                    img(src="static/img/special/waic-logo.png")
                .waic-tit-big
                    h4 AI赋能科技人居新图景
                    span AI empower the future home life
                .waic-tit-small
                    h5 家电行业论坛
                    span Home Appliance Industry Forum
                .waic-dw-txt
                    p 主办单位：上海科慕电器有限公司<br/>
                        |指导单位：世界人工智能大会组委会<br/>
                        |协办单位：中国家用电器协会<br/>
                        em 协办单位：
                        |美的集团中央研究院<br/>
                        em 协办单位：
                        |中国家电网

            .special-module
                .waic-title 活动议程
                .waic-agenda
                    .agenda-list
                        .agenda-list-item
                            .agenda-time 14:00-14:10
                            .agenda-tit 主题演讲
                            .agenda-txt
                                p 中国家用电器协会分享
                        .agenda-list-item
                            .agenda-time 14:10-14:35
                            .agenda-tit 主题演讲
                            .agenda-txt
                                p 斯坦福大学教授分享
                        .agenda-list-item
                            .agenda-time 14:35-15:00
                            .agenda-tit 主题演讲
                            .agenda-txt
                                p 全球AI科技家电白皮书发布
                        .agenda-list-item
                            .agenda-time 15:00-15:30
                            .agenda-tit 高端对话
                            .agenda-txt
                                p COLMO TALK
                        .agenda-list-item
                            .agenda-time 15:30-16:00
                            .agenda-tit 启动仪式
                            .agenda-txt
                                p COLMO X 上海交通大学创新大赛
            .special-module
                .waic-title 特邀嘉宾
                .waic-guest
                    .waic-guest-list.clear
                        .waic-guest-item
                            a(href="javascript:;" title="")
                                img(src="static/img/special/waic-h-01.png")
                            .waic-guest-txt
                                .jb-name 王雷
                                .jb-tit 中国家用电器协会副理事长
                                .jb-txt
                                    p COLMO正成为AI科技家电的创新先驱，智能化是高端品牌最亮眼的魅力品质。
                        .waic-guest-item
                            a(href="javascript:;" title="")
                                img(src="static/img/special/waic-h-02.png")
                            .waic-guest-txt
                                .jb-name Jerry Kaplan
                                .jb-tit 斯坦福大学人工智能专家
                                .jb-txt
                                    p Life is all about people, not machines. (人本身才是生活的核心，而非机器。)
                        .waic-guest-item
                            a(href="javascript:;" title="")
                                img(src="static/img/special/waic-h-03.png")
                            .waic-guest-txt
                                .jb-name 胡自强
                                .jb-tit 美的集团CTO
                                .jb-txt
                                    p COLMO引领科技的创新，深入洞察用户需求，使科技与你，共生共进。
                        .waic-guest-item
                            a(href="javascript:;" title="")
                                img(src="static/img/special/waic-h-04.png")
                            .waic-guest-txt
                                .jb-name 陈江平
                                .jb-tit 上海交通大学创新中心主任
                                .jb-txt
                                    p COLMO正成为AI科技家电的创新先驱，智能化是高端品牌最亮眼的魅力品质。
                        .waic-guest-item
                            a(href="javascript:;" title="")
                                img(src="static/img/special/waic-h-05.png")
                            .waic-guest-txt
                                .jb-name David Westendorf
                                .jb-tit Passiolife首席产品官
                                .jb-txt
                                    p 将继续加强与COLMO的深度合作，旨在打造极致人机交互模式。
                        .waic-guest-item
                            a(href="javascript:;" title="")
                                img(src="static/img/special/waic-h-06.png")
                            .waic-guest-txt
                                .jb-name 徐成茂
                                .jb-tit 美的集团中央研究院院长
                                .jb-txt
                                    p AI科技家电有三大核心技术：视觉感知、语音交互系统、AI云大脑。
            .special-module
                .waic-title 精彩瞬间
                .waic-Wonderful
                    .waic-wonderful-top
                        .swiper-container.gallery-top
                            .swiper-wrapper
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/waic-img01.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/waic-img01.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/waic-img01.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/waic-img01.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/waic-img01.jpg")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/waic-img01.jpg")
                    .waic-wonderful-thumbs
                        .swiper-container.gallery-thumbs
                            .swiper-wrapper
                                .swiper-slide
                                    img(src="static/img/special/waic-img01.jpg")
                                .swiper-slide
                                    img(src="static/img/special/waic-img01.jpg")
                                .swiper-slide
                                    img(src="static/img/special/waic-img01.jpg")
                                .swiper-slide
                                    img(src="static/img/special/waic-img01.jpg")
                                .swiper-slide
                                    img(src="static/img/special/waic-img01.jpg")
                                .swiper-slide
                                    img(src="static/img/special/waic-img01.jpg")
                        .swiper-button-next
                        .swiper-button-prev
            .special-module
                .waic-title 相关资讯
                .special-report
                    ul.clear
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img05.jpg")
                                .special-report-txt
                                    h4 生而非凡 全新AI科技家电高端品牌COLMO全球首发
                                    span 2020-07-29
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img06.jpg")
                                .special-report-txt
                                    h4 享理性美学让高阶生活进化，首届COLMO菁英生活节完美收官special-AWE-nested
                                    span 2020-07-29
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img07.jpg")
                                .special-report-txt
                                    h4 COLMO亮相2020 WAIC云端峰会，以AI科技引领生活进化
                                    span 2020-07-29



    include module/footer
