extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style
    link(rel='stylesheet',type='text/css',href='static/css/special.css')

block script
    script(type='text/javascript',src='static/js/special.js')


block content

    include module/header

    .special-banner
        .J-special-salon-banner.special-salon-banner
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        a(href="javascript:;" title="")
                            img(src="static/img/special/lxj-banner.png")
                .swiper-button-next
                .swiper-button-prev
                .swiper-pagination

    .special-con(style="background-image:url('static/img/special/lxj-bg.jpg')")
        .sub-container
            .special-module
                .idealists-live.idealists-modular
                    .idealists-title 现场直播
                    .idealists-live-video
                        img(src="static/img/special/lxj-img01.png")
                        a.J-livePlay.livePlay(href="javascript:;" data-url="static/video/COLMO-Homepage-video-long-version2.mp4")
            .special-module
                .idealists-video.idealists-modular
                    .idealists-title 现场视频
                    .idealists-video-con.clear
                        .i-video-l
                            img(src="static/img/special/lxj-img02.png")
                            a.J-videoPlay.livePlay(href="javascript:;" data-url="static/video/COLMO-Homepage-video-long-version2.mp4")
                        .i-video-r
                            p 8月1日，COLMO理享家沙龙在杭州泊空间如约举行， 在极致自然环境的包围中，COLMO携手著名作家、《十三邀》主创许知远先生，音乐人（鲸鱼马戏团）、 52Hz声音馆馆长李星宇，中国首个线上线下全平台瑜伽教育品牌OMMA创始人Tiffany以及COLMO工业设计总监欧杰，围绕“理享生活 不止一面”的沙龙主题，由己到彼，分享并探讨了从极简到极智，不止一面的理享生活方式。
            .special-module
                .idealists-process.idealists-modular
                    .idealists-title 活动流程
                    .idealists-process-list
                        ul
                            li
                                .i-process-time 13:30-13:40
                                .i-process-tit 展区参观
                                .i-process-txt 许知远、讲解员
                            li
                                .i-process-time 14:00-14:10
                                .i-process-tit 开场
                                .i-process-txt 主持人
                            li
                                .i-process-time 14:10-14:20
                                .i-process-tit 领导发言
                                .i-process-txt 运中总经理和客户片区总经理
                            li
                                .i-process-time 14:22-14:30
                                .i-process-tit TEDtalk
                                .i-process-txt 许知远
                            li
                                .i-process-time 14:30-15:10
                                .i-process-tit 对谈
                                .i-process-txt 主持人、许知远、李星宇、Tiffany、欧杰
                            li
                                .i-process-time 15:10-15:15
                                .i-process-tit 启动仪式
                                .i-process-txt 4位嘉宾、2位领导
            .special-module
                .idealists-guest.idealists-modular
                    .idealists-title 邀请嘉宾
                    .idealists-guest-swiper
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/lxj-img03.png")
                                    .i-guest-con
                                        .i-guest-name 许知远
                                        .i-guest-txt
                                            p 作品、单向空间创始人、《十三邀》主创,主要作品有《青年变革者：梁启超1873-1898》、《游荡集》等。
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/lxj-img04.png")
                                    .i-guest-con
                                        .i-guest-name 李星宇
                                        .i-guest-txt
                                            p 独立音乐制作人及声学空间设计师,以鲸鱼马戏团的名义独立发行音乐专辑,并在业余时间担任北京现代音乐研修学院外聘教师。
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/lxj-img05.png")
                                    .i-guest-con
                                        .i-guest-name Tiffany
                                        .i-guest-txt
                                            p 众明星名模私人瑜伽导师,教学经验近20年,中国首个线上线下全平台瑜伽教育品牌OMMA创始人,拥有百万粉丝,线上教学累计观看人次破1千6百万。
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/lxj-img06.png")
                                    .i-guest-con
                                        .i-guest-name 欧杰
                                        .i-guest-txt
                                            p COLMO工业设计总监，7年工业设计经验，19年专研白电产品工业设计，4年用户研究与洞察，带领团队多次获得IF奖、红点奖、GOOD DESIGN AWARD等国际工业设计大奖。
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/lxj-img06.png")
                                    .i-guest-con
                                        .i-guest-name 欧杰
                                        .i-guest-txt
                                            p COLMO工业设计总监，7年工业设计经验，19年专研白电产品工业设计，4年用户研究与洞察，带领团队多次获得IF奖、红点奖、GOOD DESIGN AWARD等国际工业设计大奖。
                        .swiper-button-next
                        .swiper-button-prev
            .special-module
                .idealists-guest-video.idealists-modular
                    .idealists-title 嘉宾视频
                    .i-guest-video
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .i-g-v-box
                                        img(src="static/img/special/lxj-img07.png")
                                        a.J-GustPlay.livePlay(href="javascript:;" data-url="static/video/COLMO-Homepage-video-long-version2.mp4")
                                    .i-g-v-txt
                                        .i-g-name 许知远
                                        .i-g-txt 对理想生活的见解：既跌宕人心又充满镇定
                                .swiper-slide
                                    .i-g-v-box
                                        img(src="static/img/special/lxj-img08.png")
                                        a.J-GustPlay.livePlay(href="javascript:;" data-url="static/video/COLMO-Homepage-video-long-version2.mp4")
                                    .i-g-v-txt
                                        .i-g-name 李星宇
                                        .i-g-txt 理想生活就是自洽+对自然的理解
                                .swiper-slide
                                    .i-g-v-box
                                        img(src="static/img/special/lxj-img07.png")
                                        a.J-GustPlay.livePlay(href="javascript:;" data-url="static/video/COLMO-Homepage-video-long-version2.mp4")
                                    .i-g-v-txt
                                        .i-g-name 许知远
                                        .i-g-txt 对理想生活的见解：既跌宕人心又充满镇定
                                .swiper-slide
                                    .i-g-v-box
                                        img(src="static/img/special/lxj-img08.png")
                                        a.J-GustPlay.livePlay(href="javascript:;" data-url="static/video/COLMO-Homepage-video-long-version2.mp4")
                                    .i-g-v-txt
                                        .i-g-name 李星宇
                                        .i-g-txt 理想生活就是自洽+对自然的理解
                        .swiper-button-next
                        .swiper-button-prev
            .special-module
                .idealists-pro.idealists-modular
                    .idealists-title 产品展区
                    .idealists-pro-swiper
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/lxj-img09.png")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/lxj-img10.png")
                                .swiper-slide
                                    a(href="javascript:;" title="")
                                        img(src="static/img/special/lxj-img11.png")
                        .swiper-button-next
                        .swiper-button-prev
            .special-module
                .special-AWE-Wonderful.idealists-Wonderful.idealists-modular
                    .idealists-title 精彩瞬间
                    .special-moment.clear
                        .special-moment-l
                            .swiper-container
                                .swiper-wrapper
                                    .swiper-slide
                                        a(href="javascript:;" title="")
                                            img(src="static/img/special/lxj-img12.png")
                                    .swiper-slide
                                        a(href="javascript:;" title="")
                                            img(src="static/img/special/lxj-img12.png")
                                    .swiper-slide
                                        a(href="javascript:;" title="")
                                            img(src="static/img/special/lxj-img12.png")
                        .special-moment-r
                            .swiper-container
                                .swiper-wrapper
                                    .swiper-slide
                                        img(src="static/img/special/lxj-img12.png")
                                    .swiper-slide
                                        img(src="static/img/special/lxj-img12.png")
                                    .swiper-slide
                                        img(src="static/img/special/lxj-img12.png")
                                .swiper-button-next
                                .swiper-button-prev
            .special-module
                .special-report.idealists-report.idealists-modular
                    .idealists-title 相关资讯
                    ul.clear
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img05.jpg")
                                .special-report-txt
                                    h4 生而非凡 全新AI科技家电高端品牌COLMO全球首发
                                    span 2020-07-29
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img14.jpg")
                                .special-report-txt
                                    h4 享理性美学让高阶生活进化，首届COLMO菁英生活节完美收官
                                    span 2020-07-29
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img15.jpg")
                                .special-report-txt
                                    h4 COLMO亮相2020 WAIC云端峰会，以AI科技引领生活进化
                                    span 2020-07-29
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img05.jpg")
                                .special-report-txt
                                    h4 生而非凡 全新AI科技家电高端品牌COLMO全球首发
                                    span 2020-07-29
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img14.jpg")
                                .special-report-txt
                                    h4 享理性美学让高阶生活进化，首届COLMO菁英生活节完美收官
                                    span 2020-07-29
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img15.jpg")
                                .special-report-txt
                                    h4 COLMO亮相2020 WAIC云端峰会，以AI科技引领生活进化
                                    span 2020-07-29

    .J-special-video-popup.special-video-popup
        .special-video-wrap
            img.videoBg(src="static/img/opacityImg.png")
            .special-video-box
                a.J-closeVideo.closeVideo(href="javascript:;")
                #video


    include module/footer
