extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style
    link(rel='stylesheet',type='text/css',href='static/css/special.css')

block script
    script(type='text/javascript',src='static/js/special.js')


block content

    include module/header

    .special-banner
        .J-special-salon-banner.special-salon-banner
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        a(href="javascript:;" title="")
                            img(src="static/img/special/kv-banner.png")
                .swiper-button-next
                .swiper-button-prev
                .swiper-pagination

    .special-con(style="background-image:url('static/img/special/bg04.jpg')")
        .sub-container
            .special-t-txt
                p 2月28日，由COLMO携手《尔雅》定制打造的《尔雅：包豪斯的革命》节目正式上线。<br/>在《尔雅：包豪斯的革命》中，主讲人梁文道来到德国魏玛，<br/>还原了101年前那场关于包豪斯大学、形式大师、工艺大师还有理性美学的革命之路，用镜头讲故事，让历史沉淀。<br/>作为整段故事的亲历者和见证者，COLMO与《尔雅》同行，一同探寻包豪斯革命的本质，回溯理性美学的起源。
            .special-video-data
                .video-data-top
                    img(src="static/img/special/special-img16.jpg")
                    a.J-kvPlay.kvPlay(href="javascript:;" data-url="static/video/COLMO-Homepage-video-long-version2.mp4")
                    .video-data-txt
                        h4 梁文道携手陈丹青
                        p 与COLMO一起对话百年包豪斯背后的美学变迁
                .video-data-bottom
                    ul.clear
                        li
                            .video-data-img
                                img(src="static/img/special/special-img17.jpg")
                                a.J-kvPlay.kvPlay(href="javascript:;" data-url="static/video/COLMO-Homepage-video-long-version2.mp4")
                            .video-data-txt
                                h4 包豪斯的革命
                                p 时间线性前进，生活理性进化，2020让理性回归，品味生活美学
                        li
                            .video-data-img
                                img(src="static/img/special/special-img18.jpg")
                                a.J-kvPlay.kvPlay(href="javascript:;" data-url="static/video/COLMO-Homepage-video-long-version2.mp4")
                            .video-data-txt
                                h4 包豪斯的革命
                                p 时间线性前进，生活理性进化，2020让理性回归，品味生活美学
                        li
                            .video-data-img
                                img(src="static/img/special/special-img19.jpg")
                                a.J-kvPlay.kvPlay(href="javascript:;" data-url="static/video/COLMO-Homepage-video-long-version2.mp4")
                            .video-data-txt
                                h4 包豪斯的革命
                                p 时间线性前进，生活理性进化，2020让理性回归，品味生活美学
            .special-module
                .special-tit-type1 相关资讯
                .special-report
                    ul.clear
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img05.jpg")
                                .special-report-txt
                                    h4 生而非凡 全新AI科技家电高端品牌COLMO全球首发
                                    span 2020-07-29
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img06.jpg")
                                .special-report-txt
                                    h4 享理性美学让高阶生活进化，首届COLMO菁英生活节完美收官
                                    span 2020-07-29
                        li
                            a(href="javascript:;")
                                .special-report-img
                                    img(src="static/img/special/special-img07.jpg")
                                .special-report-txt
                                    h4 COLMO亮相2020 WAIC云端峰会，以AI科技引领生活进化
                                    span 2020-07-29

    .J-special-video-popup.special-video-popup
        .special-video-wrap
            img.videoBg(src="static/img/opacityImg.png")
            .special-video-box
                a.J-closeVideo.closeVideo(href="javascript:;")
                #video


    include module/footer
