extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style

block script
    script(type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&ak=4nIStvWr5Mea1xawRSavacbKpagq2ahm")
    script(type="text/javascript" src="static/js/richmarker_min.js")
    script(type="text/javascript" src="static/js/searchinfowindow_min.js")
    script(type="text/javascript" src="static/js/infobox.js")
    script(type='text/javascript',src='static/js/colmoMap.js')

block content

    include module/header

    .J-store-wrap.store-wrap
        .store-data
            .store-list-tit
                p.storeTit 查找门店
            .store-list-select.clear
                .J-store-select.store-select
                    span.spName
                    .J-store-ul.store-ul
                        ul#J-province-list.sc-cont
                .J-store-select.store-select
                    span.spName
                    .J-store-ul.store-ul
                        ul#J-city-list.sc-cont
                .J-store-select.store-select
                    span.spName
                    .J-store-ul.store-ul#J-area-select
                        ul#J-area-list.sc-cont
                .J-store-select.store-select
                    span.spName
                    .J-store-ul.store-ul
                        ul#J-type-list.sc-cont
                .J-store-select.store-select
                    span.spName
                    .J-store-ul.store-ul
                        ul#J-pro-list.sc-cont

            .J-store-list-ul.store-list-ul
                .sc-cont#J-sc-list
                    ul#list
                    .store-list-page#page-nav.clear
                        a.cur(href="javascript:;") 1
                        a(href="javascript:;") 2
                        a(href="javascript:;") 3


        .store-map
            a.returnBtn(href="javascript:;")
            #storeMap









