extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style


block script
    script(type='text/javascript',src='static/js/list-super.js')


block content

    include module/header
    .m-sub-banner
        .cm-con
            .sub-banner-con
                img(src="" data-src-pc="static/img/sub-banner07.jpg" data-src-mobile="static/img/sub-mobile-banner.jpg")
                .sub-banner-txt
                    .txt-table
                        .txt-table-cell
                            h1 全球超级个体
    .news-list-wrap#toper
        .m-news-crumbs.pl-100.pr-100
            ul.clear
                li
                    a(href="index.html") 首页
                li
                    a(href="javascript:;") 会员
                li
                    a(href="javascript:;") 全球超级个体
        .news-list-con
            .sub-container
                .u-loading#loading
                    .loading-con
                        img(src="static/img/loading.gif")
                ul#J-list.m-news-ul.clear



                include module/page-number


    include module/footer
