extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style
    link(rel='stylesheet',type='text/css',href='static/css/system.css')

block script
    script(type='text/javascript',src='static/js/system.js')

block content

    include module/header
    .m-system-banner
        img(src="" data-src-pc="static/img/tx-blanc-banner.jpg" data-src-mobile="static/img/Blanc-index-banner750x360.png")
        .system-banner-con.textCenter
            .sub-container
                .system-banner-txt
                    h1 极智即非凡
                    p 极智科技，生而非凡，AI识别前沿科技，洞悉世界本质，为用户提供全屋专家级智慧解决方案。
    .sub-page
        .system-con
            .u-tx-title
                .tx-title-tit
                    h4 静谧星泽灰家居一体化方案
                .tx-title-txt
            .system-item.pd-0
                .m-system-programme
                    .system-programme-top
                        .programme-item
                            a(href="javascript:;")
                                img(src="static/img/tx-blanc-img01.jpg")
                                .programme-txt
                                    .programme-name 星泽灰
                                    .programme-js 灵感源于夜幕星泽下的欧洲之巅勃朗峰，套系主色调“星泽灰”完美融合家居环境，以纯粹的元素呈现本真的冲击。

                    .system-programme-bot.clear
                        .programme-item
                            a(href="javascript:;")
                                img(src="static/img/tx-blanc-img02.jpg")
                                .programme-txt
                                    .programme-name 静谧的整体风格
                        .programme-item
                            a(href="javascript:;")
                                img(src="static/img/tx-blanc-img03.jpg")
                                .programme-txt
                                    .programme-name 雕塑级空间设计
                        .programme-item
                            a(href="javascript:;")
                                img(src="static/img/tx-blanc-img04.jpg")
                                .programme-txt
                                    .programme-name 纯粹的原始质感
            .u-tx-title
                .tx-title-tit
                    h4 多屏互动智慧解决方案
                .tx-title-txt 分布式智慧屏/AI慧眼/专属“指”令/金融级安全
            .system-item.pd-0
                .J-system-solution.fiber-system-solution.m-system-solution(style="background-image:url('static/img/system-bg01.jpg')")
                    ul.fiber-ul
                        li(data-ipad="static/img/system-solution.jpg" data-mobile="static/img/system-solution.jpg" data-pc="static/img/system-bg01.jpg" data-video="static/video/分布式智慧屏.mp4")
                        li(data-ipad="static/img/system-solution.jpg" data-mobile="static/img/system-solution.jpg" data-pc="static/img/system-bg01.jpg" data-video="static/video/AI慧眼.mp4")
                        li(data-ipad="static/img/system-solution.jpg" data-mobile="static/img/system-solution.jpg" data-pc="static/img/system-bg01.jpg" data-video="static/video/专属指令.mp4")
                        li(data-ipad="static/img/system-solution.jpg" data-mobile="static/img/mb-bg02.png" data-pc="static/img/tx-blanc-img09.jpg" data-video="")
                    .J-solution-list.solution-list
                        .J-solution-item.solution-item
                            .showTxt 分布式智慧屏
                                em ,
                                |全屋跨屏联动
                            .closeFiber
                                i ×
                            a(href="javascript:;")
                                .solution-con
                                    .solution-tit
                                        p 分布式智慧屏<br/>全屋跨屏联动
                                    .solution-txt
                                        p 分布式TFT智慧屏可跨屏联动，实现全屋家电可视、可知、随控
                                    .solution-icon
                                        i.s-icon +
                                    .video-button(data-mobile-video="static/video/分布式智慧屏.mp4") 观看视频
                        .J-solution-item.solution-item
                            .showTxt AI慧眼
                                em ,
                                |智慧屏显
                            .closeFiber
                                i ×
                            a(href="javascript:;")
                                .solution-con
                                    .solution-tit
                                        p AI慧眼<br/>智慧屏显
                                    .solution-txt
                                        p 套系AI慧眼做到识鲜、识衣、识米，CNN神经网络精准识别并回馈至智慧屏，提供专业解决方案
                                    .solution-icon
                                        i.s-icon +
                                    .video-button(data-mobile-video="static/video/AI慧眼.mp4") 观看视频
                        .J-solution-item.solution-item
                            .showTxt 专属指令
                                em ,
                                |一触即享
                            .closeFiber
                                i ×
                            a(href="javascript:;")
                                .solution-con
                                    .solution-tit
                                        p 专属“指”令<br/>一触即享
                                    .solution-txt
                                        p 专注于用户交互体验，化繁为简的界面设计提供更流畅的操控体验
                                    .solution-icon
                                        i.s-icon +
                                    .video-button(data-mobile-video="static/video/专属指令.mp4") 观看视频
                        .J-solution-item.solution-item
                            .showTxt 金融级安全
                                em ,
                                |给予多重保护
                            .closeFiber
                                i ×
                            a(href="javascript:;")
                                .solution-con
                                    .solution-tit
                                        p 金融级安全<br/>给予多重保护
                                    .solution-txt
                                        p 专注于用户交互体验，化繁为简的界面设计提供更流畅的操控体验
                                    .solution-icon
                                        i.s-icon +
            .u-tx-title
                .tx-title-tit
                    h4 BLANC全套系产品
                .tx-title-txt
            .system-item.pd-0
                .sub-container
                    .m-system-pro-list
                        ul.clear
                            li
                                a(href="javascript:;")
                                    img(src="static/img/tx-blanc-pro01.png")
                                    .system-pro-txt
                                        .system-pro-name BLANC冰箱
                                        .system-pro-model CRBT718
                            li
                                a(href="javascript:;")
                                    img(src="static/img/tx-blanc-pro02.png")
                                    .system-pro-txt
                                        .system-pro-name BLANC洗衣机
                                        .system-pro-model CLDC12
                            li
                                a(href="javascript:;")
                                    img(src="static/img/tx-blanc-pro03.png")
                                    .system-pro-txt
                                        .system-pro-name BLANC洗衣机
                                        .system-pro-model CLDC10
                            li
                                a(href="javascript:;")
                                    img(src="static/img/tx-blanc-pro04.png")
                                    .system-pro-txt
                                        .system-pro-name BLANC洗碗机
                                        .system-pro-model CDDTW612
                            li
                                a(href="javascript:;")
                                    img(src="static/img/tx-blanc-pro05.png")
                                    .system-pro-txt
                                        .system-pro-name BLANC油烟机
                                        .system-pro-model CXEP1022
                            li
                                a(href="javascript:;")
                                    img(src="static/img/tx-blanc-pro06.png")
                                    .system-pro-txt
                                        .system-pro-name BLANC燃气灶
                                        .system-pro-model JZT-CZTD50
                            li
                                a(href="javascript:;")
                                    img(src="static/img/tx-blanc-pro07.png")
                                    .system-pro-txt
                                        .system-pro-name BLANC煮饭机器人
                                        .system-pro-model JZT-CZTD50





    include module/footer