extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style
    link(rel='stylesheet',type='text/css',href='static/css/system.css')

block script
    script(type='text/javascript',src='static/js/system.js')

block content

    include module/header
    .m-system-banner
        img(src="" data-src-pc="static/img/tx-turing-banner.jpg" data-src-mobile="static/img/Turing-index-banner750x360.png")
        .system-banner-con.textCenter
            .sub-container
                .system-banner-txt
                    h1 不繁即非凡
                    p 化繁为简，生而非凡，偏执极简设计与交互，造就不繁TURING套系；<br/>秉承“设计释放理性空间”的品牌理念，TURING为您破译整体家居进阶密码。
    .sub-page
        .system-con
            .u-tx-title
                .tx-title-tit
                    h4 以简驭繁 家居一体进化
                .tx-title-txt
            .system-item.pd-0
                .m-system-programme
                    .system-programme-top
                        .programme-item
                            a(href="javascript:;")
                                img(src="static/img/tx-turing-img01.jpg")
                                .programme-txt
                                    .programme-name 锆石蓝
                                    .programme-js 象征永恒又更前沿的“锆石蓝”主色，灵感源于千年冰川，凸显了TURING套系与家居一体化“无形而不凡”的极简格调。

                    .system-programme-bot.clear
                        .programme-item
                            a(href="javascript:;")
                                img(src="static/img/tx-turing-img02.jpg")
                                .programme-txt
                                    .programme-name 前沿的整体风格
                        .programme-item
                            a(href="javascript:;")
                                img(src="static/img/tx-turing-img03.jpg")
                                .programme-txt
                                    .programme-name 极简的空间设计
                        .programme-item
                            a(href="javascript:;")
                                img(src="static/img/tx-turing-img04.jpg")
                                .programme-txt
                                    .programme-name 理性的原始质感
            .u-tx-title
                .tx-title-tit
                    h4 精工智造 精湛工艺
                .tx-title-txt 贯穿于全套系的精工元素，出自高端产线的精工缔造，以毫米级的工艺完美，诠释产品严谨的态度。
            .system-item.pd-0
                .system-technology(style="background-image:url('static/img/tx-turing-bg01.jpg')")
                    .sub-container
                        .technology-list.clear
                            .technology-item
                                a(href="javascript:;")
                                    img(src="static/img/tx-turing-img05.jpg")
                                    .technology-tit 精工品质始终如一
                            .technology-item
                                a(href="javascript:;")
                                    img(src="static/img/tx-turing-img06.jpg")
                                    .technology-tit 精工元素诠释严谨
            .u-tx-title
                .tx-title-tit
                    h4 灵动交互 悦然体验
            .system-item.pd-0
                .system-relaxed
                    .relaxed-con.clear
                        .relaxed-txt
                            p 铝质天际银套系视觉落脚点作为产品功能区，加上呼吸灯的互动，让产品体验更轻松自如。
                            dl
                                dt 呼吸灯互动更惊艳
                                dd 天际银视觉中心
                                dd 精准提醒
                                dd 冰川蓝呼吸灯
                                dd 灵动交互
                        .relaxed-img
                            img(src="static/img/tx-turing-img07.jpg")
            .u-tx-title
                .tx-title-tit
                    h4 分布式语音智慧解决方案
                .tx-title-txt 分布式语音/AI智感/“言”而有应/金融机构安全
            .system-item.pd-0
                .J-system-solution.m-system-solution(data-pc-img="static/img/tx-turing-bg.jpg" data-mb-img="static/img/mobile-bg.png")
                    .J-solution-list.solution-list
                        .J-solution-item.solution-item
                            a(href="system-TURING-details.html#S01")
                                .solution-con
                                    .solution-tit
                                        p 分布式语音<br/>如影随行
                                    .solution-txt
                                        p 专注于用户交互体验，化繁为简的界面设计提供更流畅的操控体验
                                    .solution-icon
                                        i.s-icon +
                        .J-solution-item.solution-item
                            a(href="system-TURING-details.html#S02")
                                .solution-con
                                    .solution-tit
                                        p AI智感<br/>自知你心
                                    .solution-txt
                                        p 专注于用户交互体验，化繁为简的界面设计提供更流畅的操控体验
                                    .solution-icon
                                        i.s-icon +
                        .J-solution-item.solution-item
                            a(href="system-TURING-details.html#S03")
                                .solution-con
                                    .solution-tit
                                        p 智动服务<br/>有“言”必应
                                    .solution-txt
                                        p 专注于用户交互体验，化繁为简的界面设计提供更流畅的操控体验
                                    .solution-icon
                                        i.s-icon +
                        .J-solution-item.solution-item
                            a(href="system-TURING-details.html#S04")
                                .solution-con
                                    .solution-tit
                                        p 云安全生态<br/>给予多重保护
                                    .solution-txt
                                        p 专注于用户交互体验，化繁为简的界面设计提供更流畅的操控体验
                                    .solution-icon
                                        i.s-icon +

            .u-tx-title
                .tx-title-tit
                    h4 TURING全套系产品
                .tx-title-txt
            .system-item.pd-0
                .sub-container
                    .m-system-pro-list
                        ul.clear
                            li
                                a(href="javascript:;")
                                    img(src="static/img/tx-turing-pro01.png")
                                    .system-pro-txt
                                        .system-pro-name TURING空调挂机
                                        .system-pro-model KFR-35GW/CK1C-9
                            li
                                a(href="javascript:;")
                                    img(src="static/img/tx-turing-pro02.png")
                                    .system-pro-txt
                                        .system-pro-name TURING空调柜机
                                        .system-pro-model KFR-72LW/CA1C-9
                            li
                                a(href="javascript:;")
                                    img(src="static/img/tx-turing-pro03.png")
                                    .system-pro-txt
                                        .system-pro-name TURING家用中央空调
                                        .system-pro-model CAE140N1C1-9





    include module/footer