extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style
    link(rel='stylesheet',type='text/css',href='static/css/system.css')

block script
    script(type='text/javascript',src='static/js/system.js')

block content

    include module/header
    .sub-page
        .system-con
            .system-item.pd-0#S01
                .m-ai-eyes(style="background-image:url('static/img/tx-turing-img12.jpg')")
                    .sub-container
                        .ai-eyes-con
                            .u-details-title.textRight
                                .details-title-tit
                                    p 分布式语音 如影随行
                                .details-title-txt
                                    p TURING 小多联搭载中控屏，开启全场景分布式语音交互，随时随地唤醒家电，精准对话，知无不答，智享品质生活。
            .system-item#S02
                .m-ai-zg(data-pc-img="static/img/tx-turing-img09.jpg" data-mb-img="static/img/mb-bg04.png")
                    .sub-container
                        .ai-zg-con
                            .u-details-title
                                .details-title-tit
                                    p AI智感 自知你心
                                .details-title-txt
                                    p 遍布套系的智能传感器，让产品更好的平衡用户与环境，懂用户所需，并实现精准服务。
            .system-item#S03
                .m-system-other.imgRight.clear
                    .system-other-txt
                        .u-details-title
                            .details-title-tit
                                p 智动服务，有“言”必应
                            .details-title-txt
                                .details-txt-p 机器自主检测
                                .details-txt-p 提供售后专属主动服务
                    .system-other-img
                        img(src="static/img/tx-turing-img10.jpg")

            .system-item#S04
                .m-system-details-security
                    img(src="" data-src-pc="static/img/tx-turing-img11.jpg" data-src-mobile="static/img/mb-bg03.png")
                    .sub-container
                        .details-security-con.textLeft
                            .u-details-title
                                .details-title-tit
                                    p 云安全生态，给予多重保护
                                .details-title-txt
                                    p 我们专注于用户隐私安全、用户居家安全，以金融级信息安全保护及全屋危险监控，让科技服务本质生活。












    include module/footer