extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style


block script

block content

    include module/header
    .J-ts-video.ts-video
        img(src="" data-src-pc="static/img/sub-banner05.jpg" data-src-mobile="static/img/sub-banner05.jpg")
        video#videoPlay(muted="true" autoplay="autoplay" style="width:100%;object-fit:fill" loop="loop" poster="static/img/sub-banner05.jpg" webkit-playsinline="true" playsinline="true" x5-playsinline)
            source(type="video/mp4" src="http://www.colmo.com.cn/dam/jcr:aa3a4173-387c-4ca1-ad39-d98bdfed5df8/COLMO-brand-video-short-version.mp4")
            |您的浏览器不支持video标签
        .J-ts-video-tit.ts-video-tit
            a.J-playBtn.playBtn(href="javascript:;" data-url="static/video/COLMO-Homepage-video-long-version2.mp4") 观看视频
    .ts-introduce
        .u-ts-introduce-tit
            img(src="static/img/tansuo-logo.png")
            |寓意“攀登”
        .ts-introduce-con
            img(src="static/img/tansuo-img01.jpg")
            .ts-introduce-txt
                .txt-table
                    .txt-table-cell
                        .ts_p 诞生于欧洲之巅勃朗峰。<br/>凭借“生而非凡”的品牌精髓和“科技服务生活本源、设计释放理性空间”的品牌理念，<br/>集聚全球前沿科技和高端智造的智慧灵思，<br/>为消费者带来兼具至臻品质和自主学习能力的AI科技家电品牌。

    .ts-kjmx#kjmx
        .sub-container
            .u-ts-h1 科技美学
            .u-ts-h4 洞悉本质 / 科技服务生活本源
            .mx-p COLMO将所有的重心都放在了如何着重呈现高科技和设计为生活带来的种种便利，以及生活品质的大幅提升，以满足最本质、最朴实的本源诉求为研发的核心目的。
            .J-ts-kj-swiper.ts-kj-swiper.clear
                .J-ts-kj-btn.ts-kj-btn
                    ul
                        li.active
                            .kjImg
                                img(src="static/img/ts-icon01.png")
                                img.active(src="static/img/ts-icon01-on.png")
                            span.kj-sp 人性化交互
                        li
                            .kjImg
                                img(src="static/img/ts-icon02.png")
                                img.active(src="static/img/ts-icon02-on.png")
                            span.kj-sp 深度学习
                        li
                            .kjImg
                                img(src="static/img/ts-icon03.png")
                                img.active(src="static/img/ts-icon03-on.png")
                            span.kj-sp 专家系统
                .J-ts-kj-lb.ts-kj-lb
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide.swiper-no-swiping
                                .ts-lb-slide
                                    .ts-lb-txt
                                        .lb-txt-wrap
                                            h4 人性化交互
                                            .ts-lb-sp 人性且持续演进的智能体验
                                            .ts-lb-p COLMO推动家电向“人性化交互”的演进，凭借视觉识别和语音交互技术，赋予家电像人一样的“眼睛”、“嘴巴”、和“大脑”，实现家电与人之间双向的交流，家电可以更加智能地接收和反馈信息。
                                    .ts-lb-img
                                        img(src="static/img/kj01.gif")
                            .swiper-slide.swiper-no-swiping
                                .ts-lb-slide
                                    .ts-lb-txt
                                        .lb-txt-wrap
                                            h4 深度学习
                                            .ts-lb-sp 专业且精益求精的卓越品质
                                            .ts-lb-p COLMO打造顶层标准，精工细作，追求精益求精的卓越品质。从视觉、听觉、触觉、味觉、嗅觉五个感官维度以严苛标准精细打磨，产品的各项考核都细化至数百项内容，配备专门的检测器材，为全球超级个体的品质需求保驾护航。
                                    .ts-lb-img
                                        img(src="static/img/kj02.gif")
                            .swiper-slide.swiper-no-swiping
                                .ts-lb-slide
                                    .ts-lb-txt
                                        .lb-txt-wrap
                                            h4 专家系统
                                            .ts-lb-sp 强大且保证最佳的专家系统
                                            .ts-lb-p 通过多年来对衣物、食材、大米、水、烟等生活本源丰富的数据积累和知识研究，COLMO更了解不同种类衣物所需要的最佳洗涤程序和不同食材的最优保鲜条件。保证家电的每次运 作都能为用户定制最好、最合适的方案。
                                    .ts-lb-img
                                        img(src="static/img/kj03.gif")
                    .swiper-pagination.pagination
    .ts-sjmx#sjmx(style="background: url('static/img/ts-bg.jpg')")
        .sub-container
            .u-ts-h1 设计美学
            .u-ts-h4 以简驭繁 / 设计释放理性空间
            .mx-p COLMO重新思考人与科学、与产品、与生活的关系，凭借便捷高效的人机交互亦整合了产品的关键功能，舍去冗余介质，带来灵动的操作体验。
            .ts-sj-list-2.clear
                .ts-sj-item
                    img(src="static/img/ts-img12.jpg")
                    .ts-sj-txt
                        .ts-sj-sp 新包豪斯主义
                        .ts-sj-p 低调极简而无形于空间，整体化的设计中细节交互的惊喜感
                .ts-sj-item
                    img(src="static/img/ts-img13.png")
                    .ts-sj-txt
                        .ts-sj-sp 几何造物
                        .ts-sj-p 几何构型，严谨而理性的设计，重构以不凡
                .ts-sj-item
                    img(src="static/img/ts-img14.jpg")
                    .ts-sj-txt
                        .ts-sj-sp 原始质感
                        .ts-sj-p 大面积采用技术、玻璃，环保材料原始质感（BLANC 套系），还原家电本质美
    .ts-shmx.bg-none#shmx
        .sub-container
            .u-ts-h1 生活美学
            .u-ts-h4 行真致远 / 克己求真的非凡人生
        .ts-shmx-wrap(style="background: url('static/img/tansuo-sh-bg.jpg')")
            .sub-container
                .J-ts-sh-swiper.ts-sh-swiper
                    .J-ts-sh-lb.ts-sh-lb
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .sh-lb-slide
                                        .sh-lb-p “中国最早一批完成国际四大时装周大满贯的造型师和时尚博主”、“时尚杂志圈当时最年轻的时装总监及数字主编”、“无数明星的私家造型师”——众多Title加身的江南BoyNam，早已对身份和场景的转换习以为常，而从聚光灯到家的切换更成为了他创意和灵感的源泉。
                                .swiper-slide
                                    .sh-lb-slide
                                        .sh-lb-p “中国最早一批完成国际四大时装周大满贯的造型师和时尚博主”、“时尚杂志圈当时最年轻的时装总监及数字主编”、“无数明星的私家造型师”——众多Title加身的江南BoyNam，早已对身份和场景的转换习以为常，而从聚光灯到家的切换更成为了他创意和灵感的源泉。
                                .swiper-slide
                                    .sh-lb-slide
                                        .sh-lb-p “中国最早一批完成国际四大时装周大满贯的造型师和时尚博主”、“时尚杂志圈当时最年轻的时装总监及数字主编”、“无数明星的私家造型师”——众多Title加身的江南BoyNam，早已对身份和场景的转换习以为常，而从聚光灯到家的切换更成为了他创意和灵感的源泉。
                                .swiper-slide
                                    .sh-lb-slide
                                        .sh-lb-p “中国最早一批完成国际四大时装周大满贯的造型师和时尚博主”、“时尚杂志圈当时最年轻的时装总监及数字主编”、“无数明星的私家造型师”——众多Title加身的江南BoyNam，早已对身份和场景的转换习以为常，而从聚光灯到家的切换更成为了他创意和灵感的源泉。
                                .swiper-slide
                                    .sh-lb-slide
                                        .sh-lb-p “中国最早一批完成国际四大时装周大满贯的造型师和时尚博主”、“时尚杂志圈当时最年轻的时装总监及数字主编”、“无数明星的私家造型师”——众多Title加身的江南BoyNam，早已对身份和场景的转换习以为常，而从聚光灯到家的切换更成为了他创意和灵感的源泉。
                        .swiper-button-prev
                        .swiper-button-next
                    .J-ts-sh-top.ts-sh-top
                        ul.clear
                            li.active
                                .ts-top-wrap.clear
                                    img(src="static/img/ts-human01.png")
                                    .ts-top-txt
                                        span.h-name 梁文道
                                        span.h-title 时尚博主、造型师
                            li
                                .ts-top-wrap.clear
                                    img(src="static/img/ts-human02.png")
                                    .ts-top-txt
                                        span.h-name 靳远
                                        span.h-title 时尚博主、造型师
                            li
                                .ts-top-wrap.clear
                                    img(src="static/img/ts-human03.png")
                                    .ts-top-txt
                                        span.h-name 童晶菁
                                        span.h-title 时尚博主、造型师
                            li
                                .ts-top-wrap.clear
                                    img(src="static/img/ts-human04.png")
                                    .ts-top-txt
                                        span.h-name 张义威
                                        span.h-title 时尚博主、造型师
                            li
                                .ts-top-wrap.clear
                                    img(src="static/img/ts-human05.png")
                                    .ts-top-txt
                                        span.h-name 江南BoyNam
                                        span.h-title 时尚博主、造型师

    .J-index-video-popup.index-video-popup
        .index-video-wrap
            img.videoBg(src="static/img/opacityImg.png")
            .index-video-box
                a.J-closeVideo.closeVideo(href="javascript:;")
                #video

    include module/footer