extends module/layout
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style

block script


block content

    include module/header
    .upgrade
        .sub-container
            .upgrade-code
                img(src="static/img/upgrade-icon.png")
            .upgrade-txt 很抱歉，系统升级中，敬请期待！
            .upgrade-link
                a(href="index.html") 返回首页
                a(href="javascript:history.go(-1);") 返回上一页


    include module/footer
