.cookies {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background: rgba(33,33,33,0.9);
}
.cookies .cm-con {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
}
.cookies .content {
    position: relative;
    padding: 12px 0;
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
}
.cookies .content img {
    width: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.cookies .btn {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 14px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 1px solid #fff;
    padding: 5px 25px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    box-sizing: border-box;
}
.cookies .btn:hover {
    color: #333;
    background: #fff;
}
.cookies .close {
    text-shadow: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
    color: #fff;
    opacity: 1;
    padding: 10px;
    font-size: 22px;
    cursor:pointer;
}
.cookies .close img{
    width:15px;
}
.cookies .content .text-p {
    position: relative;
    padding: 10px 100px 10px 30px;
    font-size: 14px;
}
.cookies .content .btn {
    right: 0;
}
@media screen and (max-width: 768px) {
    .cookies .content {
        width: 100%;
        padding: 25px 0 20px;
    }
    .cookies .content h4 {
        margin-bottom: 5px;
    }
    .cookies .content .text-p {
        font-size: 12px;
        min-height: 28px;
        padding-right: 0;
        line-height: 20px;
    }
    .cookies .close {
        right: 0;
        top: 0;
        padding: 8px 8px 15px 15px;
        -webkit-transform: inherit;
        transform: inherit;
    }
    .cookies .btn {
        position: static;
        display: block;
        margin: 0 auto;
        top: inherit;
        width: 100px;
        text-align: center;
        -webkit-transform: inherit;
        transform: inherit;
    }
    .cookies .cm-con{
        padding-right: 15px;
        padding-left: 15px;
    }
}