/*footer*/
.m-loginWrap .loginFooter .m-footer {
    background: none;
}
.m-footer {
    background: #f6f6f6;
}
.m-footer .footer-wrap {
    border-bottom: 1px solid #d1d1d1;
}
.m-footer .footer-wrap .index-news-link {
    max-width: 1280px;
    margin: 0 auto 40px;
}
.m-footer .footer-wrap .index-news-link .news-link-item {
    width: 32.33%;
    margin-right: 1.5%;
    background: #fff;
}
.m-footer .footer-wrap .index-news-link .news-link-item:last-child {
    margin-right: 0;
}
.m-footer .footer-wrap .index-news-link .news-link-item:hover a {
    border: 1px solid #af6437;
}
.m-footer .footer-wrap .index-news-link .news-link-item:hover a .n-tit {
    color: #af6437;
}
.m-footer .footer-wrap .index-news-link .news-link-item:hover a .n-txt {
    color: #af6437;
}
.m-footer .footer-wrap .index-news-link .news-link-item a {
    display: block;
    color: #333;
    padding: 6%;
    border: 1px solid #ccc;
}
.m-footer .footer-wrap .index-news-link .news-link-item a .n-tit {
    background: url("//source.midea.com/colmoweb/images/v2/link-icon.png") no-repeat right center;
/*//source.midea.com/colmoweb/images/v2*/
}
.m-footer .footer-wrap .index-news-link .news-link-item a .n-txt {
    color: #666;
    border-bottom: 1px solid #ccc;
}
.m-footer .footer-wrap .footer-l .f-lk01 {
    font-size: 14px;
    color: #af6437;
    padding-bottom: 2px;
    border-bottom: 1px solid #af6437;
}
.m-footer .footer-wrap .footer-l .f-txt {
    color: #333;
    line-height: 38px;
}
.m-footer .footer-wrap .footer-r img {
    display: block;
    width: 160px;
    margin: 0 auto;
}
.m-footer .footer-wrap .footer-r span {
    display: block;
    font-size: 14px;
    color: #333;
}
.m-footer .footer-wrap .footer-tel {
    margin-right: 15%;
}
.m-footer .footer-wrap .footer-tel .tel-sp {
    display: block;
    font-size: 14px;
    color: #af6437;
    line-height: 20px;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 13px;
}
.m-footer .footer-wrap .footer-tel a {
    display: inline-block;
    font-size: 28px;
    color: #333;
    margin-top: 20px;
}
.m-footer .footer-copy .copy-txt {
    margin-top: 30px;
}
.m-footer .footer-copy .copy-txt p {
    display: inline-block;
    font-size: 14px;
    color: #999;
    margin-right: 20px;
}
.m-footer .footer-copy .copy-txt p a {
    color: #999;
}
.m-footer .footer-copy .copy-txt p a:hover {
    color: #af6437;
}
.m-footer .footer-copy .footer-share {
    margin-top: 20px;
    margin-right: 20px;
}
.m-footer .footer-copy .footer-share a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 15px;
    padding-left: 0;
    background: none;
    position: relative;
    overflow: hidden;
}
.m-footer .footer-copy .footer-share a:hover {
    overflow: inherit;
}
.m-footer .footer-copy .footer-share a:hover .wxImg {
    opacity: 1;
}
.m-footer .footer-copy .footer-share a img {
    display: block;
    width: 100%;
}
.m-footer .footer-copy .footer-share a .wxImg {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 10px;
    background: #d8d8d8;
    opacity: 0;
    transition: all 0.2s;
}
.m-footer .footer-copy .goTop {
    width: 78px;
    height: 78px;
    background: #af6437;
    text-align: center;
}
.m-footer .footer-copy .goTop a {
    display: block;
    height: 100%;
    font-size: 14px;
    color: #fff;
}
.m-footer .footer-copy .goTop a span {
    display: block;
    width: 21px;
    height: 11px;
    background: url("//source.midea.com/colmoweb/images/v2/gotop.png") no-repeat center;
    padding: 20px 0 10px;
    margin: 0 auto;
}
.m-footer .footer-con {
    max-width: 1280px;
    margin: 0 auto;
}

@media screen and (max-width: 1440px){
    .m-footer .footer-con {
        padding: 0 20px;
    }
    .m-footer .footer-wrap .index-news-link {
        padding: 0 10px;
    }
}
@media screen and (max-width: 1024px){
    .m-footer .footer-wrap .footer-tel {
        margin-right: 5%;
    }
    .m-footer .footer-copy .footer-share a.f-s01 {
        display: inline-block;
    }
}
@media screen and (max-width: 768px){
    .m-footer .footer-wrap.pb-60 {
        padding-bottom: 30px;
    }
    .m-footer .footer-wrap .footer-l {
        width: 100%;
        float: none;
    }
    .m-footer .footer-wrap .footer-l .f-txt {
        font-size: 18px;
    }
    .m-footer .footer-wrap .footer-r {
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    .m-footer .footer-wrap .footer-tel {
        float: none;
        width: 200px;
        margin: 20px auto 0;
    }
    .m-footer .footer-wrap .footer-tel a {
        margin-top: 10px;
    }
    .m-footer .footer-copy {
        position: relative;
    }
    .m-footer .footer-copy .goTop {
        width: 58px;
        height: 58px;
        position: absolute;
        right: 10px;
        top: 0;
    }
    .m-footer .footer-copy .goTop a {
        font-size: 12px;
    }
    .m-footer .footer-copy .goTop a span {
        padding: 15px 0 10px;
    }
    .m-footer .footer-copy .footer-share {
        float: none;
        text-align: center;
        margin-top: 15px;
        margin-right: inherit;
    }
    .m-footer .footer-copy .copy-txt {
        float: none;
        margin-top: 20px;
    }
    .m-footer .footer-copy .copy-txt p {
        display: block;
        text-align: center;
        margin: 10px 0;
    }
    .index-news-link {
        padding: 0 10px;
    }
    .index-news-link .news-link-item {
        width: 100% !important;
        margin-right: 0 !important;
        margin-top: 20px !important;
    }
}