.clear {
    zoom: 1;
}
.clear:before,
.clear:after {
    content: "";
    display: table;
}
.clear:after {
    clear: both;
}

/*header*/
.header-link ul.first-nav li {
    float: left;
    width: 120px;
    text-align: center;
}
.header-link ul.first-nav li a.f {
    display: block;
    font-size: 18px;
    color: #333;
    padding-bottom: 30px;
    line-height: 30px;
    position: relative;
}
.header-link ul.first-nav li a.f::after {
    content: '';
    display: none;
    width: 1px;
    height: 30px;
    background: #af6437;
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 30px;
    margin-left: -0.5px;
}
.header-link ul.first-nav li:hover a.f::after {
    display: block;
}
.header-link ul.first-nav li.active a.f::after {
    display: block;
}
.signIn .signInBtn {
    display: inline-block;
    font-size: 18px;
    color: #333;
    line-height: 30px;
}
.signIn .userToggle{
    /*display: none;*/
    position: relative;
    margin-top: -14px;
}
.signIn .userToggle .userHead{
    width: 60px;
    height: 60px;
    cursor: pointer;
    padding-bottom: 14px;
    border-radius: 100%;
}
.signIn .userToggle .userHead img{
    width: 100%;
}
.signIn .userToggle:hover ul{
    display: block;
}
.signIn .userToggle ul{
    display: none;
    position: absolute;
    top: 100%;
    right: -20px;
    width: 120px;
    background: #fff;
    box-shadow:-2px 2px 10px #EDEDED;
}
.signIn .userToggle ul li{
    border-bottom: 1px solid #ccc;
}
.signIn .userToggle ul li:last-child{
    border: none !important;
}
.signIn .userToggle ul li a{
    display: block;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    padding: 12px 20px;
    text-align: right;
}
.signIn .userToggle ul li a:hover{
    color: #fff;
    background: #af6437;
}
.search {
    margin-left: 20px;
    position: relative;
}
.search a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 40px;
    position: relative;
}
.search a img {
    display: block;
    width: 100%;
}
.search .tm img.hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.2s;
}
.search .tm:hover img.hover {
    opacity: 1;
}
.search a.sc-btn img {
    width: 88%;
}
.search-popup {
    position: absolute;
    top: 46%;
    right: -12px;
    height: 60px;
    width: 0;
    transform: translateY(-50%);
    border: 1px solid #e5e4e4;
    overflow: hidden;
    transition: all 0.2s;
    opacity: 0;
}
.search-popup.active {
    width: 260px;
    opacity: 1;
    overflow: inherit;
}
.search-popup .sp-input {
    float: left;
    width: 80%;
    height: 60px;
    border: none;
    padding: 0;
    text-indent: 1em;
}
.search-popup .sp-btn {
    float: left;
    width: 20%;
    height: 60px;
    border: none;
    background: #fff url("//source.midea.com/colmoweb/images/v2/h-icon-serch.png") no-repeat center;
}
.search-popup dl {
    display: none;
    position: absolute;
    top: 62px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background: #fff;
    -moz-box-shadow: 0px 0px 1px #e5e4e4;
    -webkit-box-shadow: 0px 0px 1px #e5e4e4;
    box-shadow: 0px 0px 1px #e5e4e4;
}
.search-popup dl dd:hover {
    background: #af6437;
}
.search-popup dl dd:hover a {
    color: #fff;
}
.search-popup dl dd a {
    display: block;
    font-size: 14px;
    color: #333;
    padding: 10px 15px;
    width: inherit;
    height: inherit;
    margin-left: inherit;
}
.m-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background: #fff;
}
.header-bgColor {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 88;
}
.header-con {
    position: relative;
    z-index: 8;
    border-bottom: 1px solid #af6437;
}
.header-logo img {
    max-width: 170px;
}
.header-child {
    float: left;
    width: 100%;
    height: 0;
    position: absolute;
    top: 61px;
    left: 0;
    z-index: 8;
    background: #fff;
    border-top: 1px solid #af6437;
    transition: all 0.3s;
    overflow: hidden;
}
.header-child.active {
    height: auto;
}
.header-child .header-child-wrap {
    padding-bottom: 40px;
}
.header-link ul.first-nav li:nth-child(1) .nav-link3 {
    z-index: -1;
    opacity: 0;
}
.header-link ul.first-nav>li.active .header-child-item {
    display: block;
    height: auto;
    padding: 0 100px 40px;
    overflow: inherit;
    z-index: 9;
}
.header-link ul.first-nav>li.active .header-child-item .nav-link3 {
    height: auto;
    overflow: inherit;
}
/*.header-link ul.first-nav>li:hover .header-child-item {*/
    /*display: block;*/
    /*height: auto;*/
    /*padding: 0 100px 40px;*/
    /*overflow: inherit;*/
    /*z-index: 9;*/
/*}*/
/*.header-link ul.first-nav>li:hover .header-child-item .nav-link3 {*/
    /*height: auto;*/
    /*overflow: inherit;*/
/*}*/
.header-link ul.first-nav>li.active .header-child-item {
    display: block;
    height: auto;
    padding: 0 100px 40px;
    overflow: inherit;
    z-index: 9;
}
.header-link ul.first-nav>li.active .header-child-item .nav-link3 {
    height: auto;
    overflow: inherit;
}
.header-child-item {
    width: 100%;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 0 100px 0;
    box-sizing: border-box;
    background: #fff;
}
.header-child-item:before{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    border-top: 1px solid #af6437;
}
.header-child-item.active {
    display: block;
    top: 60px;
    overflow: inherit;
}
.header-child-item.active .nav-link3 {
    height: auto;
    overflow: inherit;
}
.header-child-item .nav-link1 ul {
    width: 101%;
    margin-left: -0.5%;
}
.header-child-item .nav-link1 ul li {
    float: left;
    width: 11.5%;
    margin: 0 0.5%;
    background: #e5e5e5;
}
.header-child-item .nav-link1 ul li:hover {
    background: #af6437;
}
.header-child-item .nav-link1 ul li:hover a img.Img-1 {
    display: none;
}
.header-child-item .nav-link1 ul li:hover a img.Img-2 {
    display: block;
}
.header-child-item .nav-link1 ul li:hover a span {
    color: #fff;
}
.header-child-item .nav-link1 ul li.active {
    background: #af6437;
}
.header-child-item .nav-link1 ul li.active a img.Img-1 {
    display: none;
}
.header-child-item .nav-link1 ul li.active a img.Img-2 {
    display: block;
}
.header-child-item .nav-link1 ul li.active a span {
    color: #fff;
}
.header-child-item .nav-link1 ul li a {
    display: block;
    text-align: center;
    position: relative;
}
.header-child-item .nav-link1 ul li a .liWrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.header-child-item .nav-link1 ul li a .t {
    width: 100%;
    height: 100%;
}
.header-child-item .nav-link1 ul li a .bg-fk {
    display: block;
    width: 100%;
    max-width: inherit;
    opacity: 0;
}
.header-child-item .nav-link1 ul li a img {
    display: block;
    margin: 0 auto;
    width: 41%;
    max-width: 80px;
}
.header-child-item .nav-link1 ul li a img.Img-2 {
    display: none;
}
.header-child-item .nav-link1 ul li a span {
    display: inline-block;
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}
.header-child-item .nav-link2 {
    margin-top: 1%;
    position: relative;
    z-index: 2;
}
.header-child-item .nav-link2 ul {
    width: 101%;
    margin-left: -0.5%;
}
.header-child-item .nav-link2 ul li {
    float: left;
    width: 49%;
    margin: 0 0.5%;
    position: relative;
}
.header-child-item .nav-link2 ul li a {
    display: block;
}
.header-child-item .nav-link2 ul li img {
    display: block;
    width: 100%;
}
.header-child-item .nav-link2 ul li span {
    display: block;
    width: 100%;
    font-size: 28px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 40%;
}
.header-child-item .nav-link3 {
    width: 100%;
    height: 0;
    padding: 0 100px;
    position: absolute;
    top: 31.8%;
    left: 0;
    overflow: hidden;
    box-sizing: border-box;
}
.header-child-item .nav-link3.active {
    height: auto;
    overflow: inherit;
    z-index: 2 !important;
    opacity: 1 !important;
}
.header-child-item .nav-link3.nav-link3-other {
    display: block;
    padding: 0 100px;
    margin-top: 0;
    background: inherit;
    position: inherit;
    top: 0;
    left: inherit;
}
.header-child-item .nav-link3.nav-link3-other .nav-link3-tx {
    background: #fff;
    padding: 20px 0;
}
.header-child-item .nav-link3 .nav-link3-tx {
    height: 0;
    overflow: hidden;
    padding: 20px 2%;
    background: #e5e5e5;
    box-sizing: border-box;
}
.header-child-item .nav-link3 .nav-link3-tx.active {
    height: auto;
    overflow: inherit;
}
.header-child-item .nav-link3 .nav-link3-ul {
    width: 101%;
    margin-left: -0.5%;
}
.header-child-item .nav-link3 .nav-link3-ul.first-ul li:hover .nav-link3-txt {
    background: #fff;
}
.header-child-item .nav-link3 .nav-link3-ul.first-ul li:hover .nav-link3-txt span {
    color: #af6437;
}
.header-child-item .nav-link3 .nav-link3-ul .qr_con:hover .nav-QR {
    opacity: 1;
    border: 1px solid #af6437;
}
.header-child-item .nav-link3 .nav-link3-ul .qr_con:hover .nav-link3-txt {
    opacity: 0;
}
.header-child-item .nav-link3 .nav-link3-ul .qr_con .nav-QR {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 10%;
    text-align: center;
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.2s;
    border: 1px solid #fff;
}
.header-child-item .nav-link3 .nav-link3-ul .qr_con .nav-QR .t {
    width: 100%;
    height: 100%;
}
.header-child-item .nav-link3 .nav-link3-ul .qr_con .nav-QR img {
    float: left;
    width: 45%;
    margin-right: 5%;
}
.header-child-item .nav-link3 .nav-link3-ul .qr_con .nav-QR span {
    display: inline-block;
    width: 50%;
    font-size: 14px;
    color: #fff;
    text-align: left;
    margin-top: 10%;
    line-height: 24px;
}
.header-child-item .nav-link3 .nav-link3-ul li {
    float: left;
    width: 24%;
    margin: 0.5%;
    position: relative;
}
.header-child-item .nav-link3 .nav-link3-ul li a {
    display: block;
}
.header-child-item .nav-link3 .nav-link3-ul li a>img {
    display: block;
    width: 100%;
}
.header-child-item .nav-link3 .nav-link3-ul li .nav-link3-txt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.header-child-item .nav-link3 .nav-link3-ul li .nav-link3-txt .t {
    width: 100%;
    height: 100%;
}
.header-child-item .nav-link3 .nav-link3-ul li .nav-link3-txt span {
    display: block;
    color: #fff;
    text-align: center;
    margin: 10px 0;
}
.header-child-item .nav-link3 .nav-link3-ul li .nav-link3-txt span.t-ch {
    font-size: 16px;
}
.header-child-item .nav-link3 .nav-link3-ul li .nav-link3-txt span.t-en {
    font-size: 14px;
}
.header-child-item .nav-link3 .nav-link3-child {
    margin-top: 1%;
}
.header-child-item .nav-link3 .nav-link3-child .nav-link3-item {
    height: 0;
    overflow: hidden;
    position: relative;
}
.header-child-item .nav-link3 .nav-link3-child .nav-link3-item .navLink3-item-wrap{
    overflow: hidden;
}
.header-child-item .nav-link3 .nav-link3-child .nav-link3-item.active {
    height: auto;
    overflow: inherit;
}
.header-child-item .nav-link3 .nav-link3-child .nav-link3-item .swiper-container {
    width: 101%;
    margin-left: -0.5%;
}
.header-child-item .nav-link3 .nav-link3-child .nav-link3-item .swiper-container .swiper-slide a {
    display: block;
    background: #fff;
    padding: 20px 0;
    margin: 0 4.5%;
}
.header-child-item .nav-link3 .nav-link3-child .nav-link3-item .swiper-container .swiper-slide img {
    display: block;
    margin: 0 auto;
    width: 80%;
}
.header-child-item .nav-link3 .nav-link3-child .nav-link3-item .swiper-container .swiper-slide span {
    display: block;
    font-size: 14px;
    color: #333;
    text-align: center;
    margin-top: 10px;
}
.header-child-item .nav-link3 .nav-link3-child .nav-link3-item .btn-next {
    display: block;
    width: 2%;
    height: 100%;
    background:#e5e5e5  url("//source.midea.com/colmoweb/images/v2/buy-swiper-r.png") no-repeat center;
    background-size: 13px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: -2%;
    padding: 0;
    margin-top: 0;
    z-index: 6;
}
.header-child-item .nav-link3 .nav-link3-child .nav-link3-item .btn-prev {
    display: block;
    width: 2%;
    height: 100%;
    background:#e5e5e5  url("//source.midea.com/colmoweb/images/v2/buy-swiper-l.png") no-repeat center;
    background-size: 13px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: -2%;
    padding: 0;
    margin-top: 0;
    z-index: 6;
}
.header-child-item .nav-link3 .nav-link3-child .nav-link3-item ul {
    width: 101%;
    margin-left: -0.5%;
}
.header-child-item .nav-link3 .nav-link3-child .nav-link3-item ul li {
    float: left;
    width: 11.5%;
    margin: 0 0.5%;
    padding: 20px 0;
    background: #fff;
}
.header-child-item .nav-link3 .nav-link3-child .nav-link3-item ul li a {
    display: block;
}
.header-child-item .nav-link3 .nav-link3-child .nav-link3-item ul li img {
    display: block;
    margin: 0 auto;
    width: 80%;
}
.header-child-item .nav-link3 .nav-link3-child .nav-link3-item ul li span {
    display: block;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.mobile-header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    z-index: 5;
}
.mobile-header .mobile-bg {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s;
}
.mobile-header .mobile-bg.active {
    display: block;
    opacity: 1;
}
.mobile-header .mobile-header-con {
    height: 100%;
    padding: 0 20px;
    background: #fff;
    border-bottom: 2px solid #af6437;
    position: relative;
}
.mobile-header .mobile-header-con .mob-signIn {
    position: absolute;
    top: 12px;
    left: 20px;
}
.mobile-header .mobile-header-con .mob-signIn .mob-signInBtn {
    display: inline-block;
    width: 40px;
    height: 40px;
}
.mobile-header .mobile-header-con .mob-signIn .mob-signInBtn img{
    display: block;
    width: 100%;
}
.mobile-header .mobile-header-con .mob-signIn:hover ul{
    display: block;
}
.mobile-header .mobile-header-con .mob-signIn ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 90px;
    padding: 10px 0;
    background: #fff;
    box-shadow: -2px 2px 10px #EDEDED;
}
.mobile-header .mobile-header-con .mob-signIn ul li a{
    display: block;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    padding: 6px 0;
    text-align: center;
}
.mobile-header .mobile-header-con .mob-signIn ul li a:hover{
    color: #fff;
    background: #af6437;
}
.mobile-header .mobile-header-con .mob-search {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 70px;
}
.mobile-header .mobile-header-con .mob-search .m-showBtn {
    display: block;
    width: 100%;
    height: 100%;
    background: url("//source.midea.com/colmoweb/images/v2/mob-search-icon.png") no-repeat center;
    -webkit-background-size: 34px;
    background-size: 34px;
}
.mobile-header .mobile-header-con .mob-search .m-showBtn.active {
    background: #af6437 url("//source.midea.com/colmoweb/images/v2/mob-search-icon02.png") no-repeat center;
    -webkit-background-size: 34px;
    background-size: 34px;
}
.mobile-header .mobile-header-con .mob-search .mob-search-wrap {
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100%;
    transition: all 0.3s;
}
.mobile-header .mobile-header-con .mob-search .mob-search-wrap.active {
    right: 0;
}
.mobile-header .mobile-header-con .mob-search .mob-search-wrap .mob-search-con {
    margin: 20px;
    background: #fff;
}
.mobile-header .mobile-header-con .mob-search .mob-search-wrap .mob-search-con .mob-search-input {
    padding: 20px 70px 20px 20px;
    position: relative;
    border-bottom: 1px solid #e5e4e4;
}
.mobile-header .mobile-header-con .mob-search .mob-search-wrap .mob-search-con .mob-search-input .m-s-btn {
    width: 50px;
    height: 50px;
    background: url("//source.midea.com/colmoweb/images/v2/mob-search.png") no-repeat center;
    -webkit-background-size: 38px;
    background-size: 38px;
    border: none;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}
.mobile-header .mobile-header-con .mob-search .mob-search-wrap .mob-search-con .mob-search-input .m-s-int {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-indent: 60px;
    border: none;
    outline: none;
}
.mobile-header .mobile-header-con .mob-search .mob-search-wrap .mob-search-con .mob-search-input .m-closeBtn {
    display: block;
    width: 50px;
    height: 50px;
    background: url("//source.midea.com/colmoweb/images/v2/mob-search-close.png") no-repeat center;
    background-size: 28px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.mobile-header .mobile-header-con .mob-search .mob-search-wrap .mob-search-con dl {
    padding: 20px 20px 20px 80px;
}
.mobile-header .mobile-header-con .mob-search .mob-search-wrap .mob-search-con dl dd a {
    display: block;
    font-size: 14px;
    color: #999;
    padding: 10px 0;
}
.mobile-header .mobile-header-con .mob-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
}
.mobile-header .mobile-header-con .mob-menu-btn .menu-btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: url("//source.midea.com/colmoweb/images/v2/mobile-menu.png") no-repeat center;
    background-size: 32px;
}
.mobile-header .mobile-header-con .mob-menu-btn .menu-btn.active {
    background: #af6437 url("//source.midea.com/colmoweb/images/v2/mobile-menu-close.png") no-repeat center;
    background-size: 100%;
}
.mobile-header .mobile-header-con .mob-menu-list {
    position: fixed;
    top: 62px;
    right: -75%;
    width: 75%;
    height: 100%;
    background: #fff;
    transition: all 0.3s;
}
.mobile-header .mobile-header-con .mob-menu-list .mob-menu-list-scroll {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    padding-bottom: 80px;
}
.mobile-header .mobile-header-con .mob-menu-list.active {
    right: 0;
}
.mobile-header .mobile-header-con .mob-menu-list ul li {
    border-bottom: 1px solid #e5e4e4;
    padding: 0 20px;
}
.mobile-header .mobile-header-con .mob-menu-list ul li .a-link {
    display: block;
    font-size: 20px;
    color: #000;
    padding: 20px 0;
    background: url("//source.midea.com/colmoweb/images/v2/mob-nav-open.png") no-repeat center right 20px;
    background-size: 18px;
}
.mobile-header .mobile-header-con .mob-menu-list ul li .a-link.active {
    color: #af6437;
    background: url("//source.midea.com/colmoweb/images/v2/mob-nav-close.png") no-repeat center right 20px;
    background-size: 18px;
}
.mobile-header .mobile-header-con .mob-menu-list ul li .mob-nav-child {
    display: none;
}
.mobile-header .mobile-header-con .mob-menu-list ul li .mob-nav-child dl dd a{
    color: #999;
}
.mobile-header .mobile-header-con .mob-menu-list ul li .mob-nav-child .mob-nav-child-item {
    padding: 0 20px 10px;
    border-bottom: 1px solid #e5e4e4;
}
.mobile-header .mobile-header-con .mob-menu-list ul li .mob-nav-child .mob-nav-child-item:nth-child(2) {
    padding: 20px 20px 10px;
}
.mobile-header .mobile-header-con .mob-menu-list ul li .mob-nav-child .mob-nav-child-item:last-child {
    padding: 20px 20px 10px;
    border: none;
}
.mobile-header .mobile-header-con .mob-menu-list ul li .mob-nav-child .mob-nav-child-item span {
    display: block;
    font-size: 16px;
    color: #000;
}
.mobile-header .mobile-header-con .mob-menu-list ul li .mob-nav-child .mob-nav-child-item .mob-link .mob-link-t {
    margin: 20px 0;
}
.mobile-header .mobile-header-con .mob-menu-list ul li .mob-nav-child .mob-nav-child-item .mob-link .mob-link-t a {
    color: #999;
}
.mobile-header .mobile-header-con .mob-menu-list ul li .mob-nav-child dl dd {
    padding: 0 20px;
    margin-bottom: 20px;
}
.prog-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    text-align: center;
    z-index: 8;
}
.prog-popup .t {
    width: 100%;
    height: 100%;
}
.prog-popup .prog-popup-con {
    display: inline-block;
    width: 80%;
    background: #fff;
    padding: 5vh 0;
}
.prog-popup .prog-popup-con p {
    font-size: 14px;
    color: #333;
    line-height: 24px;
}
.prog-popup .prog-popup-con img {
    display: block;
    width: 60%;
    margin: 3vh auto 0;
}

@media screen and (max-width: 1440px) {
    .m-header .cm-con.pt-60 {
        padding-top: 30px;
    }
    .header-link ul.first-nav li a.f {
        padding-bottom: 26px;
    }
    .header-child {
        top: 56px;
    }
    .header-child .header-child-item .nav-link1.mt-40 {
        margin-top: 20px;
    }
    .header-child-item {
        top: 56px;
        padding: 0 50px 0 !important;
    }
    .header-child-item .nav-link2 {
        padding-bottom: 40px;
    }
    .header-child-item .nav-link3 .nav-link3-ul .qr_con .nav-QR {
        padding: 0 5%;
    }
    .header-child-item .nav-link3 .nav-link3-ul .qr_con .nav-QR img {
        width: 40%;
    }
    .header-child-item .nav-link3 .nav-link3-ul .qr_con .nav-QR span {
        width: 55%;
        margin-top: 3%;
    }
    .header-link ul.first-nav>li.active .header-child-item {
        top: 56px;
    }
    .header-link ul.first-nav li a.f::after {
        height: 26px;
    }
    .header-link ul.first-nav>li.active .header-child-item {
        padding: 0 50px 40px;
    }
    .header-child-item .nav-link3 {
        padding: 0 50px;
    }
    .header-child-item .nav-link3.nav-link3-other {
        padding: 0 50px;
    }
    .index-more {
        right: 16px;
    }
    .header-link ul.first-nav>li {
        width: 90px;
    }
    .search a {
        margin-left: 30px;
    }
}
@media screen and (max-width: 1024px) {
    .header-con {
        height: 60px;
    }
    .m-header .pt-60 {
        padding-top: 0;
    }
    .header-link {
        display: none;
    }
    .header-logo {
        float: none;
        width: 150px;
        margin: 0 auto;
        position: fixed;
        top: 16px;
        left: 50%;
        z-index: 6;
        margin-left: -75px;
    }
    .header-logo img {
        max-width: 100%;
    }
    .m-header .cm-con.pt-40 {
        padding-top: 0;
    }
    .header-child {
        display: none;
    }
    .mobile-header {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .header-con {
        height: 50px;
    }
    .header-logo {
        width: 120px;
        top: 15px;
        margin-left: -60px;
    }
    .mobile-header {
        height: 50px;
    }
    .mobile-header .mobile-header-con .mob-signIn {
        top: 6px;
        left: 14px;
    }
    .mobile-header .mobile-header-con .mob-search {
        width: 50px;
        height: 50px;
        left: 58px;
    }
    .mobile-header .mobile-header-con .mob-search .m-showBtn {
        background-size: 24px;
    }
    .mobile-header .mobile-header-con .mob-search .m-showBtn.active {
        background-size: 24px;
    }
    .mobile-header .mobile-header-con .mob-search .mob-search-wrap {
        top: 50px;
    }
    .mobile-header .mobile-header-con .mob-search .mob-search-wrap .mob-search-con {
        margin: 10px;
    }
    .mobile-header .mobile-header-con .mob-search .mob-search-wrap .mob-search-con .mob-search-input {
        padding: 10px 50px 10px 10px;
    }
    .mobile-header .mobile-header-con .mob-search .mob-search-wrap .mob-search-con .mob-search-input .m-s-btn {
        width: 40px;
        height: 40px;
        background-size: 26px;
        top: 10px;
        left: 10px;
    }
    .mobile-header .mobile-header-con .mob-search .mob-search-wrap .mob-search-con .mob-search-input .m-s-int {
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        text-indent: 50px;
    }
    .mobile-header .mobile-header-con .mob-search .mob-search-wrap .mob-search-con .mob-search-input .m-closeBtn {
        width: 40px;
        height: 40px;
        background-size: 20px;
        top: 10px;
        right: 10px;
    }
    .mobile-header .mobile-header-con .mob-search .mob-search-wrap .mob-search-con dl {
        padding: 20px 20px 20px 60px;
    }
    .mobile-header .mobile-header-con .mob-menu-btn .menu-btn {
        width: 50px;
        height: 50px;
        background-size: 24px;
    }
    .mobile-header .mobile-header-con .mob-menu-btn .menu-btn.active {
        background-size: 36px;
    }
    .mobile-header .mobile-header-con .mob-menu-list {
        top: 52px;
        height: calc(100vh - 52px);
    }
    .mobile-header .mobile-header-con .mob-menu-list ul li {
        padding: 0 0 0 20px;
    }
    .mobile-header .mobile-header-con .mob-menu-list ul li .a-link {
        font-size: 18px;
    }
}