@charset "UTF-8";
* {
    outline: none;
    font-size: 14px;
}
:focus {
    outline: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    /*font-weight: inherit;*/
    /*font-style: inherit;*/
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
body {
    line-height: 1;
    /*color: #1a1a1a;*/
}
ol,
ul {
    list-style: none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle;
}
caption,
th,
td {
    /*text-align: left;*/
    /*font-weight: normal;*/
    vertical-align: middle;
}
a img {
    border: none;
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    display: block;
}
audio:not([controls]),
[hidden] {
    display: none;
}
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
svg:not(:root) {
    overflow: hidden;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
figure {
    margin: 1em 40px;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.clear {
    zoom: 1;
}
.clear:before,
.clear:after {
    content: "";
    display: table;
}
.clear:after {
    clear: both;
}

button,
input,
optgroup,
select,
textarea {
    /*color: inherit;*/
    /*font: inherit;*/
    margin: 0;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
    cursor: pointer;
    -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    height: auto;
}
input[type='search'] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    mbox-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}
a {
    text-decoration: none;
    /*color: #333;*/
}
a:hover {
    text-decoration: none;
}
a:focus {
    outline: none;
}
li:focus {
    outline: none;
}
@font-face {
    font-family: 'Brown';
    src: url("../font/Brown-Regular.eot");
    src:local('☺'),
    url("../font/Brown-Regular.eot?#iefix") format('embedded-opentype'),
    url("../font/Brown-Regular.woff") format('woff'),
    url("../font/Brown-Regular.ttf") format('truetype');
    /*src: url("../font/Brown-Regular.ttf");*/
    font-weight: normal;
}
@font-face {
    font-family: 'Brown-Light';
    src: url("../font/Brown-Light.eot");
    src:local('☺'),
    url("../font/Brown-Light.eot?#iefix") format('embedded-opentype'),
    url("../font/Brown-Light.woff") format('woff'),
    url("../font/Brown-Light.ttf") format('truetype');
    /*src: url("../font/Brown-Regular.ttf");*/
    font-weight: normal;
}
@font-face {
    font-family: 'Yinghei';
    src: url("../font/yinghei/MYingHeiPRC-W4.eot");
    src:local('☺'),
    url("../font/yinghei/MYingHeiPRC-W4.eot?#iefix") format('embedded-opentype'),
    url("../font/yinghei/MYingHeiPRC-W4.woff") format('woff'),
    url("../font/yinghei/MYingHeiPRC-W4.ttf") format('truetype');
    /*src: url("../font/yinghei/MYingHeiPRC-W4.ttf");*/
    font-weight: normal;
}
body {
    margin: 0 auto;
    overflow-x: hidden;
    font-family:  Yinghei !important;
    position: relative;
}


input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    /*-webkit-box-shadow: 0 0 0 1000px #f9f9f9 inset;*/
}

*::-webkit-media-controls-panel{
    display: none!important;
    -webkit-appearance: none;
}
*::--webkit-media-controls-play-button{
    display: none!important;
    -webkit-appearance: none;
}
*::-webkit-media-controls-start-playback-button{
    display: none!important;
    -webkit-appearance: none;
}