
.swiper-button-disabled{
  display: none;
}
.special-banner{
  position: relative;
}
.special-banner img{
  display: block;
  width: 100%;
}
.special-banner .swiper-button-next{
  height: 80px;
  background:rgba(0,0,0,0.2) url("../img/special/slide-btn-r.png") no-repeat center;
  -webkit-background-size: 14px;
  background-size: 14px;
  right: 20px;
  border: 3px solid rgba(0,0,0,0);
  transition: all 0.1s;
}
.special-banner .swiper-button-next img{
  width: auto;
  height: 100%;
  position: absolute;
  top: -3px;
  right: 27px;
  border: 3px solid rgba(0,0,0,0);
}
.special-banner .swiper-button-next:hover{
  background:rgba(0,0,0,0.2) url("../img/special/slide-btn-r.png") no-repeat center;
  -webkit-background-size: 18px;
  background-size: 18px;
}
.special-banner .swiper-button-next:hover img{
  border: 3px solid #af6437;
}
.special-banner .swiper-button-prev{
  height: 80px;
  background:rgba(0,0,0,0.2) url("../img/special/slide-btn-l.png") no-repeat center;
  -webkit-background-size: 14px;
  background-size: 14px;
  left: 20px;
  border: 3px solid rgba(0,0,0,0);
  transition: all 0.1s;
}
.special-banner .swiper-button-prev img{
  width: auto;
  height: 100%;
  position: absolute;
  top: -3px;
  left: 27px;
  border: 3px solid rgba(0,0,0,0);
}
.special-banner .swiper-button-prev:hover{
  background:rgba(0,0,0,0.2) url("../img/special/slide-btn-l.png") no-repeat center;
  -webkit-background-size: 18px;
  background-size: 18px;
}
.special-banner .swiper-button-prev:hover img{
  border: 3px solid #af6437;
}
.special-banner .swiper-pagination{
  font-size: 16px;
  color: #fff;
  width: 100%;
  bottom: 40px;
  z-index: 2;
}
.special-banner .swiper-pagination span{
  width: auto;
  height: inherit;
  background: none;
  opacity: 1;
  margin: 0 30px;
  position: relative;
}
.special-banner .swiper-pagination span:first-child em{
  display: none;
}
.special-banner .swiper-pagination span em{
  display: inline-block;
  width: 50px;
  height: 2px;
  background: #747474;
  position: absolute;
  top: 50%;
  left: -55px;
  transform: translateY(-50%);
}
.special-banner .swiper-pagination span em i{
  display: block;
  width: 0;
  height: 100%;
  background: #af6437;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.special-banner .swiper-pagination span.swiper-pagination-bullet-active{
  color: #af6437;
}
.special-banner .swiper-pagination span.swiper-pagination-bullet-active em i{
  width: 100%;
  transition: all linear 5s;
}
.special-salon-banner{
  text-align: center;
}
.special-salon-banner .swiper-pagination{
  display: inline-block;
  width: auto !important;
  bottom: 30px !important;
  left: 50% !important;
  transform: translateX(-50%);
  background: rgba(0,0,0,0.5);
  border-radius: 20px;
  padding: 10px;
}
.special-salon-banner .swiper-pagination span{
  float: left;
  width: 6px;
  height: 6px;
  line-height: 12px;
  background: #fff;
  border-radius: 100%;
  border: 2px solid rgba(0,0,0,0);
}
.special-salon-banner .swiper-pagination span.swiper-pagination-bullet-active{
  width: 6px;
  height: 6px;
  background: none;
  border: 2px solid #fff;
}

.special-con{
  width: 100%;
  background-repeat: repeat-y;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center;
  padding: 50px 0;
}
.special-module{
  margin:100px 0;
}
.special-tit-type1{
  font-size: 44px;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}
.special-AWE-title{
  font-size: 44px;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}
.special-AWE-title:before{
  content: '';
  width: 382px;
  height: 1px;
  background: url("../img/special/tit-line.png") no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
  position: absolute;
  top: 50%;
  right: 66%;
  transform: translateY(-50%);
}
.special-AWE-title:after{
  content: '';
  width: 382px;
  height: 1px;
  background: url("../img/special/tit-line.png") no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
  position: absolute;
  top: 50%;
  left: 66%;
  transform: translateY(-50%);
}
.special-AWE-title p{
  display: block;
  font-size: 20px;
  color: #fff;
  text-align: center;
  opacity: 0.7;
  margin-top: 10px;
}
.special-t-txt p{
  font-size: 16px;
  color: #fff;
  line-height: 32px;
  padding: 0 10%;
  text-align: center;
}
.special-t-video{
  max-width: 1200px;
  margin: 100px auto;
}
.special-t-video .t-video-con{
  width: 100%;
  margin-top: 60px;
  position: relative;
}
.special-t-video .t-video-con img{
  display: block;
  width: 100%;
}
.special-t-video .t-video-con a{
  display: inline-block;
  width: 78px;
  height: 78px;
  background: url("../img/special/player-btn.png") no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.special-guest .special-guest-item{
  width: 100%;
  margin: 20px 0;
  overflow: hidden;
  background: #fff;
  position: relative;
}
.special-guest-item .guestImg{
  float: left;
  width: 50%;
}
.special-guest-item .guestImg img{
  display: block;
  width: 100%;
}
.special-guest-item:nth-child(odd) .guestImg{
  float: right;
}
.special-guest-item .guestTxt{
  float: left;
  width: 50%;
  padding: 0 4%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  box-sizing: border-box;
}
.special-guest-item:nth-child(odd) .guestTxt{
  float: left;
  right: inherit;
  left: 0;
}
.special-guest-item .guestTxt span{
  display: inline-block;
  font-size: 24px;
  color: #ad643c;
  padding-bottom: 10px;
  border-bottom: 1px solid #ad643c;
}
.special-guest-item .guestTxt p{
  font-size: 16px;
  color: #333;
  line-height: 26px;
  margin-top: 20px;
}

/*.special-wonderful{*/
/*margin: 100px 0;*/
/*}*/
.special-wonderful-top{
  width: 100%;
  border: 1px solid rgba(255,255,255,0.5);
  position: relative;
  box-sizing: border-box;
}
.special-wonderful-top .swiper-slide img{
  display: block;
  width: 100%;
}
.special-wonderful-top .swiper-button-next{
  width: 33px;
  height: 64px;
  background: url("../img/special/slide-btn-r.png") no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.special-wonderful-top .swiper-button-prev{
  width: 33px;
  height: 64px;
  background: url("../img/special/slide-btn-l.png") no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.special-wonderful-top .swiper-pagination{
  display: inline-block;
  width: 80px;
  font-size: 24px;
  color: #fff;
  position: absolute;
  right: 30px;
  left: inherit;
  bottom: 30px;
  z-index: 2;
}
.special-wonderful-top .swiper-pagination .swiper-pagination-current{
  font-size: 22px;
  color: #ad643c;
}
.special-wonderful-thumbs{
  margin-top: 10px;
  position: relative;
}
.special-wonderful-thumbs .swiper-slide{
  border: 1px solid rgba(255,255,255,0.5);
  box-sizing: border-box;
  cursor: pointer;
}
.special-wonderful-thumbs .swiper-slide img{
  display: block;
  width: 100%;
}
.special-wonderful-thumbs .swiper-slide.active-nav{
  border: 1px solid #ad643c;
}

/*.special-report{*/
/*margin: 100px 0;*/
/*}*/
.special-report ul{
  width: 100%;
  margin-left: -1%;
}
.special-report ul li{
  float: left;
  width: 31.33%;
  margin: 1%;
  background: #fff;
}
.special-report ul li a{
  display: block;
}
.special-report ul li .special-report-img{
  overflow: hidden;
}
.special-report ul li .special-report-img img{
  width: 100%;
  transition: all 0.5s;
}
.special-report ul li:hover .special-report-img img{
  transform: scale(1.1);
}
.special-report ul li .special-report-txt{
  padding: 20px;
}
.special-report ul li .special-report-txt h4{
  font-size: 16px;
  color: #333;
  font-weight: normal;
  line-height: 24px;
  height: 48px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-weight: normal;
}
.special-report ul li .special-report-txt span{
  display: inline-block;
  font-size: 14px;
  color: #ad643c;
  margin-top: 10px;
}

.special-video-popup{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0,0,0,0.5);
}
.special-video-popup .special-video-wrap{
  display: inline-block;
  max-width: 1600px;
  max-height: 80vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.special-video-popup .special-video-wrap .videoBg{
  display: block;
  max-width: 100%;
  min-height: 300px;
  opacity: 0;
}
.special-video-popup .special-video-wrap .special-video-box{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.special-video-box .closeVideo{
  display: block;
  width: 28px;
  height: 28px;
  background: rgba(0,0,0,0.5) url("../img/closeAi.png") no-repeat center;
  background-size: 28px;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9000;
}

.special-AWE-txt{
  font-size: 16px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 30px;
}
.AWE-share-img img{
  display: block;
  width: 100%;
}
.AWE-share-img span{
  display: block;
  font-size: 20px;
  color: #fff;
  text-align: center;
  opacity: 0.7;
  margin-top: 20px;
}
.special-AWE-nested{
  text-align: center;
}
.AWE-nested-swiper{
  position: relative;
  margin-top: 45px;
}
.AWE-nested-swiper .swiper-slide{
  width: 100%;
}
.AWE-nested-swiper .swiper-slide img{
  display: block;
  width: 100%;
}
.AWE-nested-swiper .swiper-button-next{
  width: 48px;
  height: 48px;
  background:rgba(0,0,0,0.5) url("../img/special/slide-btn-r.png") no-repeat center;
  -webkit-background-size: 14px;
  background-size: 14px;
  right: 0;
}
.AWE-nested-swiper .swiper-button-next:hover{
  background:#af6437 url("../img/special/slide-btn-r.png") no-repeat center;
  -webkit-background-size: 14px;
  background-size: 14px;
}
.AWE-nested-swiper .swiper-button-prev{
  width: 48px;
  height: 48px;
  background:rgba(0,0,0,0.5) url("../img/special/slide-btn-l.png") no-repeat center;
  -webkit-background-size: 14px;
  background-size: 14px;
  left: 0;
}
.AWE-nested-swiper .swiper-button-prev:hover{
  background:#af6437 url("../img/special/slide-btn-l.png") no-repeat center;
  -webkit-background-size: 14px;
  background-size: 14px;
}
.AWE-nested-swiper .swiper-turn{
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}
.AWE-nested-swiper .swiper-pagination{
  width: 50px;
  height:auto;
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: inherit;
  left: initial;
  right: 20px;
  bottom: 50px;
  z-index: 2;
}
.AWE-nested-swiper .swiper-pagination .swiper-pagination-current{
  font-size: 22px;
  color: #ad643c;
}
.special-eplan-swiper{
  position: relative;
}
.special-eplan-swiper .swiper-slide img{
  display: block;
  width: 100%;
}
.special-eplan-swiper .swiper-button-next{
  width: 48px;
  height: 48px;
  background: #af6437 url("../img/special/slide-btn-r.png") no-repeat center;
  -webkit-background-size: 14px;
  background-size: 14px;
  right: 0;
}
.special-eplan-swiper .swiper-button-prev{
  width: 48px;
  height: 48px;
  background: #af6437 url("../img/special/slide-btn-l.png") no-repeat center;
  -webkit-background-size: 14px;
  background-size: 14px;
  left: 0;
}
.special-eplan-swiper .swiper-pagination{
  width: 100%;
  bottom: 30px;
}
.special-eplan-swiper .swiper-pagination span{
  margin: 0 10px;
  opacity: 0.6;
  background: none;
  border: 1px solid #fff;
}
.special-eplan-swiper .swiper-pagination span.swiper-pagination-bullet-active{
  opacity: 1;
  background: #af6437;
  border: 1px solid #af6437;
}
.special-moment{
  width: 100%;
  position: relative;
}
.special-moment-l{
  float: left;
  width: 75%;
}
.special-moment-l .swiper-slide img{
  display: block;
  width: 100%;
}
.special-moment-r{
  float: left;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 10px;
  box-sizing: border-box;
}
.special-moment-r .swiper-container{
  width: 100%;
  height: 100%;
}
.special-moment-r .swiper-slide{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  /*-ms-flex-align: center;*/
  /*-webkit-align-items: center;*/
  /*align-items: center;*/
  box-sizing: border-box;
  /*background: #af6437;*/
}
.special-moment-r .swiper-slide.swiper-slide-active{
  border: 5px solid #af6437;
}
.special-moment-r .swiper-slide img{
  display: block;
  width: 100%;
}
.special-moment-r .swiper-button-next{
  width: 48px;
  height: 48px;
  background: url("../img/special/slide-btn-r.png") no-repeat center;
  -webkit-background-size: 20px;
  background-size: 20px;
  top: inherit;
  left: 50%;
  right: inherit;
  bottom: 0;
  transform: translateX(-50%) rotate(90deg);
  margin-top: inherit;
}
.special-moment-r .swiper-button-prev{
  width: 48px;
  height: 48px;
  background: url("../img/special/slide-btn-l.png") no-repeat center;
  -webkit-background-size: 20px;
  background-size: 20px;
  left: 50%;
  right: inherit;
  top: 0;
  transform: translateX(-50%) rotate(90deg);
  margin-top: inherit;
}

.special-video-con{
  /*margin: 0 200px;*/
}
.special-video-txt{
  font-size: 16px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 30px;
}
.special-video-data{
  width: 100%;
  margin: 100px 0;
}
.video-data-top{
  position: relative;
}
.video-data-top img{
  display: block;
  width: 100%;
}
.special-video-data .kvPlay{
  display: inline-block;
  width: 110px;
  height: 110px;
  background: url("../img/special/player-btn-2.png") no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.video-data-top .video-data-txt{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  background: rgba(0,0,0,0.5);
}
.video-data-top .video-data-txt h4{
  font-size: 26px;
  color: #fff;
  font-weight: normal;
}
.video-data-top .video-data-txt p{
  font-size: 16px;
  color: #fff;
  margin-top: 15px;
  line-height: 26px;
}
.video-data-bottom{
  margin-top: 20px;
}
.video-data-bottom ul li{
  float: left;
  width: 32.33%;
  margin-right: 1.5%;
}
.video-data-bottom ul li:last-child{
  margin-right: 0;
}
.video-data-bottom ul li .video-data-img{
  position: relative;
}
.video-data-bottom ul li .video-data-img img{
  display: block;
  width: 100%;
}
.video-data-bottom ul li .video-data-txt{
  padding: 20px 0;
}
.video-data-bottom ul li .video-data-txt h4{
  font-size: 22px;
  color: #fff;
  font-weight: normal;
}
.video-data-bottom ul li .video-data-txt p{
  font-size: 16px;
  color: #fff;
  line-height: 26px;
  margin-top: 10px;
}

.special-salon-txt{
  font-size: 16px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 30px;
}
.salon-title{
  text-align: center;
  margin-bottom: 50px;
}
.salon-title .salon-title-con{
  display: inline-block;
  position: relative;
}
.salon-title .salon-title-en{
  font-size: 44px;
  color: #af6437;
  font-style: italic;
}
.salon-title .salon-title-ch{
  font-size: 32px;
  color: #fff;
}
/* .salon-title .salon-title-con:before{
  content: '';
  width: 1000px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  right: 130%;
  transform: translateY(-50%);
}
.salon-title .salon-title-con:after{
  content: '';
  width: 1000px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 130%;
  transform: translateY(-50%);
} */

.salon-guest-swiper .swiper-slide{
  width:32.2vw;
  position: relative;
}
.salon-guest-swiper .swiper-slide img{
  display: block;
  width: 100%;
}
.salon-guest-swiper .swiper-slide .guest-slide-tit{
  width: 80%;
  border: 1px solid #fff;
  padding: 6px;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.5s;
}
.salon-guest-swiper .swiper-slide .guest-slide-tit p{
  font-size: 18px;
  color: #fff;
  text-align: center;
  padding: 15px;
  background: rgba(0,0,0,0.5);
}
.salon-guest-swiper .swiper-slide.swiper-slide-active .guest-slide-tit{
  opacity: 1;
}
.salon-guest-swiper .swiper-button-next{
  background: url("../img/special/slide-btn-r.png") no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
  right:20px;
}
.salon-guest-swiper .swiper-button-prev{
  background: url("../img/special/slide-btn-l.png") no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
  left: 20px;
}
.special-salon-moment .swiper-button-next{
  right: 10px;
}
.special-salon-moment .swiper-button-prev{
  left: 10px;
}

.waic-banner{
  color: #fff;
  text-align: center;
  margin-top: 50px;
}
.waic-logo img{
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.waic-tit-big{
  margin-top: 40px;
}
.waic-tit-big h4{
  font-size: 48px;
  font-weight: normal;
  margin: 10px 0;
}
.waic-tit-big span{
  font-size: 32px;
}
.waic-tit-small{
  margin-top: 30px;
}
.waic-tit-small h5{
  font-size: 32px;
  font-weight: normal;
  margin: 10px 0;
}
.waic-tit-small span{
  font-size: 22px;
}
.waic-dw-txt{
  font-size: 16px;
  line-height: 26px;
  margin-top: 50px;
}
.waic-dw-txt p{
  display: inline-block;
  text-align: left;
}
.waic-dw-txt p em{
  opacity: 0;
}
.waic-title{
  font-size:44px;
  color: #af6437;
  text-align: center;
  margin-bottom: 60px;
}
.waic-hear{
  color: #fff;
  text-align: center;
  margin-top:160px;
}
.waic-hear .waic-hear-tit{
  font-size: 44px;
  font-weight: bold;
  line-height: 58px;
  margin: 40px 0;
}
.waic-hear .waic-hear-tit em{
  font-style: inherit;
  color: #af6437;
}
.waic-hear .waic-hear-txt{
  font-size: 16px;
  line-height: 28px;
  opacity: 0.8;
}
.waic-agenda{
  text-align: center;
}
.agenda-list{
  display: inline-block;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}
.agenda-list .agenda-list-item{
  font-size: 20px;
  color: #fff;
  padding-left: 50px;
  margin: 40px 0;
  background: url("../img/special/waic-line.png") no-repeat left top;
}
.agenda-list .agenda-list-item .agenda-tit{
  margin: 15px 0;
}
.waic-guest-list .waic-guest-item{
  float: left;
  width: 31.33%;
  margin: 1%;
  text-align: center;
}
.waic-guest-list .waic-guest-item img{
  width: 170px;
  margin-bottom: -30px;
  border-radius: 100%;
}
.waic-guest-txt{
  padding: 45px 45px 20px;
  background: url("../img/special/waic-item-bg.png") no-repeat center top;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.waic-guest-txt .jb-name{
  font-size: 24px;
  color: #af6437;
  margin-top: 20px;
}
.waic-guest-txt .jb-tit{
  font-size: 16px;
  color: #fff;
  margin: 15px 0;
  opacity: 0.8;
}
.waic-guest-txt .jb-txt{
  font-size: 18px;
  color: #fff;
  line-height: 28px;
  min-height: 140px;
  overflow: hidden;
}
.waic-Wonderful{
  position: relative;
  overflow: hidden;
}
.waic-wonderful-top .swiper-slide img{
  display: block;
  width: 100%;
}
.waic-wonderful-thumbs{
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
}
.waic-wonderful-thumbs .swiper-slide img{
  display: block;
  width: 100%;
  position: relative;
  top: 2.5px;
}
.waic-wonderful-thumbs .swiper-button-next{
  width: 76px;
  height: 76px;
  margin-top: inherit;
  transform: translateY(-50%);
  background:#fff url("../img/buy-swiper-r.png") no-repeat left 18px center;
  -webkit-background-size: 13px;
  background-size: 13px;
  border-radius: 100%;
  right:-38px;
}
.waic-wonderful-thumbs .swiper-button-prev{
  width: 76px;
  height: 76px;
  margin-top: inherit;
  transform: translateY(-50%);
  background:#fff url("../img/buy-swiper-l.png") no-repeat right 18px center;
  -webkit-background-size: 13px;
  background-size: 13px;
  border-radius: 100%;
  left:-38px;
}
.waic-wonderful-thumbs .swiper-slide{
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
.waic-wonderful-thumbs .swiper-slide:after{
  content: '';
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all 0.3s;
  box-sizing: border-box;
}
.waic-wonderful-thumbs .swiper-slide.swiper-slide-active:after{
  opacity: 0;
}
.waic-wonderful-thumbs .swiper-slide {
  width: 100%;
  box-sizing: border-box;
  /*border: 5px solid rgba(0,0,0,0);*/
}
.waic-wonderful-thumbs .swiper-slide.swiper-slide-active {
  border: 5px solid #af6437;
}
.waic-wonderful-thumbs .swiper-slide.swiper-slide-active img{
  top: 0;
}

.essence-title{
  font-size: 44px;
  color: #fff;
  text-align: center;
  margin: 80px 0;
}
.essence-title p{
  font-size: 24px;
  margin-top: 15px;
}
.essence-con{
  padding-top: 0;
}
.essence-banner .essence-banner-l{
  float: left;
  width: 46%;
  margin-top: 5%;
}
.essence-banner .essence-banner-l img{
  display: block;
  float: right;
  width: 50%;
  margin-right: 50px;
}
.essence-banner .essence-banner-r{
  float: right;
  width: 54%;
}
.essence-banner .essence-banner-r img{
  width: 100%;
}
.essence-video{
  max-width: 1000px;
  margin: 100px auto;
}
.essence-video-con{
  width: 100%;
  position: relative;
}
.essence-video-con img{
  display: block;
  width: 100%;
}
.essence-video-con a{
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../img/special/player-btn.png") no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.essence-video-txt{
  font-size: 18px;
  color: #fff;
  line-height: 36px;
  margin-bottom: 50px;
  text-align: center;
}
.essence-agenda{
  text-align: center;
}
.essence-agenda-list{
  display: inline-block;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  position: relative;
}
.essence-agenda-list .agenda-line{
  width: 1px;
  height: 110%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 145px;
  transform: translateY(-50%);
}
.essence-agenda-list .essence-agenda-item{
  margin: 50px 0;
  padding-left: 120px;
  position: relative;
}
.essence-agenda-list .essence-agenda-item .essence-agenda-time{
  font-size: 22px;
  color: #fff;
  line-height: 26px;
  position: absolute;
  left: 0;
}
.essence-agenda-list .essence-agenda-item .essence-agenda-time:before{
  content: '';
  width: 15px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
  right: -20px;
}
.essence-agenda-list .essence-agenda-item .essence-agenda-txt{
  margin-left: 50px;
  position: relative;
}
.essence-agenda-list .essence-agenda-item .essence-agenda-txt:before{
  display: block;
  content: '◇';
  width: 20px;
  height: 20px;
  font-size: 24px;
  text-align: center;
  line-height:20px;
  color: #fff;
  background: rgba(8,28,71,1);
  border-radius: 100%;
  position: absolute;
  top: 3px;
  left: -35px;
}
.essence-agenda-list .essence-agenda-item .essence-agenda-txt p{
  font-size: 26px;
  color: #fff;
}
.essence-agenda-list .essence-agenda-item .essence-agenda-txt span{
  display: block;
  font-size: 18px;
  color: #fff;
  margin-top: 15px;
}
.essence-guest-list .essence-guest-item{
  float: left;
  width: 40%;
  padding: 40px 0 40px 24%;
  box-sizing: border-box;
  position: relative;
}
.essence-guest-list .essence-guest-item:nth-child(even){
  float:right;
}
.essence-guest-list .essence-guest-item .es-guest-img{
  float: left;
  width: 62%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.essence-guest-list .essence-guest-item .es-guest-img img{
  display: block;
  width: 76%;
}
.essence-guest-list .essence-guest-item .es-guest-txt{
  float: left;
  width: 200px;
  color: #fff;
  margin-right: 10%;
}
.essence-guest-list .essence-guest-item:nth-child(even) .es-guest-txt{
  float:left;
  margin-right: 0;
}
.essence-guest-list .essence-guest-item:nth-child(even) .es-guest-img{

}
.es-guest-txt .es-guest-name{
  font-size: 32px;
}
.es-guest-txt .es-guest-zw{
  height: 56px;
  font-size: 18px;
  line-height: 28px;
  margin-top: 15px;
  padding-bottom: 10px;
  position: relative;
}
.es-guest-txt .es-guest-zw:before{
  content: '';
  width: 60px;
  height: 2px;
  background: #af6437;
  position: absolute;
  left: 0;
  bottom: 0;
}
.es-guest-txt .es-guest-mj{
  font-size: 26px;
  opacity: 0.8;
  line-height: 38px;
  margin-top: 15%;
  letter-spacing: 6px;
}
.essence-guest-video{
  width: 101%;
  margin-left: -0.5%;
  margin-top: 100px;
  position: relative;
}
.essence-guest-video .swiper-button-next{
  width: 26px;
  height: 64px;
  background: url("../img/special/slide-btn-r.png") no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
  margin-top: -42px;
}
.essence-guest-video .swiper-button-prev{
  width: 26px;
  height: 64px;
  background: url("../img/special/slide-btn-l.png") no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
  margin-top: -42px;
}
.essence-guest-video .swiper-slide .e-guest-vImg{
  position: relative;
}
.essence-guest-video .swiper-slide .e-guest-vImg img{
  display: block;
  width: 100%;
}
.essence-guest-video .swiper-slide .e-guest-vImg a{
  display: inline-block;
  width: 48px;
  height: 48px;
  background: url("../img/special/player-btn.png") no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.essence-guest-video .swiper-slide p{
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}
.essence-con .special-moment-r .swiper-slide.swiper-slide-active{
  border: 5px solid #af6437;
}


.gobi-banner{
  margin: 160px 0;
}
.gobi-banner img{
  float: right;
  width: 60%;
}
.gobi-title{
  font-size: 44px;
  color: #333;
  text-align: center;
  margin-bottom: 60px;
}
.gobi-title p{
  font-size: 24px;
  margin-top: 15px;
}
.gobi-xz-con{
  position: relative;
  margin-top: 120px;
}
.gobi-xz-con .gobi-xz-txt{
  float: left;
  font-size: 16px;
  color: #333;
  line-height: 26px;
  width: 55%;
  padding: 5%;
  background: #fff;
  box-sizing: border-box;
}
.gobi-xz-con .gobi-xz-txt p{
  width: 78%;
  margin: 20px 0;
}
.gobi-xz-con .gobi-xz-video{
  float: left;
  width: 55%;
  position: absolute;
  top: -50px;
  right: 0;
}
.gobi-xz-con .gobi-xz-video img{
  display: block;
  width: 100%;
}
.gobi-xz-con .gobi-xz-video a{
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../img/special/player-btn-5.png") no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.gobi-Wonderful .waic-wonderful-top{
  border: 6px solid #fff;
}
.gobi-Wonderful .waic-wonderful-thumbs{
  position: inherit;
  left: inherit;
  bottom: inherit;
  margin-top: 20px;
}
.gobi-Wonderful .waic-wonderful-thumbs .swiper-button-next{
  width: 38px;
  height: 100%;
  right:0;
  border-radius: inherit;
  background: rgba(0,0,0,0.5) url("../img/special/slide-btn-r.png") no-repeat center;
  -webkit-background-size: 14px;
  background-size: 14px;
  margin-top: 0;
  transform: translateY(-50%);
}
.gobi-Wonderful .waic-wonderful-thumbs .swiper-button-prev{
  width: 38px;
  height: 100%;
  left:0;
  border-radius: inherit;
  background: rgba(0,0,0,0.5) url("../img/special/slide-btn-l.png") no-repeat center;
  -webkit-background-size: 14px;
  background-size: 14px;
  margin-top: 0;
  transform: translateY(-50%);
}
.gobi-Wonderful .waic-wonderful-thumbs .swiper-slide{
  border: none;
}
.gobi-Wonderful .waic-wonderful-thumbs .swiper-slide.swiper-slide-active{
  border: none;
}




@media screen and (max-width: 1600px){
  .special-video-con {
    margin: 0 100px;
  }
}
@media screen and (max-width: 1440px){
  .special-tit-type1{
    font-size: 32px;
  }
  .special-AWE-title{
    font-size: 32px;
  }
  .gobi-title{
    font-size: 32px;
  }
  .gobi-title p{
    font-size: 20px;
  }
  .essence-title{
    font-size: 32px;
    margin: 60px 0;
  }
  .essence-title p{
    font-size: 20px;
  }
  .special-video-con {
    margin: 0 50px;
  }
  /*.special-guest,*/
  /*.special-wonderful,*/
  /*.special-report{*/
  /*margin-top: 100px;*/
  /*}*/

  .AWE-nested-swiper .swiper-slide{
    max-width: 1024px;
  }
  .AWE-nested-swiper .swiper-turn{
    width: 1024px;
  }

  .waic-tit-big h4{
    font-size: 36px;
  }
  .waic-tit-big span{
    font-size: 24px;
  }
  .waic-tit-small h5{
    font-size: 24px;
  }
  .waic-tit-small span {
    font-size: 18px;
  }
  .waic-hear .waic-hear-tit{
    font-size: 32px;
  }
  .waic-title{
    font-size: 32px;
    margin: 40px 0;
  }
  .waic-hear,
  .waic-agenda,
  .waic-guest{
    margin-top: 100px;
  }
  .waic-Wonderful{
    margin-top: 40px;
  }

  .essence-agenda-list .essence-agenda-item .essence-agenda-time{
    font-size: 20px;
  }
  .essence-agenda-list .essence-agenda-item .essence-agenda-txt p{
    font-size:20px;
    line-height: 26px;
  }
  .essence-agenda-list .essence-agenda-item .essence-agenda-txt span{
    font-size: 16px;
  }
  .es-guest-txt .es-guest-name{
    font-size:24px;
  }
  .es-guest-txt .es-guest-zw{
    font-size: 16px;
  }
  .es-guest-txt .es-guest-mj{
    font-size: 20px;
    line-height: 32px;
  }
}
@media screen and (max-width: 1024px){
  .special-tit-type1{
    font-size: 24px;
    margin-bottom: 35px;
  }
  .special-AWE-title{
    font-size: 24px;
    margin-bottom: 35px;
  }
  .special-AWE-nested p{
    font-size: 16px;
  }
  .salon-title{
    margin: 60px 0 40px;
  }
  .salon-title .salon-title-en{
    font-size: 24px;
  }
  .salon-title .salon-title-ch{
    font-size: 24px;
  }
  .gobi-title{
    font-size: 24px;
    margin: 35px 0;
  }
  .gobi-title p{
    font-size: 16px;
  }
  .essence-title{
    font-size: 24px;
    margin: 35px 0;
  }
  .essence-title p {
    font-size: 16px;
  }
  .special-module{
    margin: 50px 0;
  }
  .special-video-con {
    margin: 0 20px;
  }
  .special-t-video p{
    font-size: 14px;
  }
  /*.special-guest,*/
  /*.special-wonderful,*/
  /*.special-report {*/
  /*margin-top: 60px;*/
  /*margin-bottom: 60px;*/
  /*}*/
  .special-guest-item .guestTxt span{
    font-size: 20px;
  }
  .special-guest-item .guestTxt p{
    font-size: 14px;
    line-height: 24px;
  }
  .special-wonderful-top .swiper-button-next{
    width: 18px;
    right: 10px;
  }
  .special-wonderful-top .swiper-button-prev{
    width: 18px;
    left: 10px;
  }
  .special-report ul li .special-report-txt h4{
    font-size: 14px;
  }

  .special-AWE-txt{
    font-size: 14px;
    margin-top: 0;
  }
  .AWE-share-img span{
    font-size: 18px;
  }
  .AWE-nested-swiper{
    margin: 45px 20px 0;
  }
  .AWE-nested-swiper .swiper-turn{
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .AWE-nested-swiper .swiper-pagination{
    top: 30px;
    right:10px;
  }

  .special-video-txt{
    font-size: 14px;
    margin-top: 0;
  }
  .special-video-data{
    margin: 60px 0 0;
  }
  .special-video-data .kvPlay{
    width: 70px;
    height: 70px;
  }
  .video-data-top .video-data-txt{
    padding: 20px;
  }
  .video-data-top .video-data-txt h4,
  .video-data-bottom ul li .video-data-txt h4{
    font-size: 18px;
  }
  .video-data-top .video-data-txt p,
  .video-data-bottom ul li .video-data-txt p{
    font-size: 14px;
    margin-top: 5px;
  }

  .special-salon-txt{
    font-size: 14px;
    margin-top: 0;
  }
  .salon-guest-swiper .swiper-slide{
    width: 37vw;
  }
  .salon-guest-swiper .swiper-slide .guest-slide-tit p{
    font-size: 16px;
  }
  .salon-guest-swiper .swiper-button-next{
    width: 18px;
    right: 10px;
  }
  .salon-guest-swiper .swiper-button-prev{
    width: 18px;
    left: 10px;
  }

  .waic-tit-big h4{
    font-size: 28px;
  }
  .waic-tit-big span{
    font-size:22px;
  }
  .waic-dw-txt{
    font-size: 14px;
  }
  .waic-hear .waic-hear-tit{
    font-size: 24px;
    line-height: 38px;
  }
  .waic-hear .waic-hear-txt{
    font-size: 14px;
  }
  .waic-title{
    font-size: 24px;
    margin: 30px 0;
  }
  .waic-hear,
  .waic-agenda,
  .waic-guest{
    margin-top: 60px;
  }
  .agenda-list .agenda-list-item{
    font-size: 18px;
  }
  .waic-guest-list .waic-guest-item img{
    width: 130px;
  }
  .waic-guest-txt .jb-name{
    font-size:18px;
  }
  .waic-guest-txt .jb-tit{
    font-size:14px;
  }
  .waic-guest-txt .jb-txt{
    font-size:16px;
  }

  .gobi-banner img{
    float:none;
    display: block;
    margin: 0 auto;
  }
  .gobi-banner {
    margin: 80px 0;
  }
  .gobi-xz-con .gobi-xz-txt{
    font-size:14px;
    padding: 4%;
  }
  .gobi-xz-con .gobi-xz-video a{
    width: 60px;
    height: 60px;
  }

  .essence-video{
    margin: 50px 0;
  }
  .essence-video-con a{
    width: 60px;
    height: 60px;
  }
  .essence-video-txt{
    font-size: 16px;
  }
  .essence-agenda-list .agenda-line{
    left: 119px;
    height: 104%;
  }
  .essence-agenda-list .essence-agenda-item{
    padding-left: 94px;
  }
  .essence-agenda-list .essence-agenda-item .essence-agenda-time{
    font-size: 16px;
  }
  .essence-agenda-list .essence-agenda-item .essence-agenda-txt p{
    font-size: 16px;
  }
  .essence-agenda-list .essence-agenda-item .essence-agenda-txt span{
    font-size: 14px;
    line-height: 24px;
  }
  .es-guest-txt .es-guest-name{
    font-size: 18px;
  }
  .es-guest-txt .es-guest-zw{
    font-size: 14px;
    line-height: 24px;
  }
  .es-guest-txt .es-guest-mj{
    font-size: 18px;
    margin-top: 10%;
  }
  .essence-guest-video{
    margin-top: 40px;
  }
  .essence-guest-video .swiper-slide p{
    font-size: 14px;
    line-height: 24px;
  }
  .essence-guest-list .essence-guest-item{
    width:44%;
  }
}
.s-show{
  display:none;
}
@media screen and (max-width: 768px){
  .s-none{
    display:none !important;
  }
  .s-show{
    display:block !important;
  }
  .waic-Wonderful .swiper-button-next,.waic-Wonderful .swiper-button-next{
    width: 12px;
    height: 18px;
    padding: 10px;
    background: url(../img/special/lxj-btn-r.png) no-repeat center;
    -webkit-background-size: 12px;
    background-size: 12px;
  }
  .waic-Wonderful .swiper-button-prev,.waic-Wonderful .swiper-button-prev{
    width: 12px;
    height: 18px;
    padding: 10px;
    background: url("../img/special/lxj-btn-l.png") no-repeat center;
    -webkit-background-size: 12px;
    background-size: 12px;
  }
  .waic-guest-txt .jb-txt{
    min-height: auto !important;
  }
  .special-t-video p{
    padding: 0;
  }
  .special-t-video .t-video-con a{
    width: 50px;
    height: 50px;
  }
  .special-guest-item .guestImg {
    float: none;
    width: 100%;
  }
  .special-guest-item .guestTxt{
    float:none;
    width: 100%;
    position: inherit;
    top: inherit;
    right: inherit;
    transform: inherit;
    padding: 20px 4%;
  }

  .special-banner .swiper-button-next{
    width: 18px;
    height:50px;
    right: 10px;
  }
  .special-banner .swiper-button-next img{
    display: none;
  }
  .special-banner .swiper-button-prev{
    width: 18px;
    height:50px;
    left: 10px;
  }
  .special-banner .swiper-button-prev img{
    display: none;
  }
  .special-banner .swiper-pagination{
    bottom: 15px;
  }
  .special-banner .swiper-pagination span{
    margin: 0 15px;
  }
  .special-banner .swiper-pagination span em{
    width: 25px;
    left: -28px;
  }
  .AWE-nested-swiper {
    margin: 45px 10px 0;
  }
  .AWE-nested-swiper .swiper-button-next{
    width: 40px;
    height: 40px;
  }
  .AWE-nested-swiper .swiper-button-prev{
    width: 40px;
    height: 40px;
  }
  .special-eplan-swiper .swiper-button-next{
    width: 40px;
    height: 40px;
  }
  .special-eplan-swiper .swiper-button-prev{
    width: 40px;
    height: 40px;
  }

  .special-moment-l{
    float:none;
    width: 100%;
  }
  .special-moment-r{
    float: none;
    width: 100%;
    height: auto;
    position: inherit;
    top: inherit;
    right: inherit;
    padding-left: inherit;
    margin-top: 10px;
  }
  .special-moment-r .swiper-container{
    height:inherit;
  }
  .special-moment-r .swiper-slide{
    display: block;
  }
  .special-moment-r .swiper-button-next{
    width: 40px;
    height: 40px;
    top: 50%;
    left: inherit;
    right:0;
    bottom: inherit;
    transform: translateY(-50%) rotate(0);
  }
  .special-moment-r .swiper-button-prev{
    width: 40px;
    height: 40px;
    top: 50%;
    right: inherit;
    left:0;
    bottom: inherit;
    transform: translateY(-50%) rotate(0);
  }

  .video-data-top .video-data-txt {
    position: inherit;
    left: inherit;
    bottom: inherit;
  }
  .special-video-data .video-data-top .kvPlay{
    top:36%;
  }
  .video-data-bottom li{
    position: relative;
  }
  .video-data-bottom .video-data-txt{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
  }
  .video-data-bottom ul li .video-data-txt{
    padding: 20px;
  }
  .video-data-bottom .video-data-txt h4{
    font-size: 26px;
    color: #fff;
    font-weight: normal;
  }
  .video-data-bottom .video-data-txt p{
    font-size: 16px;
    color: #fff;
    margin-top: 15px;
    line-height: 26px;
  }
  .special-video-data .video-data-bottom .kvPlay {
    top: 36%;
  }
  .special-video-con{
    margin: 0 10px;
  }

  .agenda-list .agenda-list-item{
    font-size:16px;
    padding-left:30px;
  }
  .waic-guest-list .waic-guest-item{
    width: 48%;
  }
  .waic-guest-txt{
    padding: 28px 10px 10px;
  }
  .waic-wonderful-top{
    margin-bottom: 20px;
  }
  .waic-wonderful-thumbs{
    position: inherit;
    left: inherit;
    bottom: inherit;
    padding: 0;
  }
  .waic-wonderful-thumbs .swiper-button-next{
    width: 50px;
    height: 50px;
    right: -25px;
    background: #fff url("../img/buy-swiper-r.png") no-repeat left 9px center;
  }
  .waic-wonderful-thumbs .swiper-button-prev{
    width: 50px;
    height: 50px;
    left: -25px;
    background: #fff url("../img/buy-swiper-l.png") no-repeat right 9px center;
  }

  .gobi-xz-con{
    margin-top:0;
  }
  .gobi-xz-con .gobi-xz-txt{
    float:none;
    width: 100%;
  }
  .gobi-xz-con .gobi-xz-txt p{
    width: 100%;
  }
  .gobi-xz-con .gobi-xz-video {
    float: none;
    width: 100%;
    position: inherit;
    top: inherit;
    right: inherit;
  }
  .gobi-Wonderful .waic-wonderful-thumbs .swiper-button-next{
    height: 40px;
  }
  .gobi-Wonderful .waic-wonderful-thumbs .swiper-button-prev{
    height: 40px;
  }

  .essence-banner .essence-banner-r{
    float: none;
    width: 100%;
  }
  .essence-banner .essence-banner-l{
    float:none;
    width: 100%;
    margin-bottom: 80px;
  }
  .essence-banner .essence-banner-l img{
    float: none;
    width: 280px;
    margin: 0 auto;
  }
  .essence-guest-video {
    margin-top: 0;
  }
  .essence-guest-video ul li{
    width: 49%;
    margin: 15px 0.5%;
  }

  .special-report ul li{
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .special-report ul li .special-report-txt h4{
    height:auto;
  }
  .essence-guest-list .essence-guest-item{
    width:100%;
    padding: 40px 0 40px 0;
  }
  .essence-guest-list .essence-guest-item .es-guest-img{
    width: 32%;
    position: inherit;
    top: inherit;
    left: inherit;
    transform: inherit;
  }
  .essence-guest-list .essence-guest-item .es-guest-txt{
    width: auto;
    margin-right: 0;
  }
}
@media screen and (max-width: 480px){
  .special-wonderful-top .swiper-pagination{
    font-size: 18px;
    right: 5px;
    bottom: 15px;
  }
  .special-wonderful-top .swiper-pagination .swiper-pagination-current{
    font-size: 16px;
  }

  .video-data-bottom ul li{
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .video-data-bottom ul li:last-child{
    margin-bottom: 0;
  }
  .waic-guest-list .waic-guest-item{
    width: 100%;
    margin: 1% 0;
  }

  .es-guest-txt .es-guest-zw{
    height: auto;
  }
  .essence-guest-list .essence-guest-item{
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 20px 0;
  }
}


.idealists-title{
  font-size: 36px;
  color: #fff;
  text-align: center;
  width:465px;
  height: 66px;
  line-height: 66px;
  background: url("../img/special/lxj-title-bg.png") no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
  position: absolute;
  top: -33px;
  left: 50%;
  transform: translateX(-50%);
}
.idealists-modular{
  padding: 30px 40px;
  background: rgba(99,52,26,0.18);
  border: 1px solid #7f3f1b;
  position: relative;
}
.idealists-live .idealists-live-video{
  width: 70%;
  margin: 50px auto 0;
  position: relative;
}
.idealists-live .idealists-live-video img{
  display:block;
  width: 100%;
}
.livePlay{
  display: block;
  width: 60px;
  height: 60px;
  background: url("../img/special/player-btn-2.png") no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.idealists-video .idealists-video-con{
  margin: 50px 0 30px;
}
.idealists-video .idealists-video-con .i-video-l{
  float: left;
  width: 60%;
  position: relative;
}
.idealists-video .idealists-video-con .i-video-l img{
  display: block;
  width: 100%;
}
.idealists-video .idealists-video-con .i-video-r{
  float: left;
  font-size: 16px;
  color: #fff;
  line-height: 34px;
  width: 40%;
  padding-left: 5%;
  box-sizing: border-box;
  opacity:0.8;
}
.idealists-process .idealists-process-list{
  text-align: center;
}
.idealists-process .idealists-process-list ul{
  display: inline-block;
  margin-top: 20px;
  padding: 10px 0;
  position: relative;
}
.idealists-process .idealists-process-list ul:before{
  content: '';
  width: 2px;
  height: 100%;
  background: #fff;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 120px;
}
.idealists-process .idealists-process-list ul li{
  margin-top: 30px;
  padding-left: 120px;
  position: relative;
}
.idealists-process .idealists-process-list ul li .i-process-time{
  font-size: 16px;
  color: #fff;
  line-height: 26px;
  position: absolute;
  top: 0;
  left: 0;
}
.idealists-process .idealists-process-list ul li .i-process-tit{
  font-size: 18px;
  color: rgba(255,255,255,0.6);
  text-align: left;
  line-height: 26px;
  padding-left: 30px;
  position: relative;
}
.idealists-process .idealists-process-list ul li .i-process-tit:before{
  content: '';
  width: 17px;
  height: 17px;
  background:#000 url("../img/special/lxj-icon01.png") no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
  position: absolute;
  top: 5px;
  left: -7.5px;
}
.idealists-process .idealists-process-list ul li .i-process-txt{
  font-size: 14px;
  color: #fff;
  text-align: left;
  line-height: 26px;
  opacity: 0.6;
  padding-left: 30px;
}
.idealists-guest .idealists-guest-swiper{
  margin: 40px 0;
}
.idealists-guest .idealists-guest-swiper .swiper-button-next{
  width: 12px;
  height: 18px;
  padding: 10px;
  background: url("../img/special/lxj-btn-r.png") no-repeat center;
  -webkit-background-size: 12px;
  background-size: 12px;
}
.idealists-guest .idealists-guest-swiper .swiper-button-prev{
  width: 12px;
  height: 18px;
  padding: 10px;
  background: url("../img/special/lxj-btn-l.png") no-repeat center;
  -webkit-background-size: 12px;
  background-size: 12px;
}
.idealists-guest .idealists-guest-swiper .swiper-slide{
  display: flex;
  padding-top: 7%;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}
.idealists-guest .idealists-guest-swiper .swiper-slide img{
  display: block;
  width: 56%;
  max-width: 146px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.idealists-guest .idealists-guest-swiper .swiper-slide .i-guest-con{
  width: 100%;
  padding: 40px 20px 20px;
  margin: 40px 0;
  background: url("../img/special/lxj-item-bg-cen.png") repeat-y;
  -webkit-background-size: 100%;
  background-size: 100%;
  position: relative;
}
.idealists-guest .idealists-guest-swiper .swiper-slide .i-guest-con:before{
  content: '';
  width: 100%;
  height: 40px;
  background: url("../img/special/lxj-item-bg-top.png") no-repeat center top;
  -webkit-background-size: 100%;
  background-size: 100%;
  position: absolute;
  top: -40px;
  left: 0;
}
.idealists-guest .idealists-guest-swiper .swiper-slide .i-guest-con:after{
  content: '';
  width: 100%;
  height: 40px;
  background: url("../img/special/lxj-item-bg-bot.png") no-repeat center bottom;
  -webkit-background-size: 100%;
  background-size: 100%;
  position: absolute;
  bottom: -40px;
  left: 0;
}
.i-guest-con .i-guest-name{
  font-size: 24px;
  color: #fff;
  margin-top: 40px;
}
.i-guest-con .i-guest-txt{
  min-height: 208px;
  font-size: 14px;
  color: #fff;
  line-height: 26px;
  opacity:0.6;
  text-align: left;
  margin-top: 20px;
  overflow: hidden;
}
.idealists-guest-video .i-guest-video{
  margin:60px 0 20px;
}
.idealists-guest-video .i-guest-video .swiper-slide .i-g-v-box{
  width: 100%;
  position: relative;
}
.i-g-v-box img{
  display: block;
  width: 100%;
}
.i-g-v-txt{
  margin-top: 20px;
}
.i-g-v-txt .i-g-name{
  font-size:18px;
  color: #fff;
}
.i-g-v-txt .i-g-txt{
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  margin-top: 8px;
}
.i-guest-video .swiper-button-next{
  width: 12px;
  height: 18px;
  padding: 10px;
  background: url("../img/special/lxj-btn-r.png") no-repeat center;
  -webkit-background-size: 12px;
  background-size: 12px;
}
.i-guest-video .swiper-button-prev{
  width: 12px;
  height: 18px;
  padding: 10px;
  background: url("../img/special/lxj-btn-l.png") no-repeat center;
  -webkit-background-size: 12px;
  background-size: 12px;
}
.idealists-pro .idealists-pro-swiper{
  margin-top: 40px;
}
.idealists-pro .idealists-pro-swiper .swiper-slide{
  display: block;
  width: 40vw;
}
.idealists-pro .idealists-pro-swiper .swiper-slide img{
  display: block;
  width: 100%;
}
.idealists-pro .idealists-pro-swiper .swiper-button-next{
  width: 12px;
  height: 18px;
  padding: 10px;
  background: url("../img/special/lxj-btn-r.png") no-repeat center;
  -webkit-background-size: 12px;
  background-size: 12px;
}
.idealists-pro .idealists-pro-swiper .swiper-button-prev{
  width: 12px;
  height: 18px;
  padding: 10px;
  background: url("../img/special/lxj-btn-l.png") no-repeat center;
  -webkit-background-size: 12px;
  background-size: 12px;
}
.idealists-Wonderful .special-moment{
  margin-top: 40px;
}
.idealists-Wonderful .special-moment-r .swiper-button-next{
  background: url("../img/special/lxj-btn-r.png") no-repeat center;
  -webkit-background-size: 12px;
  background-size: 12px;
}
.idealists-Wonderful .special-moment-r .swiper-button-prev{
  background: url("../img/special/lxj-btn-l.png") no-repeat center;
  -webkit-background-size: 12px;
  background-size: 12px;
}
.idealists-report.idealists-modular{
  padding: 30px 0 0;
  background: none;
  border:inherit;
  border-top: 1px solid #7f3f1b;
}
.idealists-report ul{
  margin-top: 40px;
}


.thirteen-title{
  font-size: 44px;
  color: #fff;
  text-align: center;
  width:327px;
  height: 135px;
  line-height: 152px;
  margin: 0 auto 15px;
  background: url("../img/special/thirteen-title-bg.png") no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.thirteen-modular{
  padding: 30px 40px;
  background: #1a1a1a;
  border: 2px solid #c45105;
  border-radius: 20px;
  position: relative;
}
.thirteen-video .thirteen-video-con{
  margin: 50px 0 30px;
}
.thirteen-video .thirteen-video-con .t-thirteen-l{
  float: left;
  width: 60%;
  position: relative;
}
.thirteen-video .thirteen-video-con .t-thirteen-l img{
  display: block;
  width: 100%;
}
.thirteen-video .thirteen-video-con .t-thirteen-r{
  float: left;
  font-size: 16px;
  color: #fff;
  line-height: 34px;
  width: 40%;
  padding-left: 5%;
  box-sizing: border-box;
  opacity:0.8;
}
.thirteen-video .thirteen-video-con .t-thirteen-r h4{
  font-size: 24px;
  font-weight: normal;
  margin-top: 5%;
}
.thirteen-guest-video .swiper-slide img{
  display: block;
  width: 100%;
}
.thirteen-guest-video .swiper-button-next{
  width: 12px;
  height: 18px;
  padding: 10px;
  background: url("../img/special/lxj-btn-r.png") no-repeat center;
  -webkit-background-size: 12px;
  background-size: 12px;
}
.thirteen-guest-video .swiper-button-prev{
  width: 12px;
  height: 18px;
  padding: 10px;
  background: url("../img/special/lxj-btn-l.png") no-repeat center;
  -webkit-background-size: 12px;
  background-size: 12px;
}
.thirteen-Wonderful .t-Wf-swiper .swiper-slide{
  width:32.2vw;
  position: relative;
}
.thirteen-Wonderful .t-Wf-swiper .swiper-slide img{
  display: block;
  width: 100%;
}
.thirteen-Wonderful .swiper-button-next{
  width: 12px;
  height: 18px;
  padding: 10px;
  background: url("../img/special/lxj-btn-r.png") no-repeat center;
  -webkit-background-size: 12px;
  background-size: 12px;
}
.thirteen-Wonderful .swiper-button-prev{
  width: 12px;
  height: 18px;
  padding: 10px;
  background: url("../img/special/lxj-btn-l.png") no-repeat center;
  -webkit-background-size: 12px;
  background-size: 12px;
}
.thirteen-report{
  margin-top: 0;
}




@media screen and (max-width: 1440px){
  .special-t-video{
    max-width: 1024px;
  }
  .idealists-modular:first-child{
    margin: 40px auto 80px;
  }
  .idealists-title{
    font-size: 32px;
    width: 390px;
  }
  .thirteen-title{
    font-size: 32px;
    width: 260px;
    height: 110px;
    line-height: 122px;
    margin: 30px auto 15px;
  }
  .thirteen-video{
    margin-top: -30px;
  }
  .thirteen-video .thirteen-video-con {
    margin: 20px 0 30px;
  }
  .thirteen-video .thirteen-video-con .t-thirteen-r{
    font-size: 14px;
  }
  .thirteen-video .thirteen-video-con .t-thirteen-r h4{
    font-size: 20px;
  }
}
@media screen and (max-width: 1024px){
  .special-t-video{
    margin: 0 20px;
  }
  .idealists-title{
    font-size: 22px;
    width: 280px;
  }
  .thirteen-title{
    font-size: 22px;
    width: 200px;
    height: 84px;
    line-height: 96px;
  }

  .idealists-video .idealists-video-con .i-video-r{
    font-size: 14px;
    line-height: 26px;
  }
  .i-guest-con .i-guest-txt{
    height: 156px;
  }
  .i-guest-con .i-guest-name{
    font-size: 18px;
  }
}
@media screen and (max-width: 768px){
  .special-t-video{
    margin: 0 10px;
  }
  .idealists-modular{
    padding: 10px 10px;
  }
  .idealists-live .idealists-live-video{
    width: 100%;
    margin: 40px auto 0;
  }
  .idealists-video .idealists-video-con {
    margin: 40px 0 10px;
  }
  .idealists-video .idealists-video-con .i-video-l{
    float: none;
    width: 100%;
  }
  .idealists-video .idealists-video-con .i-video-r{
    float: none;
    width: 100%;
    padding-left: 0;
    margin-top: 20px;
  }
  .idealists-process .idealists-process-list ul li .i-process-tit{
    font-size: 16px;
  }
  .idealists-guest .idealists-guest-swiper{
    margin: 40px 0 10px;
  }
  .idealists-guest .idealists-guest-swiper .swiper-slide{
    padding-top: 70px;
  }
  .idealists-guest .idealists-guest-swiper .swiper-slide img{
    width: 140px;
  }
  .thirteen-modular{
    padding: 10px 10px;
  }
  .thirteen-video .thirteen-video-con .t-thirteen-l{
    float: none;
    width: 100%;
  }
  .thirteen-video .thirteen-video-con .t-thirteen-r{
    float: none;
    width: 100%;
    padding-left: 0;
  }
  .thirteen-video .thirteen-video-con .t-thirteen-r h4{
    margin-top: 15px;
  }

}
.swiper-wrapper {
  justify-content: space-between;
}
.play-status{
  position: absolute;
  display: flex;
  align-items: center;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position-x: left;
  height:40px;
  padding-left: 50px;
  top:20px;
  left:20px;
  background-size: contain;
}
.play-status.play-ready{
  background-image: url(../img/play-ready.png);
  color: #7f3f1b;
}
.play-status.play-live{
  background-image: url(../img/play-live.png);
  color: #86050b;
}
.play-status.play-end{
  background-image: url(../img/play-end.png);
  color: #a19e9a;
}
@media screen and (max-width: 768px){
  .play-status{
    height:20px ;
    padding-left: 30px;
    top:10px;
    left:10px;
    font-size:14px;
  }

}
@media screen and (max-width: 1300px){
  .special-video-popup .special-video-wrap{
    max-width: 1200px !important;
  }
}