/*网站主题色，包含文字、背景色、边框*/
:root{
    --theme-color:#af6437;
}

.m-system-banner{
    width: 100%;
    position: relative;
}
.m-system-banner img{
    width: 100%;
}
.m-system-banner .system-banner-con{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.m-system-banner .system-banner-con .sub-container{
    height: 100%;
}
.m-system-banner .system-banner-con.textRight .sub-container{
    text-align: right;
}
.m-system-banner .system-banner-con.textRight .system-banner-txt{
    display: inline-block;
    text-align: center;
}
.m-system-banner .system-banner-con.textCenter .sub-container{
    text-align: center;
}
.m-system-banner .system-banner-con.textCenter .system-banner-txt{
    text-align: center;
}
.m-system-banner .system-banner-con .system-banner-txt{
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.m-system-banner .system-banner-con .system-banner-txt h1{
    font-size: 44px;
    color: #fff;
    font-weight: normal;
    letter-spacing: 5px;
}
.m-system-banner .system-banner-con .system-banner-txt p{
    font-size: 22px;
    color: #fff;
    line-height: 32px;
    margin: 20px auto 0;
    max-width: 1024px;
    letter-spacing: 5px;
}
.m-system-banner .system-banner-con .system-banner-txt span{
    display: block;
    font-size: 16px;
    color: #fff;
    line-height: 28px;
    margin-top: 10px;
    letter-spacing: 5px;
}


.u-tx-title{
    max-width: 600px;
    text-align: center;
    padding: 0 10px;
    margin: 100px auto 60px;
}
.u-tx-title .tx-title-tit{
    display: inline-block;
    padding: 0 30px;
    position: relative;
}
.u-tx-title .tx-title-tit h4{
    font-size: 36px;
    color: #333;
    font-weight: normal;
    position: relative;
    background: #fff;
    padding: 0 20px;
}
.u-tx-title .tx-title-tit:before{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #af6437;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.u-tx-title .tx-title-txt{
    font-size: 16px;
    color: #333;
    line-height: 24px;
    margin-top: 20px;
}

.system-con{
    width: 100%;
}
.system-con .system-item{
    padding: 100px 0 0;
}
.system-con .system-item.mb-0{
    margin-bottom: 0;
}
.system-con .system-item.pd-0{
    padding: 0;
}
.system-con .system-item.mt-0{
    margin-top: 0;
}
.m-system-programme{
    margin: 0 100px;
}
.m-system-programme .programme-item{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.m-system-programme .programme-item:hover img{
    transform: scale(1.1);
}
.m-system-programme .programme-item a{
    display: block;
    cursor: default;
}
.m-system-programme .programme-item img{
    width: 100%;
    transition: all 0.3s;
}
.m-system-programme .programme-item .programme-txt{
    padding: 40px;
}
.m-system-programme .programme-item .programme-txt .programme-name{
    font-size: 24px;
    color: #fff;
    line-height: 36px;
}
.m-system-programme .programme-item .programme-txt .programme-js{
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    margin-top: 30px;
}
.system-programme-top{
    width: 100%;
}
.system-programme-top .programme-item .programme-txt{
    max-width: 520px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.system-programme-bot{
    width: 101%;
    margin-top: 1%;
    margin-left: -0.5%;
}
.system-programme-bot .programme-item{
    float: left;
    width: 32.33%;
    margin: 0 0.5%;
    position: relative;
}
.system-programme-bot .programme-item .programme-txt{
    position: absolute;
    left: 0;
    bottom: 0;
}

.m-system-solution{
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.m-system-solution .fiber-ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.m-system-solution .fiber-ul li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 1s;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}
.m-system-solution .fiber-ul li.active{
    opacity: 1;
}
.m-system-solution .fiber-ul li video{
    width: 100%;
    object-fit: fill;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.m-system-solution .solution-list{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.m-system-solution .solution-item{
    float: left;
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    background: rgba(44,44,44,0.5);
    position: relative;
    transition: all 0.3s;
    overflow: hidden;
}
.m-system-solution .solution-item.active{
    background: rgba(44,44,44,0);
}
.m-system-solution .solution-item .showTxt{
    display: none;
    font-size: 18px;
    color: #fff;
    width: 20px;
    word-break:break-all;
    word-wrap:break-word;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.m-system-solution .solution-item .showTxt em{
    display: block;
    margin-bottom: 5px;
}
.m-system-solution .solution-item .closeFiber{
    display: none;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 34px;
    border: 2px solid #fff;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    top: 50px;
    right: 30px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s;
    transition-delay: 0.5s;
}
.m-system-solution .solution-item .closeFiber.active{
    opacity: 1;
}
.m-system-solution .solution-item .closeFiber:before{
    content: '';
    display: block;
    width: 0;
    height: 0;
    background: #fff;
    transition: all 0.3s;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 0;
}
.m-system-solution .solution-item .closeFiber i{
    font-size: 24px;
    color: #fff;
    font-style: inherit;
    position: relative;
    top: -2px;
    z-index: 2;
}
.m-system-solution .solution-item .closeFiber:hover:before{
    width: 110%;
    height: 110%;
}
.m-system-solution .solution-item .closeFiber:hover i{
    color: #af6437;
}
.m-system-solution .solution-item a{
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid rgba(255,255,255,0.3);
}
.m-system-solution .solution-item:last-child a{
    border: none;
}
.m-system-solution .solution-item .solution-con{
    padding: 50px 15%;
    position: absolute;
    left: 0;
    bottom: 20px;
}
.m-system-solution .solution-item .solution-con .solution-tit{
    font-size: 24px;
    color: #fff;
    line-height: 36px;
    transition: all 0.3s;
    position: relative;
    top: 0;
}
.m-system-solution .solution-item .solution-con .solution-txt{
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    height: 72px;
    margin-top: 20px;
    transition: all 0.3s;
    overflow: hidden;
    position: relative;
    top: 0;
    opacity: 0;
}
.m-system-solution .solution-item .solution-con .solution-txt.active{
    opacity: 1;
}
.m-system-solution .solution-item .solution-con .solution-icon{
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 34px;
    border: 2px solid #fff;
    border-radius: 100%;
    overflow: hidden;
    margin-top: 20px;
    position: relative;
}
.m-system-solution .solution-item .solution-con .solution-icon .s-icon{
    font-size: 24px;
    color: #fff;
    font-style: inherit;
    position: relative;
    top: -2px;
    z-index: 2;
}
.m-system-solution .solution-item .solution-con .solution-icon:before{
    content: '';
    display: block;
    width: 0;
    height: 0;
    background: #fff;
    transition: all 0.3s;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 0;
}
.m-system-solution .solution-item .solution-con .video-button{
    display: none;
    font-size: 14px;
    color: #af6437;
    width: 120px;
    line-height: 38px;
    text-align: center;
    border: solid 1px #af6437;
    transition: all 0.2s;
}
.m-system-solution .solution-item .solution-con .video-button:hover{
    color: #fff;
    background: #af6437;
}
.m-system-solution .solution-item:hover{
    background: rgba(44,44,44,0);
}
.m-system-solution .solution-item:hover .solution-con .solution-tit{
    top: -15px;
}
.m-system-solution .solution-item:hover .solution-con .solution-txt{
    top: -15px;
}
.m-system-solution .solution-item:hover .solution-con .solution-icon .s-icon{
    color: #af6437;
}
.m-system-solution .solution-item:hover .solution-con .solution-icon:before{
    width: 110%;
    height: 110%;
}
.m-system-pro-list ul{
    margin-bottom: 100px;
}
.m-system-pro-list ul li{
    float: left;
    width: 23%;
    margin: 1%;
    background: #e4e4e4;
}
.m-system-pro-list ul li a{
    display: block;
    border: 1px solid #fff;
    padding: 20px 0 30px;
}
.m-system-pro-list ul li img{
    display: block;
    width: 82%;
    margin: 0 auto 30px;
}
.m-system-pro-list ul li .system-pro-txt{
    height:66px;
    padding: 0 10px;
    text-align: center;
}
.m-system-pro-list ul li .system-pro-txt .system-pro-name{
    font-size: 16px;
    color: #333;
    line-height: 22px;
}
.m-system-pro-list ul li .system-pro-txt .system-pro-model{
    font-size: 14px;
    color: #333;
    margin-top: 5px;
}
.m-system-pro-list ul li:hover{
    background: #fff;
}
.m-system-pro-list ul li:hover a{
    border: 1px solid #af6437;
}
.m-system-pro-list ul li:hover .system-pro-txt  .system-pro-name{
    color: #af6437;
}

.m-system-pro-list ul li:hover .system-pro-txt  .system-pro-model{
    color: #af6437;
}


.u-details-title{
    color: #333;
}
.u-details-title.textRight{
    text-align: right;
}
.u-details-title .details-title-tit{
    font-size: 36px;
    line-height: 44px;
}
.u-details-title .details-title-txt{
    font-size: 16px;
    line-height: 28px;
    margin-top: 20px;
}
.u-details-title .details-title-txt .details-txt-p{
    padding-left: 20px;
    position: relative;
}
.u-details-title .details-title-txt .details-txt-p:before{
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background: #666;
    border-radius: 100%;
    position: absolute;
    top: 11px;
    left: 0;
}
.system-details-top{
    width: 100%;
    /*margin-top: 100px;*/
    overflow: hidden;
    position: relative;
}
.system-details-top img{
    width: 85%;
    float: right;
}
.system-details-top .details-top-txt{
    max-width: 500px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.m-ai-eyes{
    height: 540px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.m-ai-eyes .sub-container{
    height: 100%;
}
.m-ai-eyes .ai-eyes-con{
    float: right;
    max-width: 500px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.m-ai-eyes .ai-eyes-con .u-details-title {
    color: #fff;
}
.m-ai-zg{
    height: 540px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.m-ai-zg .sub-container{
    height: 100%;
}
.m-ai-zg .ai-zg-con{
    float: right;
    max-width: 500px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.m-ai-zg .ai-zg-con .u-details-title {
    color: #fff;
}

.system-details-video{
    position: relative;
    overflow: hidden;
}
.system-details-video .details-video-con{
    position: relative;
}
.system-details-video .details-video-con .detailsVideo{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.system-details-video .details-video-con .detailsVideo .closeV{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../img/closeAi.png") no-repeat center;
    -webkit-background-size: 90%;
    background-size: 90%;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
}
.system-details-video .system-playBtn{
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url("../img/tx-system-play.png") no-repeat center;
    background-size:100%;
    position: absolute;
    top: 50%;
    left: 64%;
    transform: translateY(-50%);
}
.system-details-video img{
    width: 100%;
}
.system-details-video .details-video-txt{
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 99.7%;
    padding: 40px;
    background: #fff;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
}
.system-details-video .details-video-txt img{
    display: block;
    width: initial;
    max-width: 100%;
    margin: 40px auto;
}
.system-details-video .details-video-txt dl{
    max-width: 201px;
    margin: 0 auto;
}
.system-details-video .details-video-txt dl dd{
    font-size: 16px;
    color: #333;
    line-height: 26px;
    margin: 20px 0;
    padding-left: 20px;
    position: relative;
}
.system-details-video .details-video-txt dl dd:before{
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: #af6437;
    border-radius: 100%;
    position: absolute;
    top: 11px;
    left: 0;
}

.m-system-details-security{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
}
.m-system-details-security img{
    width: 100%;
}
.m-system-details-security .sub-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
}
.details-security-con{
    height: 100%;
    padding: 100px 0;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}
.details-security-con .u-details-title{
    color: #fff;
}
.details-security-con .security-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.details-security-con.textLeft{
    text-align: left;
}
.details-security-con.textLeft .u-details-title{
    max-width: 440px;
}

.system-technology{
    padding: 150px 0;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
.system-technology .technology-list .technology-item{
    float: left;
    width: 48%;
    margin-right: 4%;
    position: relative;
    overflow: hidden;
}
.system-technology .technology-list .technology-item:last-child{
    margin-right: 0;
}
.system-technology .technology-list .technology-item a{
    display: block;
}
.system-technology .technology-list .technology-item img{
    width: 100%;
    transition: all 0.3s;
}
.system-technology .technology-list .technology-item:hover img{
    transform: scale(1.1);
}
.system-technology .technology-list .technology-item .technology-tit{
    font-size: 24px;
    color: #fff;
    line-height: 36px;
    padding: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.system-relaxed{
    margin: 0 100px;
}
.system-relaxed .relaxed-con{
    background: #f6f6f6;
    padding: 60px;
    margin-top: 100px;
    position: relative;
}
.system-relaxed .relaxed-con .relaxed-txt{
    float: left;
    width: 43%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
.system-relaxed .relaxed-con .relaxed-txt p{
    font-size: 16px;
    color: #333;
    line-height: 28px;
}
.system-relaxed .relaxed-con .relaxed-txt dl{
    width: 75%;
    margin-top: 40px;
    text-align: center;
}
.system-relaxed .relaxed-con .relaxed-txt dl dt{
    font-size: 18px;
    color: #af6437;
    margin-bottom: 40px;
    position: relative;
}
.system-relaxed .relaxed-con .relaxed-txt dl dt:before{
    content: '';
    width: 100%;
    height: 1px;
    background: #af6437;
    position: absolute;
    top: 50%;
    left: 85%;
}
.system-relaxed .relaxed-con .relaxed-txt dl dd{
    float: left;
    width: 48%;
    height: 36px;
    padding: 0 1%;
    margin: 10px 0;
    font-size: 18px;
    color: #af6437;
}
.system-relaxed .relaxed-con .relaxed-img{
    float: right;
    width: 50%;
    margin-top: -110px;
    position: relative;
    overflow: hidden;
}
.system-relaxed .relaxed-con .relaxed-img img{
    width: 100%;
}

.m-system-other{
    width: 100%;
    margin-top: 160px;
    padding-bottom: 100px;
    position: relative;
    background: #f6f6f6;
}
.m-system-other .system-other-txt{
    width: 36%;
    padding: 0 5%;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.m-system-other .system-other-img{
    width: 64%;
    margin-top: -160px;
}
.m-system-other .system-other-img img{
    width: 100%;
}
.m-system-other.imgLeft .system-other-txt{
    float: right;
    right: 0;
}
.m-system-other.imgLeft .system-other-img{
    float: left;
}
.m-system-other.imgRight .system-other-txt{
    float: left;
    left: 0;
}
.m-system-other.imgRight .system-other-img{
    float: right;
}

@media screen and (max-width: 1440px){
    .u-tx-title{
        margin: 50px auto 30px;
    }
    .u-tx-title .tx-title-tit h4{
        font-size: 28px;
    }
    .u-details-title .details-title-tit{
        font-size: 28px;
    }
    .u-details-title .details-title-txt{
        font-size: 14px;
        line-height: 24px;
    }
    .m-system-banner .system-banner-con .system-banner-txt{
        max-width: 1024px;
    }
    .m-system-banner .system-banner-con .system-banner-txt h1{
        font-size: 28px;
        line-height: 36px;
    }
    .m-system-banner .system-banner-con .system-banner-txt p{
        font-size: 14px;
        line-height: 24px;
    }
    .system-con .system-item{
        padding: 97px 0 0;
    }
    .m-system-programme{
        margin: 0 50px;
    }
    .m-system-solution{
        height: 550px;
    }
    .m-system-solution .solution-item .solution-con .solution-tit{
        font-size: 20px;
        line-height: 30px;
    }
    /*.system-details-top{*/
        /*margin-top: 50px;*/
    /*}*/
    .details-security-con{
        padding: 35px 0;
    }
    .m-ai-eyes{
        height: 420px;
    }
    .m-ai-zg{
        height: 420px;
    }
    .system-technology{
        padding: 100px 0;
    }
    .system-relaxed{
        margin: 0 50px;
    }
    .system-relaxed .relaxed-con .relaxed-img img{
        width: 610px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .m-system-other{
        margin-top: 110px;
        padding-bottom: 50px;
    }
    .m-system-other .system-other-img{
        margin-top: -110px;
    }
}
@media screen and (max-width: 1280px){
    .m-system-pro-list ul {
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 1024px){
    .u-tx-title .tx-title-tit h4{
        font-size: 24px;
        line-height: 32px;
    }
    .u-tx-title .tx-title-txt{
        font-size: 14px;
    }
    .m-system-banner{
        overflow: hidden;
    }
    .m-system-banner .system-banner-con .system-banner-txt{
        padding: 0 10px;
    }
    .m-system-programme{
        margin: 0 20px;
    }
    .m-system-programme .programme-item .programme-txt{
        padding: 20px;
    }
    .m-system-programme .programme-item .programme-txt .programme-name{
        font-size: 18px;
    }
    .m-system-programme .programme-item .programme-txt .programme-js{
        font-size: 14px;
    }
    .system-programme-top .programme-item img{
        width: 1024px;
        position: relative;
        left: 50%;
        transform: translateX(-50%) !important;
    }
    .system-programme-bot .programme-item img{
        width: 320px;
        position: relative;
        left: 50%;
        transform: translateX(-50%) !important;
    }
    .system-con .system-item{
        padding: 62px 0 0;
    }
    .m-system-solution{
        height: 480px;
    }
    .m-system-solution .solution-item .solution-con{
        padding: 20px;
    }
    .m-system-solution .solution-item .solution-con .solution-tit{
        font-size: 18px;
        line-height: 26px;
    }
    .m-system-solution .solution-item .solution-con .solution-txt{
        font-size: 14px;
    }
    .m-system-solution .solution-item .solution-con .solution-icon{
        width: 28px;
        height: 28px;
        line-height: 26px;
    }
    .u-details-title .details-title-tit{
        font-size: 24px;
        line-height: 36px;
    }
    .system-details-video .details-video-txt{
        width: 35%;
        padding: 20px;
    }
    .system-details-video .details-video-txt img{
        margin: 20px auto;
    }
    .system-details-video .details-video-txt dl dd{
        font-size: 14px;
    }
    .system-technology{
        padding: 50px 0;
    }
    .system-technology .technology-list .technology-item .technology-tit{
        font-size: 18px;
        padding: 20px;
    }
    .system-relaxed{
        margin: 0 20px;
    }
    .system-relaxed .relaxed-con{
        padding: 40px 20px;
    }
    .system-relaxed .relaxed-con .relaxed-txt p{
        font-size: 14px;
    }
    .system-relaxed .relaxed-con .relaxed-txt dl{
        margin-top: 20px;
    }
    .system-relaxed .relaxed-con .relaxed-txt dl dt{
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 20px;
    }
    .system-relaxed .relaxed-con .relaxed-txt dl dd{
        font-size: 16px;
        line-height: 26px;
    }
    .m-system-other{
        margin-top: 0;
    }
    .m-system-other .system-other-img{
        float: none;
        width: 100%;
        margin-top: 0;
    }
    .m-system-other .system-other-txt{
        float: none;
        width: 100%;
        position: inherit;
        top: inherit;
        transform: inherit;
        padding: 20px;
    }
}
@media screen and (max-width: 768px){
    .m-system-banner .system-banner-con{
        text-align: center;
        background: rgba(0,0,0,0.2);
    }
    .m-system-banner .system-banner-con .system-banner-txt h1{
        font-size: 24px;
    }
    .m-system-banner .system-banner-con .system-banner-txt p{
        margin-top: 10px;
        max-width: inherit;
    }
    .m-system-banner .system-banner-con.textRight .system-banner-txt{
        display: block;
    }
    .m-system-programme{
        margin: 0 10px;
    }
    .m-system-programme .programme-item .programme-txt{
        padding: 20px;
    }
    .system-programme-top .programme-item img{
        width: 1024px;
        position: relative;
        left: inherit;
        right: 0;
        transform: initial !important;
    }
    .m-system-solution{
        height: 600px;
    }
    .m-system-solution .solution-item{
        float: none;
        width: 100%;
        height: 25%;
    }
    .m-system-solution .solution-item a{
        border-right: none;
        border-bottom: 1px solid rgba(99,99,99,0.6);
    }
    .m-system-solution .solution-item .solution-con{
        width: 100%;
        padding: 10px 50px 10px 20px;
        box-sizing: border-box;
        bottom: initial;
        top: 50%;
        transform: translateY(-50%);
    }
    .m-system-solution .solution-item.active .solution-con{
        top: 64%;
    }
    .m-system-solution .solution-item .solution-con .solution-tit{
        font-size: 16px;
    }
    .m-system-solution .solution-item .solution-con .solution-txt{
        height: 0 !important;
        margin-top: 0;
    }
    .m-system-solution .solution-item .solution-con .solution-txt.active{
        height: auto !important;
        margin-top: 10px;
    }
    .m-system-solution .solution-item .solution-con .solution-icon{
        margin-top: 0;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
    .m-system-solution .solution-item.active .solution-con .video-button{
        display: block;
    }
    .m-system-pro-list ul li{
        width: 31.33%;
    }
    .system-details-top img{
        float: none;
        width: 100%;
    }
    .system-details-top .details-top-txt{
        padding: 20px;
        max-width: inherit;
        position: inherit;
        left: inherit;
        top: inherit;
        transform: inherit;
    }
    .m-ai-eyes{
        height: 220px;
    }
    .m-ai-zg{
        height:680px;
    }
    .m-ai-zg .ai-zg-con{
        float: none;
        top: 60%;
        transform: inherit;
    }
    .system-details-video .details-video-txt{
        position: inherit;
        top: inherit;
        left: inherit;
        width: 100%;
        height: auto;
    }
    .system-details-video .details-video-con{
        position: relative;
    }
    .system-details-video .system-playBtn{
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .system-details-video .details-video-con>img{
        width: 768px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .m-system-details-security .sub-container{
        margin: 0;
    }
    .details-security-con{
        padding: 20px 0;
    }
    .details-security-con .u-details-title{
        padding: 0 10px;
    }
    .system-technology .technology-list .technology-item{
        float: none;
        width: 100%;
        margin: 20px 0;
    }
    .system-relaxed .relaxed-con{
        margin-top: 0;
    }
    .system-relaxed .relaxed-con .relaxed-txt{
        float: none;
        width: 100%;
        position: inherit;
        top: inherit;
        transform: inherit;
        text-align: center;
    }
    .system-relaxed .relaxed-con .relaxed-txt dl{
        width: 100%;
    }
    .system-relaxed .relaxed-con .relaxed-txt dl dt:before{
        display: none;
    }
    .system-relaxed .relaxed-con .relaxed-img{
        float: none;
        width: 100%;
    }
    .m-system-solution .fiber-ul li video{
        width: auto;
        height: 100%;
    }
    .m-system-solution .solution-item .showTxt{
        width: 100%;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }
    .m-system-solution .solution-item .showTxt em{
        display: inline-block;
        margin-bottom: 0;
    }

}
@media screen and (max-width: 480px){
    .system-con .system-item{
        padding: 52px 0 0;
    }
    .system-programme-bot{
        width: 100%;
        margin-left: 0;
        margin-top: 0;
    }
    .system-programme-bot .programme-item{
        float: none;
        width: 100%;
        margin: 10px 0 0;
    }
    .system-programme-bot .programme-item img{
        width: 100%;
        position: inherit;
        left: inherit;
        transform: inherit !important;
    }
    .m-system-pro-list ul li{
        width: 48%;
    }
    .m-system-pro-list ul li img {
        margin: 0 auto 15px;
    }
    .system-relaxed {
        margin: 0 10px;
    }
    .system-details-video .details-video-con>img{
        width: 480px;
    }
    .m-ai-zg {
        height: 520px;
    }
}
