.J-copyCon.copyCon
    .modal-dialog
        p 链接复制成功，快去分享吧！
        a.closeCopy(href="javascript:;") 确定
.J-prog-popup.prog-popup
    .txt-table
        .txt-table-cell
            .J-prog-popup-con.prog-popup-con
                p 请长按识别进入<br/>CASA COLMO小程序
                img(src="static/img/mob-prod.jpg")

.m-footer
    .footer-wrap.pt-100.pb-60
        .index-news-link.clear
            .news-link-item.fl
                a(href="https://colmo.tmall.com/" target="_blank")
                    .n-tit.fs-24 线上购买渠道
                    .n-txt.fs-16.mt-15.pb-20 官方旗舰店
            .news-link-item.fl
                a(href="store-list.html")
                    .n-tit.fs-24 线下体验店
                    .n-txt.fs-16.mt-15.pb-20 欢迎您的莅临
            .news-link-item.fl
                a(href="javascript:;")
                    .n-tit.fs-24 服务支持
                    .n-txt.fs-16.mt-15.pb-20 为您提供尊享服务体验
        .footer-con.clear
            .footer-l.fl
                a.f-lk01(href="login.html") 成为会员
                .f-txt.fs-28.mt-30 加入COLMO会员<br/>收获专属于您的会员权益！
                a.u-Btn.mt-60(href="register.html") 快速注册会员
            .footer-r.fr.center
                img(src="static/img/footer-code.png")
                span.mt-20 更多权益，请扫描二维码了解详情
            .footer-tel.fr
                .tel-sp(style="background-image:url('static/img/footer-tel-icon.png')") 全国客服服务热线
                a(href="tel:4009699999") 400-969-9999
    .footer-copy
        .footer-con.clear
            .J-goTop.goTop.fr
                a(href="javascript:;")
                    span
                    | 回到顶部
            .footer-share.fr
                a.f-s02(href="javascript:;" title="分享到微信")
                    img(src="static/img/f-icon-wechat.png")
                    .wxImg
                        img(src="static/img/share-wximg.jpg")
                a.f-s03(href="http://service.weibo.com/share/share.php?appkey=1881139527&amp;url=http://www.colmo.com.cn/index/news-list/news-detail.html?uuid=&amp;title=分享 '（分享自@COLMO官方网站）&amp;source=&amp;sourceUrl=&amp;content=页面编码gb2312|utf-8默认gb2312&amp;pic=#_loginLayer_1545987518650'" title="分享到新浪微博" data-cmd="tsina")
                    img(src="static/img/f-icon-weibo.png")
                a.f-s01(href="https://colmo.tmall.com/")
            .copy-txt.fl
                p COLMO 2019 ALL Rights Reserved
                p 沪ICP备19024288号-2
                p
                    a(href="agreement.html") 隐私政策
