.header-bgColor
.m-header
    .cm-con.pt-40
        .header-con.pr-100.pl-100.clear
            .mobile-header
                .J-mobile-bg.mobile-bg
                .mobile-header-con
                    .mob-signIn
                        a.mob-signInBtn(href="javascript:;")
                            img(src="static/img/userHead.png")
                        ul
                            li
                                a(href="information.html") 个人中心
                            li
                                a(href="javascript:;") 退出
                    .J-mob-search.mob-search
                        a.J-m-showBtn.m-showBtn(href="javascript:;")
                        .J-mob-search-wrap.mob-search-wrap
                            .mob-search-con
                                .mob-search-input
                                    input.m-s-btn(type="button" value="")
                                    input.m-s-int(type="text" value="" placeholder="输入你想搜索的内容")
                                    a.J-m-closeBtn.m-closeBtn(href="javascript:;")
                                dl
                                    dd
                                        a(href="javascript:;") 品牌活动
                                    dd
                                        a(href="javascript:;") 线下门店
                                    dd
                                        a(href="javascript:;") 厨房家电
                                    dd
                                        a(href="javascript:;") 品牌新闻
                                    dd
                                        a(href="javascript:;") 探索COLMO

                    .J-mob-menu-btn.mob-menu-btn
                        a.J-menu-btn.menu-btn(href="javascript:;")
                    .J-mob-menu-list.mob-menu-list
                        .mob-menu-list-scroll
                            ul
                                li
                                    a.J-a-link.a-link(href="javascript:;") 产品
                                    .J-mob-nav-child.mob-nav-child
                                        .mob-nav-child-item
                                            span 场景
                                            .mob-link.clear
                                                .mob-link-t
                                                    a(href="scene-qiju.html") 起居
                                                .mob-link-t
                                                    a(href="scene-chufang.html") 厨房
                                                .mob-link-t
                                                    a(href="scene-xihu.html") 洗护
                                                .mob-link-t
                                                    a(href="scene-weiyu.html") 卫浴
                                        .mob-nav-child-item
                                            span 品类
                                            .mob-link.clear
                                                .mob-link-t
                                                    a(href="product-kongtiao.html") 空调
                                                .mob-link-t
                                                    a(href="product-xiyiji.html") 洗衣机
                                                .mob-link-t
                                                    a(href="product-bingxiang.html") 冰箱
                                                .mob-link-t
                                                    a(href="product-reshuiqi.html") 热水器
                                                .mob-link-t
                                                    a(href="product-chufangdianqi.html") 厨房电器
                                                .mob-link-t
                                                    a(href="product-shuiba.html") 水吧
                                                .mob-link-t
                                                    a(href="bingxiang.html") 生活家电

                                        .mob-nav-child-item
                                            span 套系
                                            .mob-link.clear
                                                .mob-link-t
                                                    a(href="system-BLANC.html") BLANC套系
                                                .mob-link-t
                                                    a(href="system-TURING.html") TURING套系
                                li
                                    a.J-a-link.a-link(href="javascript:;") 购买
                                    .J-mob-nav-child.mob-nav-child
                                        dl
                                            dd
                                                a(href="https://colmo.tmall.com/") 线上商城
                                            dd
                                                a(href="store-list.html") 线下门店
                                li
                                    a.J-a-link.a-link(href="javascript:;") 服务
                                    .J-mob-nav-child.mob-nav-child
                                        dl
                                            dd
                                                a(href="http://www.colmo.com.cn/index/service/appointment.html") 预约安装/保修
                                            dd
                                                a(href="http://www.colmo.com.cn/index/service/schedule.html") 预约进度查询
                                            dd
                                                a(href="http://www.colmo.com.cn/index/service/policy.html") 服务政策
                                            dd
                                                a(href="http://www.colmo.com.cn/index/FAQ.html") 常见问题
                                            dd
                                                a(href="http://www.colmo.com.cn/index/manual-download.html") 使用手册
                                li
                                    a.J-a-link.a-link(href="javascript:;") 会员
                                    .J-mob-nav-child.mob-nav-child
                                        dl
                                            dd
                                                a(href="huiyuan.html") 入会有礼
                                            dd
                                                a.J-progBtn(href="javascript:;") 晒单有礼
                                            dd
                                                a(href="private-activities.html") 私享活动
                                            dd
                                                a(href="super-Individual.html") 全球超级个体

                                li
                                    a.J-a-link.a-link(href="javascript:;") 品牌
                                    .J-mob-nav-child.mob-nav-child
                                        dl
                                            dd
                                                a(href="tansuo-index.html") 探索COLMO
                                            dd
                                                a(href="brand-activity.html") 品牌活动
                                            dd
                                                a(href="news-list.html") 品牌新闻
            .header-logo.fl
                h1
                    a(href="index.html")
                        img(src="static/img/logo.png")
            .header-link.fr
                ul.J-first-nav.first-nav.fl
                    li
                        a.f(href="javascript:;") 产品
                        .header-child-item
                            .J-nav-link1.nav-link1.mt-20
                                ul.clear
                                    li
                                        a(href="javascript:;")
                                            img.bg-fk(src="static/img/nav-bg.png")
                                            .liWrap
                                                .txt-table
                                                    .txt-table-cell
                                                        img.Img-1(src="static/img/nav-pro-icon01.png")
                                                        img.Img-2(src="static/img/nav-pro-icon01-active.png")
                                                        span 场景
                                    li
                                        a(href="product-kongtiao.html")
                                            img.bg-fk(src="static/img/nav-bg.png")
                                            .liWrap
                                                .txt-table
                                                    .txt-table-cell
                                                        img.Img-1(src="static/img/nav-pro-icon02.png")
                                                        img.Img-2(src="static/img/nav-pro-icon02-active.png")
                                                        span 空调
                                    li
                                        a(href="product-xiyiji.html")
                                            img.bg-fk(src="static/img/nav-bg.png")
                                            .liWrap
                                                .txt-table
                                                    .txt-table-cell
                                                        img.Img-1(src="static/img/nav-pro-icon03.png")
                                                        img.Img-2(src="static/img/nav-pro-icon03-active.png")
                                                        span 洗衣机
                                    li
                                        a(href="product-bingxiang.html")
                                            img.bg-fk(src="static/img/nav-bg.png")
                                            .liWrap
                                                .txt-table
                                                    .txt-table-cell
                                                        img.Img-1(src="static/img/nav-pro-icon04.png")
                                                        img.Img-2(src="static/img/nav-pro-icon04-active.png")
                                                        span 冰箱
                                    li
                                        a(href="product-reshuiqi.html")
                                            img.bg-fk(src="static/img/nav-bg.png")
                                            .liWrap
                                                .txt-table
                                                    .txt-table-cell
                                                        img.Img-1(src="static/img/nav-pro-icon05.png")
                                                        img.Img-2(src="static/img/nav-pro-icon05-active.png")
                                                        span 热水器
                                    li
                                        a(href="product-chufangdianqi.html")
                                            img.bg-fk(src="static/img/nav-bg.png")
                                            .liWrap
                                                .txt-table
                                                    .txt-table-cell
                                                        img.Img-1(src="static/img/nav-pro-icon06.png")
                                                        img.Img-2(src="static/img/nav-pro-icon06-active.png")
                                                        span 厨房电器
                                    li
                                        a(href="product-shuiba.html")
                                            img.bg-fk(src="static/img/nav-bg.png")
                                            .liWrap
                                                .txt-table
                                                    .txt-table-cell
                                                        img.Img-1(src="static/img/nav-pro-icon07.png")
                                                        img.Img-2(src="static/img/nav-pro-icon07-active.png")
                                                        span 水吧
                                    li
                                        a(href="bingxiang.html")
                                            img.bg-fk(src="static/img/nav-bg.png")
                                            .liWrap
                                                .txt-table
                                                    .txt-table-cell
                                                        img.Img-1(src="static/img/nav-pro-icon08.png")
                                                        img.Img-2(src="static/img/nav-pro-icon08-active.png")
                                                        span 生活家电
                            .J-nav-link2.nav-link2
                                ul.clear
                                    li
                                        a(href="system-BLANC.html")
                                            img(src="static/img/nav-pro-img01.jpg")
                                            span BLANC套系
                                    li
                                        a(href="system-TURING.html")
                                            img(src="static/img/nav-pro-img02.jpg")
                                            span TURING套系
                            .J-nav-link3.nav-link3
                                .nav-link3-tx.active
                                    ul.J-nav-link3-ul.nav-link3-ul.first-ul.clear
                                        li
                                            a(href="scene-qiju.html")
                                                img(src="static/img/nav-pro-link01.png")
                                                .nav-link3-txt
                                                    .txt-table
                                                        .txt-table-cell
                                                            span.t-ch 起居
                                                            span.t-en Daily living
                                        li
                                            a(href="scene-xihu.html")
                                                img(src="static/img/nav-pro-link02.png")
                                                .nav-link3-txt
                                                    .txt-table
                                                        .txt-table-cell
                                                            span.t-ch 洗护
                                                            span.t-en Wash and care
                                        li
                                            a(href="scene-chufang.html")
                                                img(src="static/img/nav-pro-link03.png")
                                                .nav-link3-txt
                                                    .txt-table
                                                        .txt-table-cell
                                                            span.t-ch 厨房
                                                            span.t-en Kitchen
                                        li
                                            a(href="scene-weiyu.html")
                                                img(src="static/img/nav-pro-link04.png")
                                                .nav-link3-txt
                                                    .txt-table
                                                        .txt-table-cell
                                                            span.t-ch 卫浴
                                                            span.t-en BathRoom
                                    .J-nav-link3-child.nav-link3-child
                                        .J-navLink3-item.nav-link3-item.active
                                            .navLink3-item-wrap
                                                .swiper-container.J-nav-container
                                                    .swiper-wrapper
                                                        .swiper-slide.noSwiping
                                                            a(href="product-kongtiao.html")
                                                                img(src="static/img/nav-pro-child09.png")
                                                                span 空调
                                                        .swiper-slide.noSwiping
                                                            a(href="bingxiang.html")
                                                                img(src="static/img/nav-pro-child05.png")
                                                                span 管线机
                                                        .swiper-slide.noSwiping
                                                            a(href="product-kongtiao.html")
                                                                img(src="static/img/nav-pro-child09.png")
                                                                span 空调
                                                        .swiper-slide.noSwiping
                                                            a(href="bingxiang.html")
                                                                img(src="static/img/nav-pro-child05.png")
                                                                span 管线机
                                                        .swiper-slide.noSwiping
                                                            a(href="product-kongtiao.html")
                                                                img(src="static/img/nav-pro-child09.png")
                                                                span 空调
                                                        .swiper-slide.noSwiping
                                                            a(href="bingxiang.html")
                                                                img(src="static/img/nav-pro-child05.png")
                                                                span 管线机
                                                        .swiper-slide.noSwiping
                                                            a(href="product-kongtiao.html")
                                                                img(src="static/img/nav-pro-child09.png")
                                                                span 空调
                                                        .swiper-slide.noSwiping
                                                            a(href="bingxiang.html")
                                                                img(src="static/img/nav-pro-child05.png")
                                                                span 管线机
                                                        .swiper-slide.noSwiping
                                                            a(href="product-kongtiao.html")
                                                                img(src="static/img/nav-pro-child09.png")
                                                                span 空调
                                                        .swiper-slide.noSwiping
                                                            a(href="bingxiang.html")
                                                                img(src="static/img/nav-pro-child05.png")
                                                                span 管线机
                                            .swiper-button-next.btn-next.link3-next
                                            .swiper-button-prev.btn-prev.link3-prev
                                        .J-navLink3-item.nav-link3-item
                                            .navLink3-item-wrap
                                                .swiper-container.J-nav-container
                                                    .swiper-wrapper
                                                        .swiper-slide.noSwiping
                                                            a(href="product-xiyiji.html")
                                                                img(src="static/img/nav-pro-child10.png")
                                                                span 洗衣机
                                                        .swiper-slide.noSwiping
                                                            a(href="bingxiang.html")
                                                                img(src="static/img/nav-pro-child10.png")
                                                                span 洗干套系
                                                        .swiper-slide.noSwiping
                                                            a(href="bingxiang.html")
                                                                img(src="static/img/nav-pro-child10.png")
                                                                span 干衣机
                                            .swiper-button-next.btn-next.link3-next
                                            .swiper-button-prev.btn-prev.link3-prev
                                        .J-navLink3-item.nav-link3-item
                                            .navLink3-item-wrap
                                                .swiper-container.J-nav-container
                                                    .swiper-wrapper
                                                        .swiper-slide.noSwiping
                                                            a(href="product-bingxiang.html")
                                                                img(src="static/img/nav-pro-child01.png")
                                                                span 冰箱
                                                        .swiper-slide.noSwiping
                                                            a(href="bingxiang.html")
                                                                img(src="static/img/nav-pro-child02.png")
                                                                span 油烟机
                                                        .swiper-slide.noSwiping
                                                            a(href="bingxiang.html")
                                                                img(src="static/img/nav-pro-child03.png")
                                                                span 灶具
                                                        .swiper-slide.noSwiping
                                                            a(href="product-xiwanji.html")
                                                                img(src="static/img/nav-pro-child04.png")
                                                                span 洗碗机
                                                        .swiper-slide.noSwiping
                                                            a(href="bingxiang.html")
                                                                img(src="static/img/nav-pro-child05.png")
                                                                span 管线机
                                                        .swiper-slide.noSwiping
                                                            a(href="bingxiang.html")
                                                                img(src="static/img/nav-pro-child11.png")
                                                                span 净水器
                                                        .swiper-slide.noSwiping
                                                            a(href="product-zhufanjiqiren.html")
                                                                img(src="static/img/nav-pro-child08.png")
                                                                span 煮饭机器人
                                            .swiper-button-next.btn-next.link3-next
                                            .swiper-button-prev.btn-prev.link3-prev
                                        .J-navLink3-item.nav-link3-item
                                            .navLink3-item-wrap
                                                .swiper-container.J-nav-container
                                                    .swiper-wrapper
                                                        .swiper-slide.noSwiping
                                                            a(href="product-reshuiqi.html")
                                                                img(src="static/img/nav-pro-child12.png")
                                                                span 热水器
                                                        .swiper-slide.noSwiping
                                                            a(href="product-reshuiqi.html")
                                                                img(src="static/img/nav-pro-child12.png")
                                                                span 热水器
                                                        .swiper-slide.noSwiping
                                                            a(href="product-reshuiqi.html")
                                                                img(src="static/img/nav-pro-child12.png")
                                                                span 热水器
                                            .swiper-button-next.btn-next.link3-next
                                            .swiper-button-prev.btn-prev.link3-prev

                    li
                        a.f(href="javascript:;") 购买
                        .header-child-item
                            .J-nav-link3.nav-link3.nav-link3-other
                                .nav-link3-tx.active
                                    ul.J-nav-link3-ul.nav-link3-ul.clear
                                        li
                                            a(href="https://colmo.tmall.com/" target="_blank")
                                                img(src="static/img/nav-buy-link01.png")
                                                .nav-link3-txt
                                                    .txt-table
                                                        .txt-table-cell
                                                            span.t-ch 线上商城
                                        li
                                            a(href="store-list.html")
                                                img(src="static/img/nav-buy-link02.png")
                                                .nav-link3-txt
                                                    .txt-table
                                                        .txt-table-cell
                                                            span.t-ch 线下门店
                    li
                        a.f(href="javascript:;") 服务
                        .header-child-item
                            .J-nav-link3.nav-link3.nav-link3-other
                                .nav-link3-tx.active
                                    ul.J-nav-link3-ul.nav-link3-ul.clear
                                        li
                                            a(href="http://www.colmo.com.cn/index/service/appointment.html")
                                                img(src="static/img/nav-ser-link01.png")
                                                .nav-link3-txt
                                                    .txt-table
                                                        .txt-table-cell
                                                            span.t-ch 预约安装/保修
                                        li
                                            a(href="http://www.colmo.com.cn/index/service/schedule.html")
                                                img(src="static/img/nav-ser-link05.png")
                                                .nav-link3-txt
                                                    .txt-table
                                                        .txt-table-cell
                                                            span.t-ch 预约进度查询
                                        li
                                            a(href="http://www.colmo.com.cn/index/service/policy.html")
                                                img(src="static/img/nav-ser-link02.png")
                                                .nav-link3-txt
                                                    .txt-table
                                                        .txt-table-cell
                                                            span.t-ch 服务政策
                                        li
                                            a(href="http://www.colmo.com.cn/index/FAQ.html")
                                                img(src="static/img/nav-ser-link03.png")
                                                .nav-link3-txt
                                                    .txt-table
                                                        .txt-table-cell
                                                            span.t-ch 常见问题
                                        li
                                            a(href="http://www.colmo.com.cn/index/manual-download.html")
                                                img(src="static/img/nav-ser-link04.png")
                                                .nav-link3-txt
                                                    .txt-table
                                                        .txt-table-cell
                                                            span.t-ch 使用手册
                    li
                        a.f(href="javascript:;") 会员
                        .header-child-item
                            .J-nav-link3.nav-link3.nav-link3-other
                                .nav-link3-tx.active
                                    ul.J-nav-link3-ul.nav-link3-ul.clear
                                        li
                                            a(href="huiyuan.html")
                                                img(src="static/img/nav-member-link02.png")
                                                .nav-link3-txt
                                                    .txt-table
                                                        .txt-table-cell
                                                            span.t-ch 入会有礼
                                        li.qr_con
                                            a(href="javascript:;")
                                                img(src="static/img/nav-member-link06.png")
                                                .nav-link3-txt
                                                    .txt-table
                                                        .txt-table-cell
                                                            span.t-ch 晒单有礼
                                                .nav-QR
                                                    .txt-table
                                                        .txt-table-cell
                                                            img(src="static/img/mob-prod.jpg")
                                                            span 微信扫描二维码<br/>进入CASA COLMO小程序
                                        li
                                            a(href="private-activities.html")
                                                img(src="static/img/nav-member-link05.png")
                                                .nav-link3-txt
                                                    .txt-table
                                                        .txt-table-cell
                                                            span.t-ch 私享活动
                                        li
                                            a(href="super-Individual.html")
                                                img(src="static/img/nav-member-link04.png")
                                                .nav-link3-txt
                                                    .txt-table
                                                        .txt-table-cell
                                                            span.t-ch 全球超级个体


                    li
                        a.f(href="javascript:;") 品牌
                        .header-child-item
                            .J-nav-link3.nav-link3.nav-link3-other
                                .nav-link3-tx.active
                                    ul.J-nav-link3-ul.nav-link3-ul.clear
                                        li
                                            a(href="tansuo-index.html")
                                                img(src="static/img/nav-pinpai-link03.png")
                                                .nav-link3-txt
                                                    .txt-table
                                                        .txt-table-cell
                                                            span.t-ch 探索COLMO
                                        li
                                            a(href="brand-activity.html")
                                                img(src="static/img/nav-pinpai-link04.png")
                                                .nav-link3-txt
                                                    .txt-table
                                                        .txt-table-cell
                                                            span.t-ch 品牌活动
                                        li
                                            a(href="news-list.html")
                                                img(src="static/img/nav-pinpai-link01.png")
                                                .nav-link3-txt
                                                    .txt-table
                                                        .txt-table-cell
                                                            span.t-ch 品牌新闻
                .signIn.fl.ml-20
                    a.signInBtn(href="login.html") 登录\注册
                    .userToggle
                        .userHead
                            img(src="static/img/userHead.png")
                        ul
                            li
                                a(href="information.html") 个人中心
                            li
                                a(href="javascript:;") 退出
                .J-search.search.fl
                    a.tm(href="https://colmo.tmall.com/" target="_blank")
                        img(src="static/img/f-icon-tm.png")
                        img.hover(src="static/img/tmall-hover.png")
                    a.J-sc-btn.sc-btn(href="javascript:;")
                        img(src="static/img/h-icon-serch.png")
                    .J-search-popup.search-popup
                        input.J-sp-input.sp-input(type="text" value="" placeholder="大家都在搜索")
                        input.J-sp-btn.sp-btn(type="button" value="")
                        dl
                            dd
                                a(href="javascript:;") BLANC洗衣机
                            dd
                                a(href="javascript:;") TURING空调柜机
                            dd
                                a(href="javascript:;") 探索COLMO
                            dd
                                a(href="javascript:;") 帮助中心
                            dd
                                a(href="javascript:;") 全球超级个体
