doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="format-detection" content="telephone=no")
    <!--force webkit on 360-->
    meta(name="renderer" content="webkit")

    meta(name="force-rendering" content="webkit")
    <!--force edge on IE-->

    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="msapplication-tap-highlight" content="no")
    meta(name="full-screen" content="yes")
    meta(name="x5-fullscreen" content="true")
    meta(name="360-fullscreen" content="true")
    meta(name="screen-orientation" content="portrait")
    meta(name="x5-orientation" content="portrait")
    meta(name="x5-page-mode" content="app")
    block title
      title
    block style

    <!--[if !IE]><!-->
    link(rel='stylesheet',type='text/css',href='static/css/swiper-3.4.0.min.css')
    <!--<![endif]-->

    <!--[if IE]>
    link(rel='stylesheet',type='text/css',href='static/css/swiper-2.7.6.min.css')
    <![endif]-->

    link(rel='stylesheet',type='text/css',href='static/css/animate.css')
    link(rel='stylesheet',type='text/css',href='static/css/reset.css')
    link(rel='stylesheet',type='text/css',href='static/css/common.css')
    link(rel='stylesheet',type='text/css',href='static/css/h.css')


  body
    .pageCon
      block content


    script(type='text/javascript',src='vendor/js/vendor.js')

    <!--[if !IE]><!-->
    script(type='text/javascript',src='static/js/swiper-3.4.0.min.js')
    <!--<![endif]-->

    <!--[if IE]>
    script(type='text/javascript',src='static/js/swiper-2.7.6.min.js')
    <![endif]-->

    script(type='text/javascript',src='static/js/header.js')
    script(type='text/javascript',src='static/js/content.js')
    script(type='text/javascript',src='static/js/cookies.js')


    block script