.sub-banner
    .cm-con.mr-100.ml-100
        .sub-banner-con
            img(src="s/images/sub-banner01.jpg")
            .sub-banner-txt
                .t
                    .c
                        h1 厨房美学